.c-panel
    .c-panel__header
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    h2.c-toolbar-title Panel title
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        +c-button({}) Button Label
                        +c-button({skin: 'primary'}) Button Label
    .c-panel__body
        p Panel content
