extends /templates/_layouts/default

block append pageVariables
    - var moduleTitle = "Tools - Contracts"
    - var view = "grid"

block content
    include /templates/prototypes/tools/_includes/contracts
