extends /templates/prototypes/_layouts/default-alt

block append pageVariables
    - var moduleTitle = "Dashboard"
    - var view = "grid"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar
            include /templates/prototypes/tools/_includes/side-menu

        .c-app-layout-inner__content
            include /templates/prototypes/tools/_includes/contracts
