extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Tools - Contracts"
    - var view = "list"

block content
    include /templates/prototypes/tools/_includes/contracts
