extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Dashboard"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar
            include /templates/prototypes/tools/_includes/side-menu

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .u-scroll-wrapper-body
                    .o-container
                        .o-container-vertical
