+c-button({})(data-tooltip="tooltip-1" data-tooltip-placement="right") Trigger a tooltip - Right
.c-tooltip#tooltip-1(role="tooltip")
    | This is a tooltip
    .c-tooltip__arrow(data-popper-arrow)

