.c-toolbar
    .c-toolbar__right
        +c-button({})(data-tooltip="tooltip-2" data-tooltip-placement="left") Trigger a tooltip - Left
        .c-tooltip#tooltip-2(role="tooltip")
            | This is a tooltip
            .c-tooltip__arrow(data-popper-arrow)

