div(style="padding-top: 3.2rem;")
    +c-button({})(data-tooltip="tooltip-3" data-tooltip-placement="top") Trigger a tooltip - Top
    .c-tooltip#tooltip-3(role="tooltip")
        | This is a tooltip
        .c-tooltip__arrow(data-popper-arrow)

