div(style="padding-bottom: 3.2rem;")
    +c-button({})(data-tooltip="tooltip-4" data-tooltip-placement="bottom") Trigger a tooltip - Bottom
    .c-tooltip#tooltip-4(role="tooltip")
        | This is a tooltip
        .c-tooltip__arrow(data-popper-arrow)

