.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label(for="selectId2") Label
        .o-form-group__controls
            .c-select-holder
                select.c-select#selectId2
                    optgroup(label="Group 1")
                        option Item 1
                        option Item 2
                        option Item 3
                    optgroup(label="Group 2")
                        option Item 1
                        option Item 2