div(style="margin-top: 120px;")
    .c-navbar.c-navbar--bordered-top
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    h2.c-toolbar__title Toolbar title
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        +c-button({ icon: 'add' }) Button label
                        +c-button({ icon: 'edit' }) Button label
