extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Dashboard"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar.u-position-fixed
            include /templates/prototypes/account/_includes/side-menu

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .o-container.o-container--large
                    .u-spacer-bottom-l.u-spacer-top-l 
                        h1.c-h2 Bienvenue sur votre espace membre
                    .dynamic-dashboard--grid.u-spacer-bottom-l
                        .c-panel
                            .c-panel__body
                                .c-content
                                    p.u-m-t-0.u-spacer-bottom-xs Des questions ? Contactez l'un de nos conseillers. Vous pouvez aussi souscrire à une part coopérative.
                                    .c-button-toolbar.wrap
                                        +c-button({skin: 'highlights',layout: 'text-icon', icon: 'external-link'}) Contactez-nous
                                        +c-button({skin: 'secondary', layout: 'text-icon', icon: 'external-link'}) Souscrire une part
                        .communication.c-card.c-card__banner(data-gradient style="--bckg-color: #228860; --bckg-color-rgb: 0, 0, 0; --title-color: #FFBC1A; --subtitle-color: #fff; --background: url('../images/banners/202212/min-banner-december-tree-2022-dsktp@1x.jpg'); --background-r: url('../images/banners/202212/min-banner-december-tree-2022-dsktp@2x.jpg'); --gradient-step-1-pos: 15%; --gradient-step-1-opacity: 0.345; --gradient-step-2-pos: 85%; --gradient-step-2-opacity: 0.20; --gradient-color: 34, 135, 95;")
                                .c-card__banner--text
                                    .wrap
                                        p.sub-title Smart vous<br> souhaite de
                                        p.main-title.c-h3 joyeuses fêtes<br> de fin d'année
                    include /templates/prototypes/_includes/news