
extends /templates/prototypes/_layouts/default-client

block append pageVariables
    - var moduleTitle = "Dashboard Clients"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar.u-position-fixed
            div.u-spacer-bottom-l
                +c-status-pill({skin: 'client', nodot:true}) Espace client
            include /templates/prototypes/account/_includes/side-menu-client

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .o-container.o-container--large
                    .u-spacer-bottom-l.u-spacer-top-l 
                        h1.c-h2 Bienvenue sur votre espace client
                    .dynamic-dashboard--grid.u-spacer-bottom-l

                        .c-panel
                            .c-panel__body
                                .c-content
                                    p.u-m-t-0.u-m-b-0 Des question ? Contactez le service client.
                                    .c-button-toolbar.wrap
                                        +c-button({skin: 'primary',layout: 'text-icon', icon: 'external-link'}) Contactez-nous
                        .theme-clients
                            .c-panel
                                .c-panel__body
                                    .c-content
                                        p.u-m-t-0.u-m-b-0 Vos informations d'entreprise
                                        .o-flex.o-flex--justify-between
                                            div
                                                p.c-body-2.u-spacer-bottom-xs Dénomination
                                                p.u-m-t-0.u-m-b-0.u-text-bold Lumbini S.A.R.L 
                                            div
                                                p.c-body-2.u-spacer-bottom-xs Référence
                                                div.o-flex.o-flex--vertical-center
                                                    p#ref.u-m-t-0.u-m-b-0.u-text-bold SmartBE-050-623
                                                    +c-button({skin: 'primary', layout: 'icon-only', icon: 'copy', size: 'small'})(data-action="copy" data-action-trad="copied" data-copy-content="#ref" data-tooltip="tooltip-2" data-tooltip-placement="left" class="u-spacer-left-xs") Copier la référence client
                                                    .c-tooltip#tooltip-2(role="tooltip")
                                                        span Copy to clipboard
                                                        .c-tooltip__arrow(data-popper-arrow)
                    include /templates/prototypes/_includes/news