extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Dashboard"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar.u-position-fixed
            include /templates/prototypes/account/_includes/side-menu

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .o-container.o-container--large
                    .u-spacer-bottom-l.u-spacer-top-l 
                        h1.c-h2 Bienvenue sur votre espace membre
                    .dynamic-dashboard--grid.u-spacer-bottom-l
                        .communication.w-30.c-card.c-card__banner.card__banner--ag(data-gradient style="--bckg-color: #744DFF; --bckg-color-rgb: 116, 77, 255; --title-color: #fff; --subtitle-color: #fff; --background: url('../images/banners/202305/banner-mai-2023-ag.png'); --background-r: url('../images/banners/202305/banner-mai-2023-ag-2x.png');")
                            .c-card__banner--text
                                .wrap
                                    p.main-title.c-h4 Assemblée générale <span class="divider">|</span> 20 juin <span class="divider divider--off">|</span> <span class="sup-title">Anvers Liège Bxl</span>
                                    .flex.u-spacer-top
                                        +c-button({skin: 'secondary'}) Je vote
                                        +c-button({skin: 'secondary',layout: 'text-icon', icon: 'external-link'}) Découvrez le programme
                        .c-panel
                            .c-panel__body
                                .c-content
                                    p.u-m-t-0.u-spacer-bottom-xs Veuillez accepter notre nouveaux contrat d'utilisation
                                    .c-button-toolbar.wrap
                                        +c-button({skin: 'highlights',layout: 'text-icon', icon: 'external-link'}) Voir le contrat d'utilisation
                        .c-panel
                            .c-panel__body
                                .c-content
                                    p.u-m-t-0.u-spacer-bottom-xs Vous pouvez souscrire à une part coopérative.
                                    .c-button-toolbar.wrap
                                        +c-button({skin: 'secondary', layout: 'text-icon', icon: 'external-link'}) Souscrire une part
                    include /templates/prototypes/_includes/news