extends /templates/prototypes/_layouts/default-alt

block append pageVariables
    - var moduleTitle = "Account - Homepage"

block content
    .c-app-layout-inner
        .c-app-layout-inner__content
            .c-error-page.u-content-flex
                span.c-error-page__code Hi Sophie!
                h4.c-error-page__title This is your Super User homepage.
                p.c-error-page__desc TODO This surely shouldn't be a c-error-page.
                +c-button({ icon: 'external-link', layout: 'text-icon', href: '/prototypes/old-desk/advisor/activities.html' }) See the advisor dashboard
