extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Account - Homepage"

block content
    .u-scroll-wrapper-body
        .o-container.o-container--large
            .o-container-vertical
                .o-container.o-container--medium
                    include /templates/prototypes/_includes/user-homepage
