extends /templates/prototypes/_layouts/nav-at-top

block append pageVariables
    - var moduleTitle = "Account - Homepage"

block content
    .c-app-layout-inner
        .c-app-layout-inner__content
            .o-container-vertical
                .o-container.o-container--medium
                    include /templates/prototypes/_includes/user-homepage
