include ../../../../core/templates/mixins/icon
include /templates/_mixins/all


.u-spacer-bottom-l.u-spacer-top-l 
    h1.c-h2 Bienvenue sur votre espace
.o-grid
    .c-panel.o-grid-col-12.o-grid-col-bp2-7.o-grid-col-bp2m-12.o-grid-col-bp3-7.o-grid-col-bp4-8.u-spacer-bottom-l
        .c-panel__body
            .c-content
                p.u-m-0 Des questions ? Contactez l'un de nos conseillers. Vous pouvez aussi souscrire à une part coopérative.
                .c-button-toolbar.wrap
                    +c-button({skin: 'highlights',layout: 'text-icon', icon: 'external-link'}) Contactez-nous
                    +c-button({skin: 'secondary', layout: 'text-icon', icon: 'external-link'}) Souscrire une part
    .c-card.c-card__banner.o-grid-col-12.o-grid-col-bp2-5.o-grid-col-bp2m-12.o-grid-col-bp3-5.o-grid-col-bp4-4.u-spacer-bottom-l(data-gradient style="--bckg-color: #228860; --title-color: #FFBC1A; --background: url('../images/banner-december-2022-1.png'); --gradient-step-1-pos: 15%; --gradient-step-1-opacity: 0.275; --gradient-step-2-pos: 85%; --gradient-step-2-opacity: 0.10; --gradient-color: 34, 135, 95;")
            .c-card__banner--text
                .wrap
                    p.sub-title Smart vous<br> souhaite de
                    p.main-title.c-h3 joyeuses fêtes<br> de fin d'année
.u-spacer-bottom-l 
    .c-panel
        .c-panel__header
            .c-toolbar
                .c-toolbar__left
                    h2.c-panel__title Nos dernières news
        .c-panel__body
            .c-content
                h4 Besoin d’un espace où travailler à Bruxelles ?
                p
                    | En tant que sociétaires Smart, vous pouvez bénéficier sous certaines conditions d’espaces de travail à prix hyper avantageux dans les locaux de Smart à Saint-Gilles. Deux grands espaces sont disponibles pour des collectifs et huit bureaux dans un espace partagé. En plus d’un loyer attractif, bénéficiez d’une série d’autres avantages : Internet/Wifi ; sanitaires ; café, thé et eau ; parking vélo ; accès PMR ; mise à disposition de salles de réunion ; espace sécurisé avec alarme ; imprimante.
                p
                    a.c-link(href="#") Retrouvez toutes les infos ici
                p
                    strong Attention, date limite pour candidater : 14 novembre
                hr.c-hr

                h4 Nos bureaux à nouveau accessibles sans rendez-vous
                p
                    | Welcome back! Les conseiller·es vous accueillent à nouveau dans les bureaux sans rendez-vous pour répondre à vos questions simples et urgentes. Pour connaître les horaires d'ouverture de votre bureau, 
                    a.c-link(href="#") suivez ce lien.
                    |  Pour les questions plus spécifiques ou complexes, merci de prendre rendez-vous.

                hr.c-hr

                h4 «Sacré travail !», découvrez notre nouveau podcast
                p
                    | "Sacré Travail !" Ce sont 6 voix, 6 épisodes durant lesquels des membres notre coopérative - Axelle Minne, Christian Yde, Déborah Gigliotti, Lisette Lombé, Christophe Robillard et Thibault Guérin - nous partagent leur vision du travail à travers leur parcours personnel. 
                    a.c-link(href="#") À écouter ici

                hr.c-hr

                h4 Outil contrat : Nouveau choix à l’encodage du taux réduit de TVA
                p
                    | Désormais, lors de l’encodage d’un contrat (dans l’Outil Contrat), l’application d’un taux réduit de la TVA (6% ou 0%) change, et ce choix devra être justifié par plusieurs nouveaux champs d’information à remplir. Sont particulièrement concernées?: les prestations artistiques, les prestations de formation professionnelle et les prestations de guides touristiques. 
                    a.c-link(href="#") En savoir plus

                hr.c-hr

                h4 Tutoriel - Aide à la saisie du contrat "simple" ou contrat "3en1"
                p
                    | Afin de vous aider dans la saisie d'un contrat dit "simple" ou "3en1", vous trouverez 
                    a.c-link(href="#") un tutoriel vidéo
                    |  qui vous accompagne dans les différentes étapes de la création de votre prestation.
                p
                    a.c-link(href="#") Guide Pratique des Contrats (PDF)
                p
                    a.c-link(href="#") Contract Tool How-to (english version)

                hr.c-hr

                h4 Blog Kronik
                p
                    | Retrouvez l’actualité de notre entreprise partagée sur le blog Kronik : 
                    a.c-link(href="#") https://kronik.smart.coop

                hr.c-hr

                h4 Avantages sur les tarifs Orange pour nos membres
                p
                    | Grâce à la mutualisation, nous avons pu négocier des tarifs avantageux auprès de l'opérateur téléphonique Orange. Une offre exclusive, sans engagement, qui s'adresse aux salarié·es de Smart avec des tarifs très attrayants pouvant aller jusque -25% du prix du marché de la téléphonie mobile. 
                    a.c-link(href="#") Consulter l'offre

                hr.c-hr

                h4 Prestations en France
                p
                    | Dorénavant, lorsque vous choisissez France comme pays de prestation, il vous est demandé des infos complémentaires.
                    | Pour toute prestation en France, nous sommes tenus d’introduire auprès de l’ONSS (Office Nationale de Sécurité Sociale) une demande de détachement (Formulaire A1) et une déclaration préalable de détachement (Formulaire DPD) auprès de l’État français. 
                    a.c-link(href="#") Plus d'info

                hr.c-hr

                h4 Chez vous ou ailleurs, participez à nos formations
                p
                    | Des modules articulés autour de thématiques pensées pour vous. Des formats courts, des tarifs attractifs et des formules tant en présentiel que distanciée. 
                    a.c-link(href="#") Consulter la catalogue et s'inscrire

                hr.c-hr

                h4 Validation des prestations dématerialisée
                p
                    | Depuis mai 2019, les prestations déclarées pour les activités hébergées au sein de l’entreprise partagée Smart sont dématérialisées. Cela signifie que la signature ainsi que la validation de toutes les prestations se font en ligne via votre compte Smart, et que plus aucun envoi en version papier de vos contrats signés n'est nécessaire. 
                    a.c-link(href="#") Plus d'info

                hr.c-hr

                h4 Travailler en CDI
                p
                    | Nous offrons la possibilité à nos sociétaires, sous certaines conditions, de travailler sous contrat à durée indéterminée, à temps plein ou temps partiel. 
                    a.c-link(href="#") Plus d'infos

                hr.c-hr

                h4 Tout savoir sur la coopérative Smart
                p
                    | En pratique: 
                    a.c-link(href="#") comment pouvez-vous devenir sociétaire?
                p
                    | Et qu’est-ce que ça signifie, 
                    a.c-link(href="#") comment participer à la vie coopérative ?

.o-container-vertical--padding-small
    .c-panel
        .c-panel__header
            .c-toolbar
                .c-toolbar__left
                    h2.c-panel__title News activités
        .c-panel__body
            .c-content
                h4 Du nouveau dans les devis et les contrats – première étape d’un projet plus vaste
                p
                    | Depuis le 7 juin 2021, lorsque vous encodez un devis en activité, deux questions vous sont posées (“cadre de la prestation”). Celles-ci permettent de déterminer si la commande impose un lieu et/ou des horaires précis et/ou si elle a lieu dans un espace public; ou bien si elle est réalisée dans un lieu/à un horaire choisi(s) librement. Depuis le 17 juin, les mêmes questions sont posées lors de l’encodage d’un contrat.
                p
                    | L’introduction de ces questions dans nos devis et contrats constitue en fait la première étape d’un de nos projets prioritaires, dont l’objectif est d’affirmer notre conformité dans l’obligation déclarative relative aux prestations de biens/services exercées par nos sociétaires en activité. 
                p
                    | L’étape suivante consistera à introduire les horaires et les lieux de travail dans les contrats en activité. Nous vous tiendrons bien sûr informés au fur et à mesure de la progression de ce projet.

                hr.c-hr

                h4 Des assurances pour couvrir votre matériel
                p
                    | Dans le cadre du développement de nos services et outils mis à disposition de nos sociétaires, Smart couvre depuis fin 2019 l’ensemble du matériel acheté et utilisé par nos membres dans leurs activités. 
                    a.c-link(href="#") Plus d'info

                hr.c-hr

                h4 Dématérialisation de la validation : importer sa signature / apposer sa signature à l’archive de son contrat de travail
                p
                    | Dorénavant, vous êtes invité·e à importer l’image de votre signature afin de pouvoir signer numériquement vos prestations pour les activités hébergées au sein de l’entreprise partagée. 
                    a.c-link(href="#") Plus d'info

                hr.c-hr

                h4 Règles de dépenses en Activité
                p
                    | Afin de sécuriser la déclaration et le remboursement de vos dépenses professionnelles via votre activité Smart, nous vous demandons dorénavant d’établir des pièces justificatives au nom et avec le numéro de TVA de Productions Associées ASBL
                p
                    | Coordonnées : Productions Associées, 72 rue Coenraets, BE-1060 Bruxelles, TVA N° BE 0896755397. 
                    a.c-link(href="#") Plus d'info
