each category, id in icons.svg
    if id
        h3 #{id}
    .c-styleguide-svg-icons
        each icon in category
            .c-styleguide-svg-icon
                +icon(icon.category+'/'+icon.name)
                p #{icon.name}
