.c-dialog-backdrop.c-dialog-backdrop--visible(style="position:absolute;z-index:0;")

.c-dialog.c-dialog--small(role="dialog")
    .c-dialog__push
    .c-dialog__body
        .c-dialog__content
            h3.c-h3 Are you sure?
            p.u-m-0 Are you sure want to delete this item?
    .c-dialog__footer
        .c-toolbar.c-toolbar--spaced
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        button.c-button.c-button--secondary(data-dialog-close)
                                .c-button__content
                                    .c-button__label Cancel
                        button.c-button.c-button--primary(data-dialog-close)
                                .c-button__content
                                    +icon('delete')
                                    .c-button__label Delete
    .c-dialog__push
