<div class="c-navbar">
    <div class="c-toolbar">
        <div class="c-toolbar__left">
            <div class="c-toolbar__item">
                <div class="c-brand c-brand--xsmall">
                    <a href="/prototypes/account/super-user-homepage.html">
                        <img src="/images/logo.svg" alt="Smart" />
                    </a>
                </div>
            </div>
        </div>
        <div class="c-toolbar__right">
            <div class="c-toolbar__item">
                <nav>
                    <ul class="c-pill-navigation">
                        <li class="c-pill-navigation__item c-pill-navigation__item--has-child-menu">
                            <button type="button" data-menu="lang-switch">Français</button>
                            <ul class="c-menu c-menu--large" id="lang-switch">
                                <li class="c-menu__item">
                                    <a class="c-menu__label" href="#">Français</a>
                                </li>
                                <li class="c-menu__item">
                                    <a class="c-menu__label" href="#">Néerlandais</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="c-toolbar__item">
                <button class="c-user-navigation" href="#" data-menu="userMenu">
                    <div class="c-avatar c-avatar--img">
                        <img src="/images/avatars/1.jpg" alt="avatar" />
                    </div>
                    <p class="c-avatar-and-text__text">Alice Henslay (HEA) </p>
                </button>
                <ul class="c-menu c-menu--large" id="userMenu">
                    <!-- @todo add correct user menu items-->
                    <li class="c-menu__info">
                        <div class="c-avatar-and-text">
                            <div class="c-avatar c-avatar--img">
                                <img src="/images/avatars/1.jpg" alt="avatar" />
                            </div>
                            <div class="c-avatar-and-text__text">
                                <p>Signed in as <strong>Alice</strong>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="c-menu__divider" role="presentational"></li>
                    <li class="c-menu__item">
                        <a class="c-menu__label" href="#">Terms and conditions</a>
                    </li>
                    <li class="c-menu__divider" role="presentational"></li>
                    <li class="c-menu__item">
                        <a class="c-menu__label" href="#">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>