<div class="u-spacer-bottom-l">
    <div class="c-panel">
        <div class="c-panel__header">
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    <h2 class="c-panel__title">Nos dernières news</h2>
                </div>
            </div>
        </div>
        <div class="c-panel__body">
            <div class="c-content">
                <h4>Besoin d’un espace où travailler à Bruxelles ?</h4>
                <p>En tant que sociétaires Smart, vous pouvez bénéficier sous certaines conditions d’espaces de travail à prix hyper avantageux dans les locaux de Smart à Saint-Gilles. Deux grands espaces sont disponibles pour des collectifs et huit bureaux dans un espace partagé. En plus d’un loyer attractif, bénéficiez d’une série d’autres avantages : Internet/Wifi ; sanitaires ; café, thé et eau ; parking vélo ; accès PMR ; mise à disposition de salles de réunion ; espace sécurisé avec alarme ; imprimante.</p>
                <p>
                    <a class="c-link" href="#">Retrouvez toutes les infos ici</a>
                </p>
                <p>
                    <strong>Attention, date limite pour candidater : 14 novembre</strong>
                </p>
                <hr class="c-hr" />
                <h4>Nos bureaux à nouveau accessibles sans rendez-vous</h4>
                <p>Welcome back! Les conseiller·es vous accueillent à nouveau dans les bureaux sans rendez-vous pour répondre à vos questions simples et urgentes. Pour connaître les horaires d'ouverture de votre bureau, <a class="c-link" href="#">suivez ce lien.</a> Pour les questions plus spécifiques ou complexes, merci de prendre rendez-vous.</p>
                <hr class="c-hr" />
                <h4>«Sacré travail !», découvrez notre nouveau podcast</h4>
                <p>"Sacré Travail !" Ce sont 6 voix, 6 épisodes durant lesquels des membres notre coopérative - Axelle Minne, Christian Yde, Déborah Gigliotti, Lisette Lombé, Christophe Robillard et Thibault Guérin - nous partagent leur vision du travail à travers leur parcours personnel. <a class="c-link" href="#">À écouter ici</a>
                </p>
                <hr class="c-hr" />
                <h4>Outil contrat : Nouveau choix à l’encodage du taux réduit de TVA</h4>
                <p>Désormais, lors de l’encodage d’un contrat (dans l’Outil Contrat), l’application d’un taux réduit de la TVA (6% ou 0%) change, et ce choix devra être justifié par plusieurs nouveaux champs d’information à remplir. Sont particulièrement concernées?: les prestations artistiques, les prestations de formation professionnelle et les prestations de guides touristiques. <a class="c-link" href="#">En savoir plus</a>
                </p>
                <hr class="c-hr" />
                <h4>Tutoriel - Aide à la saisie du contrat "simple" ou contrat "3en1"</h4>
                <p>Afin de vous aider dans la saisie d'un contrat dit "simple" ou "3en1", vous trouverez <a class="c-link" href="#">un tutoriel vidéo</a> qui vous accompagne dans les différentes étapes de la création de votre prestation.</p>
                <p>
                    <a class="c-link" href="#">Guide Pratique des Contrats (PDF)</a>
                </p>
                <p>
                    <a class="c-link" href="#">Contract Tool How-to (english version)</a>
                </p>
                <hr class="c-hr" />
                <h4>Blog Kronik</h4>
                <p>Retrouvez l’actualité de notre entreprise partagée sur le blog Kronik : <a class="c-link" href="#">https://kronik.smart.coop</a>
                </p>
                <hr class="c-hr" />
                <h4>Avantages sur les tarifs Orange pour nos membres</h4>
                <p>Grâce à la mutualisation, nous avons pu négocier des tarifs avantageux auprès de l'opérateur téléphonique Orange. Une offre exclusive, sans engagement, qui s'adresse aux salarié·es de Smart avec des tarifs très attrayants pouvant aller jusque -25% du prix du marché de la téléphonie mobile. <a class="c-link" href="#">Consulter l'offre</a>
                </p>
                <hr class="c-hr" />
                <h4>Prestations en France</h4>
                <p>
                    Dorénavant, lorsque vous choisissez France comme pays de prestation, il vous est demandé des infos complémentaires.
                    Pour toute prestation en France, nous sommes tenus d’introduire auprès de l’ONSS (Office Nationale de Sécurité Sociale) une demande de détachement (Formulaire A1) et une déclaration préalable de détachement (Formulaire DPD) auprès de l’État français. <a class="c-link" href="#">Plus d'info</a>
                </p>
                <hr class="c-hr" />
                <h4>Chez vous ou ailleurs, participez à nos formations</h4>
                <p>Des modules articulés autour de thématiques pensées pour vous. Des formats courts, des tarifs attractifs et des formules tant en présentiel que distanciée. <a class="c-link" href="#">Consulter la catalogue et s'inscrire</a>
                </p>
                <hr class="c-hr" />
                <h4>Validation des prestations dématerialisée</h4>
                <p>Depuis mai 2019, les prestations déclarées pour les activités hébergées au sein de l’entreprise partagée Smart sont dématérialisées. Cela signifie que la signature ainsi que la validation de toutes les prestations se font en ligne via votre compte Smart, et que plus aucun envoi en version papier de vos contrats signés n'est nécessaire. <a class="c-link" href="#">Plus d'info</a>
                </p>
                <hr class="c-hr" />
                <h4>Travailler en CDI</h4>
                <p>Nous offrons la possibilité à nos sociétaires, sous certaines conditions, de travailler sous contrat à durée indéterminée, à temps plein ou temps partiel. <a class="c-link" href="#">Plus d'infos</a>
                </p>
                <hr class="c-hr" />
                <h4>Tout savoir sur la coopérative Smart</h4>
                <p>En pratique: <a class="c-link" href="#">comment pouvez-vous devenir sociétaire?</a>
                </p>
                <p>Et qu’est-ce que ça signifie, <a class="c-link" href="#">comment participer à la vie coopérative ?</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="o-container-vertical--padding-small">
    <div class="c-panel">
        <div class="c-panel__header">
            <div class="c-toolbar">
                <div class="c-toolbar__left">
                    <h2 class="c-panel__title">News activités</h2>
                </div>
            </div>
        </div>
        <div class="c-panel__body">
            <div class="c-content">
                <h4>Du nouveau dans les devis et les contrats – première étape d’un projet plus vaste</h4>
                <p>Depuis le 7 juin 2021, lorsque vous encodez un devis en activité, deux questions vous sont posées (“cadre de la prestation”). Celles-ci permettent de déterminer si la commande impose un lieu et/ou des horaires précis et/ou si elle a lieu dans un espace public; ou bien si elle est réalisée dans un lieu/à un horaire choisi(s) librement. Depuis le 17 juin, les mêmes questions sont posées lors de l’encodage d’un contrat.</p>
                <p>L’introduction de ces questions dans nos devis et contrats constitue en fait la première étape d’un de nos projets prioritaires, dont l’objectif est d’affirmer notre conformité dans l’obligation déclarative relative aux prestations de biens/services exercées par nos sociétaires en activité. </p>
                <p>L’étape suivante consistera à introduire les horaires et les lieux de travail dans les contrats en activité. Nous vous tiendrons bien sûr informés au fur et à mesure de la progression de ce projet.</p>
                <hr class="c-hr" />
                <h4>Des assurances pour couvrir votre matériel</h4>
                <p>Dans le cadre du développement de nos services et outils mis à disposition de nos sociétaires, Smart couvre depuis fin 2019 l’ensemble du matériel acheté et utilisé par nos membres dans leurs activités. <a class="c-link" href="#">Plus d'info</a>
                </p>
                <hr class="c-hr" />
                <h4>Dématérialisation de la validation : importer sa signature / apposer sa signature à l’archive de son contrat de travail</h4>
                <p>Dorénavant, vous êtes invité·e à importer l’image de votre signature afin de pouvoir signer numériquement vos prestations pour les activités hébergées au sein de l’entreprise partagée. <a class="c-link" href="#">Plus d'info</a>
                </p>
                <hr class="c-hr" />
                <h4>Règles de dépenses en Activité</h4>
                <p>Afin de sécuriser la déclaration et le remboursement de vos dépenses professionnelles via votre activité Smart, nous vous demandons dorénavant d’établir des pièces justificatives au nom et avec le numéro de TVA de Productions Associées ASBL</p>
                <p>Coordonnées : Productions Associées, 72 rue Coenraets, BE-1060 Bruxelles, TVA N° BE 0896755397. <a class="c-link" href="#">Plus d'info</a>
                </p>
            </div>
        </div>
    </div>
</div>