---
title: Introduction
category: Style guide
order: 1
---

style.
    .br-styleguide-content-inner, .br-styleguide-content {
        height: 100%;
    }
    .br-demo-content {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .br-demo-content-inner {
        max-width: 660px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

.br-demo-content
    .br-demo-content-inner
        .c-content
            p Welcome to the design system for Smart Coop.

            p <strong> What is a design system?</strong> A design system is a set of shared and integrated patterns and principles that define the overall design of a product.

            p <strong>Why do we need a design system?</strong> To document a design language that can be used as a guideline when creating new screens and apps. We strive for efficiency through well-defined, reusable and cross-platform components.
