dl.c-key-value
    .c-key-value-item
        dt.c-key-value-item__key Key
        dd.c-key-value-item__value Value
    .c-key-value-item
        dt.c-key-value-item__key Key
        dd.c-key-value-item__value Value
    .c-key-value-item
        dt.c-key-value-item__key Key
        dd.c-key-value-item__value Value
    .c-key-value-item
        dt.c-key-value-item__key Key
        dd.c-key-value-item__value Value
