nav.c-table-of-content
    ol
        li
            a.c-table-of-content__item(href='#') Objet du contrat
        li
            a.c-table-of-content__item(href='#') Définitions
        li
            a.c-table-of-content__item(href='#') Le titulaire
        li
            a.c-table-of-content__item(href='#') L'entreprise partagée
        li
            a.c-table-of-content__item(href='#') Création et vie d'une Activité
        li
            a.c-table-of-content__item(href='#' aria-selected="true") Droits de l'Entreprise partagée
        li
            a.c-table-of-content__item(href='#') Droits du Titulaire
        li
            a.c-table-of-content__item(href='#') Exclusion
        li
            a.c-table-of-content__item(href='#') Droit et attribution de compétence
        li
            a.c-table-of-content__item(href='#') Conclusion