nav.c-table-of-content-navigation.fixed(role="navigation")(aria-label="Table of content")
    ol.c-table-of-content__nav
        li
            a.c-table-of-content__nav__item(href='#' aria-selected="true") Objet du contrat
        li
            a.c-table-of-content__nav__item(href='#') Définitions
        li
            a.c-table-of-content__nav__item(href='#') Le titulaire
        li
            a.c-table-of-content__nav__item(href='#') L'entreprise partagée
        li
            a.c-table-of-content__nav__item(href='#') Création et vie d'une Activité
        li
            a.c-table-of-content__nav__item(href='#') Droits de l'Entreprise partagée
        li
            a.c-table-of-content__nav__item(href='#') Droits du Titulaire
        li
            a.c-table-of-content__nav__item(href='#') Exclusion
        li
            a.c-table-of-content__nav__item(href='#') Droit et attribution de compétence
        li
            a.c-table-of-content__nav__item(href='#') Conclusion
        .current-state(aria-hidden="true")