div.u-flex.c-content 
    nav.c-table-of-content
        ol
            li
                a.c-table-of-content__item(href='#') Objet du contrat
            li
                a.c-table-of-content__item(href='#') Définitions
            li
                a.c-table-of-content__item(href='#') Le titulaire
            li
                a.c-table-of-content__item(href='#') L'entreprise partagée
            li
                a.c-table-of-content__item(href='#') Création et vie d'une Activité
            li
                a.c-table-of-content__item(href='#' aria-selected="true") Droits de l'Entreprise partagée
            li
                a.c-table-of-content__item(href='#') Droits du Titulaire
            li
                a.c-table-of-content__item(href='#') Exclusion
            li
                a.c-table-of-content__item(href='#') Droit et attribution de compétence
            li
                a.c-table-of-content__item(href='#') Conclusion

    div.c-table-of-content__content
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 1
            h3.h3.u-spacer-bottom-xs  Objet du contrat
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 2
            h3.h3.u-spacer-bottom-xs  Définitions
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 3
            h3.h3.u-spacer-bottom-xs  Le titulaire
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 4
            h3.h3.u-spacer-bottom-xs  L'entreprise partagée
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 5
            h3.h3.u-spacer-bottom-xs  Création et vie d'une Activité
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 6
            h3.h3.u-spacer-bottom-xs  Droits de l'Entreprise partagée
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 7
            h3.h3.u-spacer-bottom-xs  Droits du Titulaire
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 8
            h3.h3.u-spacer-bottom-xs  Exclusion
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 9
            h3.h3.u-spacer-bottom-xs  Droit et attribution de compétence
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__section.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 10
            h3.h3.u-spacer-bottom-xs  Conclusion
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.


script.
    window.addEventListener('load', (event) => {
        class Toc {
            constructor(el) {
                this.el = el;
                this.table_of_content = this.el.querySelector("ol");
                this.table_of_content__item = this.el.querySelectorAll("a.c-table-of-content__item");
                this.toc__content = this.el.querySelectorAll(".c-table-of-content__section");

                this.init();
            }

            init() {
               
            }

            attachEvents(tab) {
                // Handle clicking of tabs for mouse users
                tab.addEventListener("click", (e) => {
                    e.preventDefault();
                    let currentTab = this.tablist.querySelector("[aria-selected]");
                    if (e.currentTarget !== currentTab) {
                        this.switchTab(currentTab, e.currentTarget);
                    }
                });

                // Handle keydown events for keyboard users
                tab.addEventListener("keydown", (e) => {
                // Get the index of the current tab in the tabs node list
                let index = [...this.tabs].indexOf(e.currentTarget);

                // Work out which key the user is pressing and
                // Calculate the new tab's index where appropriate
                let dir =
                    e.which === 37
                    ? index - 1
                    : e.which === 39
                    ? index + 1
                    : e.which === 40
                    ? "down"
                    : null;

                if (dir !== null) {
                    e.preventDefault();
                    // If the down key is pressed, move focus to the open panel,
                    // otherwise switch to the adjacent tab
                    dir === "down"
                    ? this.panels[index].focus()
                    : this.tabs[dir]
                    ? this.switchTab(e.currentTarget, this.tabs[dir])
                    : void 0;
                }
                });
            }

            switchTab(oldTab, newTab) {
                newTab.focus();
                // Make the active tab focusable by the user (Tab key)
                newTab.removeAttribute("tabindex");
                // Set the selected state
                newTab.setAttribute("aria-selected", "true");
                oldTab.removeAttribute("aria-selected");
                oldTab.setAttribute("tabindex", "-1");
                // Get the indices of the new and old tabs to find the correct
                // tab panels to show and hide
                let index = [...this.tabs].indexOf(newTab);
                let oldIndex = [...this.tabs].indexOf(oldTab);
                if (this.panels[oldIndex]) this.panels[oldIndex].hidden = true;
                if (this.panels[index]) this.panels[index].hidden = false;
            }
            }
        
        const toclists = document.querySelectorAll(".c-table-of-content");

        if (toclists.length) {
        [...toclists].map((toclist) => new Toc(toclists));
        }
    });