div.c-table-of-content.u-flex.c-content
    nav.c-table-of-content-navigation.fixed(role="navigation")(aria-label="Table of content")
        ol.c-table-of-content__nav.relativeWidth.stickyPosition
            li
                a.c-table-of-content__nav__item(href='#') Objet du contrat
            li
                a.c-table-of-content__nav__item(href='#') Définitions
            li
                a.c-table-of-content__nav__item(href='#') Le titulaire
            li
                a.c-table-of-content__nav__item(href='#' aria-selected="true") L'entreprise partagée
            li
                a.c-table-of-content__nav__item(href='#') Création et vie d'une Activité
            li
                a.c-table-of-content__nav__item(href='#') Droits de l'Entreprise partagée
            li
                a.c-table-of-content__nav__item(href='#') Droits du Titulaire
            li
                a.c-table-of-content__nav__item(href='#') Exclusion
            li
                a.c-table-of-content__nav__item(href='#') Droit et attribution de compétence
            li
                a.c-table-of-content__nav__item(href='#') Conclusion
            .current-state(aria-hidden="true")

    div.c-table-of-content__content
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 1
            h3.h3.u-spacer-bottom-xs  Objet du contrat
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 2
            h3.h3.u-spacer-bottom-xs  Définitions
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 3
            h3.h3.u-spacer-bottom-xs  Le titulaire
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 4
            h3.h3.u-spacer-bottom-xs  L'entreprise partagée
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 5
            h3.h3.u-spacer-bottom-xs  Création et vie d'une Activité
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 6
            h3.h3.u-spacer-bottom-xs  Droits de l'Entreprise partagée
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 7
            h3.h3.u-spacer-bottom-xs  Droits du Titulaire
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 8
            h3.h3.u-spacer-bottom-xs  Exclusion
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 9
            h3.h3.u-spacer-bottom-xs  Droit et attribution de compétence
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
        section.c-table-of-content__content__item.u-spacer-bottom-xl.u-padding-bottom-s
            p.c-body-2.u-spacer-bottom-s Article 10
            h3.h3.u-spacer-bottom-xs  Conclusion
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.


script.
    window.addEventListener('load', (event) => {
        class Toc {
            constructor(el) {
                this.el = el;
                this.toc__nav__list = this.el.querySelector(".c-table-of-content__nav");
                this.toc__nav__list__items = this.el.querySelectorAll("a.c-table-of-content__nav__item");
                this.toc__content__list = document.querySelector(".c-table-of-content__content");
                this.toc__content__list__items = document.querySelectorAll(".c-table-of-content__content__item");
                this.current_state = this.el.querySelector(".current-state");
                this.relativeWidth = (this.toc__nav__list.classList.contains('relativeWidth')) ? true : false;
                this.init();
            }

            init() {
                this.current_nav_item = this.toc__nav__list.querySelector("[aria-selected]");

                //- Set current item selected                 
                let current_index = [...this.toc__nav__list__items].indexOf(this.current_nav_item)
                
                this.resetActiveToc(null, this.current_nav_item, null, this.toc__content__list__items[current_index]);

                this.toc__nav__list__items.forEach((table_of_content__item, i) => {
                    // Attach events to the toc__nav__list__items if the table_of_content__item have toc__content. Otherwise they just act as links
                    table_of_content__item.setAttribute('data-id', this.convertToSlug(table_of_content__item.textContent));
                    this.toc__content__list__items[i].setAttribute('id', this.convertToSlug(table_of_content__item.textContent));
                    if (this.toc__content__list__items.length) this.attachEvents(table_of_content__item, i);

                    if(i === this.toc__nav__list__items.length-1) this.callback(current_index);
                });

            }

            callback (current_index) { 
                var that = this;

                //- Get # Hashtag from url (ex: lentreprise-partage)
                let hash = window.top.location.hash.substr(1);
                console.log(hash.length);
                if(hash.length){
                    let current_hash_content_item = this.toc__content__list.querySelector("#" + hash);
                    let current_hash_nav_item = document.querySelector('[data-id="' + hash + '"]');
                    this.resetActiveToc(this.toc__nav__list__items[current_index], current_hash_nav_item, this.toc__content__list__items[current_index], current_hash_content_item);
                    this.scrollTo(current_hash_content_item);
                }
                
            }

            switchToc(oldTocNavItem, newTocNavItem) {
                newTocNavItem.focus();
                
                // tab panels to show and hide
                let index = [...this.toc__nav__list__items].indexOf(newTocNavItem);
                let oldIndex = [...this.toc__nav__list__items].indexOf(oldTocNavItem);

                this.resetActiveToc(oldTocNavItem, newTocNavItem, this.toc__content__list__items[oldIndex], this.toc__content__list__items[index]);
                this.scrollTo(this.toc__content__list__items[index]);
            }

            resetActiveToc(oldTocNavItem, newTocNavItem, oldTocContentItem, newTocContentItem){
                this.positionTopCurrentState(newTocNavItem);
                if (oldTocNavItem) oldTocNavItem.removeAttribute("aria-selected");
                if (newTocNavItem) newTocNavItem.setAttribute("aria-selected", "true");
                if (oldTocContentItem) oldTocContentItem.classList.remove("active");
                if (newTocContentItem) newTocContentItem.classList.add("active");
            }

            positionTopCurrentState(child) {
                // Position of the blue background
                let table_of_content_Y = this.toc__nav__list.getBoundingClientRect().top
                let relativePosTop =  child.getBoundingClientRect().top  - table_of_content_Y;
                this.current_state.style.top = relativePosTop + 'px';
                if(this.relativeWidth){
                    let childWidth =  child.offsetWidth;
                    this.current_state.style.width = childWidth + 'px';
                }
            }

            scrollTo(element) {
                let elementPosition = element.offsetTop;
                let parentPosition = this.el.getBoundingClientRect().top + window.scrollY;
                let offsetPosition = (elementPosition + parentPosition) - 65;
                window.scrollTo({
                    top: offsetPosition,
                    behavior: "smooth"
                });
            }

            attachEvents(table_of_content__item, i) {
                // Handle clicking of tabs for mouse users
                table_of_content__item.addEventListener("click", (e) => {
                    e.preventDefault();
                    let currentToc = this.toc__nav__list.querySelector("[aria-selected]");

                    if (e.currentTarget !== currentToc) {
                        this.switchToc(currentToc, e.currentTarget);
                    }
                });

                window.addEventListener('hashchange', () => {
                    this.init();
                });
            }

            convertToSlug(str) {
                str = str.replace(/^\s+|\s+$/g, ''); // trim
                str = str.toLowerCase();
            
                // remove accents, swap ñ for n, etc
                var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
                var to   = "aaaaeeeeiiiioooouuuunc------";
                for (var i=0, l=from.length ; i<l ; i++) {
                    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                }

                str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                    .replace(/\s+/g, '-') // collapse whitespace and replace by -
                    .replace(/-+/g, '-'); // collapse dashes

                return str;
            }
        }
        
        const toclists = document.querySelectorAll(".c-table-of-content");

        if (toclists.length) {
            [...toclists].map((toclist) => new Toc(toclist));
        }
    });