.o-card-grid
    .o-card-grid__item(
        data-row=1,
        data-column=-1,
        data-row-span=3,
        data-column-span=1
    )
        .c-card.c-card--background-gray.u-maximize-height
            .c-card__body
                p Content

    each val in [1,2,3,4,5,6,7,8,9]
        .c-card
            .c-card__body
                p Content

