
.u-padding-vertical-xl
    h3.c-h3 General information
    .o-grid
        .o-grid-col-bp3-4
            dl.c-key-value.c-key-value--horizontal
                +c-key-value({key: 'Worker'}) Manfred
                +c-key-value({key: 'Work setting'}) The work is mainly performed in places and at times freely chosen
                +c-key-value({key: 'Compensation budget'}) 1000.00 EUR
                +c-key-value({key: 'Project'}) Unspecified
                +c-key-value({key: 'Description'}) Some description.
                ul.c-file-attachment-list
                    +c-file-attachment({href: '#'}) Edit

hr.c-hr

.u-padding-vertical-xl
    h3.c-h3 Location and dates
    .o-grid
        .o-grid-col-bp3-4
            dl.c-key-value.c-key-value--horizontal
                +c-key-value({key: 'Work country'}) Belgium
                +c-key-value({key: 'Work dates'}) 2022 January 7
                +c-key-value({key: ''}) XX Checkbox COVID-19 stuff.
                ul.c-file-attachment-list
                    +c-file-attachment({href: '#'}) Edit

hr.c-hr

.u-padding-vertical-xl
    h3.c-h3 Role and risks
    .o-grid
        .o-grid-col-bp3-4
            dl.c-key-value.c-key-value--horizontal
                +c-key-value({key: 'Role'}) Art and craft creation > Entertainment arts > Dancer
                +c-key-value({key: 'Work type'}) Artistic
                +c-key-value({key: 'Work risks'}) None
                ul.c-file-attachment-list
                    +c-file-attachment({href: '#'}) Edit

hr.c-hr

.u-padding-vertical-xl
    h3.c-h3 Contract type
    .o-grid
        .o-grid-col-bp3-4
            dl.c-key-value.c-key-value--horizontal
                +c-key-value({key: 'Contract type'}) Artistic contract, paid based on duration
                +c-key-value({key: 'Is your fiscal residence abroad'}) No
                +c-key-value({key: 'Withholding rate'}) 11.11%
                +c-key-value({key: 'Daily schedule'}) Full time
                ul.c-file-attachment-list
                    +c-file-attachment({href: '#'}) Edit
