ul.c-side-menu
    li.c-side-menu__item.c-side-menu__item--active
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/activities.html") Activities
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/invoices.html") Quotes and invoices
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/contracts.html") Contracts
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/expenses.html") Expenses
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/funding.html") Financement
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/new-desk/advisor/contracts-covid-19.html") Contracts in COVID-19 period
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/members.html") Members
    li.c-side-menu__item
        a.c-side-menu__link(href="/prototypes/old-desk/advisor/archives.html") Archives
