ul.c-side-menu
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Dashboard
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Quotes and invoices
    li.c-side-menu__item.c-side-menu__item--active
        a.c-side-menu__link(href="#") Contracts
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Expenses
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Financement
