extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Dashboard"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar
            include /templates/prototypes/old-desk/_includes/side-menu--advisor

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .c-navbar.c-navbar--bordered-bottom
                    .c-toolbar
                        .c-toolbar__left
                            .c-toolbar__item
                                    h2.c-toolbar__title Members

                .u-scroll-wrapper-body
                    .o-container
                        .o-container-vertical
