<div class="c-navbar u-position-fixed main-title">
    <div class="c-toolbar">
        <div class="c-toolbar__left">
            <div class="c-toolbar__item">
                <h1 class="c-toolbar__title"></h1>
            </div>
        </div>
        <div class="c-toolbar__right">
            <div class="c-toolbar__item"></div>
            <div class="o-form-group o-flex o-flex--vertical-center">
                <label class="o-form-group__label u-spacer-right" for="selectId">Filtrer par année</label>
                <div class="o-form-group__controls">
                    <div class="c-select-holder">
                        <select class="c-select" id="selectId">
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>