<ul class="c-side-menu">
    <li class="c-side-menu__item c-side-menu__item--active">
        <a class="c-side-menu__link" href="#">Home</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Prestation en cours</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Nouvelle prestation</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Simulation</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Vos documents</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Formateurs associés</a>
    </li>
</ul>