<ul class="c-side-menu">
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Mon profil formateur</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Mes formations</a>
    </li>
</ul>
<ul class="c-side-menu">
    <li class="c-side-menu__item c-side-menu__item--active">
        <a class="c-side-menu__link" href="/examples/template-examples/formations.html">Toutes les formations</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/examples/template-examples/formateurs.html">Tous les formateurs</a>
    </li>
</ul>