extends getting-started

block append pageVariables
    - var moduleTitle = "Package and repo links"

block subContent

    .c-display
        h1 Package and repo links
        p If you want to contribute to development, you can clone the repository for the design system website at:
        pre
            code git clone git@github.com:smartcoop/design.git

        p The Smart Coop Design System uses <a href="https://bedrockapp.org/">Bedrock</a> to generate a static site for the design system. Instructions on how to use Bedrock and run the development stack locally can be found on the <a href="https://github.com/smartcoop/design">front page of the repo</a>.

        p Currently, there is no npm package for the CSS.

        h2 Repo & issue management
        
        p The repo is at <a href="https://github.com/smartcoop/design">github.com/smartcoop/design</a> . Issues are listed at <a href="https://github.com/smartcoop/design/issues">github.com/smartcoop/design/issues</a> .