extends ../index

block append pageVariables
    - var moduleTitle = "Template examples"

block content

    .o-container.o-container--medium
        h1.c-d-h1 Examples
        .o-container-vertical
            .c-display
                h2 Templates

                ul
                    li: a(href="/examples/contact-form.html") Contact form
                    li: a(href="/examples/register-form.html") Register form
                    li: a(href="/examples/app-form.html") App form
                    li: a(href="/examples/wizard.html") Wizard

                h2 Tests

                ul
                    li: a(href="/tests/figure-figcaption.html") Figure/figcaption
                    li: a(href="/tests/video.html") Responsive video and images
                    li: a(href="/tests/figure-figcaption.html") Type test
