extends how-it-works

block append pageVariables
    - var moduleTitle = "Assets and resources"

block subContent

    .c-display
        h2 Assets and resources

        h3 Where to find the design files
        p You can find Smart Coop’s design files on Figma. These are the public links for the files:

        ul
            li
                a(href="https://www.figma.com/file/Zp551KO9VgmqSIouXQahlA/💯-SmartCoop-Screens-v2?node-id=0%3A1") Screens v2
                ul
                    li This file is versioned, the most recent version is v2.
            li
                a(href="https://www.figma.com/file/xzzLf5aoluyutuX6Vhpt47/💯SmartCoop-Library?node-id=0%3A1") Library
                ul
                    li Figma style/component library attached to the screens file
            li
                a(href="https://www.figma.com/file/Yplkarb43Is8M2aBXFPY5l/💯-SmartCoop-Design-System-website?node-id=0%3A1") Design System website
                ul
                    li The design of this website
            li
                a(href="https://www.figma.com/file/9gjbtr35pTKLvQlYyYdueY/💯-SmartCoop-Design-process?node-id=0%3A1") Design process
                ul
                    li Parts of the design process - Early iterations and paths we diverged from
