extends how-it-works

block append pageVariables
    - var moduleTitle = "Assets and resources"

block subContent

    .c-display
        h2.u-spacer-bottom-xl Assets and resources
        .u-spacer-bottom-xl
            h3 Where to find the design files

            h4 Community

            p You can find Smart’s design files on Figma community, our profile is <a href="https://www.figma.com/@smartcoop">@smartcoop</a>. Follow us!

            p Community files exist mostly to show what the design system is all about in a public fashion. These are the individual links for the files:

            ul
                li
                    a(href="https://www.figma.com/community/file/1045654082538933026") Screens + Library v1.1
                li
                    a(href="https://www.figma.com/community/file/1028279259405398766") Screens v1.0
                li
                    a(href="https://www.figma.com/community/file/1028280241221406448") Library v1.0

            p If you want to contribute, please engage in the community through Github Issues or through Smart Belgium (<a href="mailto:thu@smart.coop">e-mail Thu!</a>) so you can get internal access.

            h4 Internal access

            p These are the links for the files:

            dl
                dt
                    a(href="https://www.figma.com/file/xzzLf5aoluyutuX6Vhpt47/Smart---Library-%2B-Screens-1.2?node-id=0%3A1") Library + Screens v1.2
                dd This file is versioned. Whenever a new community version is released, we move this version number up. This file contains the source for all styles and components used in the design system, as well as screen designs. Any changes should be made here.
                dt
                    a(href="https://www.figma.com/file/Yplkarb43Is8M2aBXFPY5l/Smart-Design-System-website?node-id=2%3A349") Design System website
                dd The design of this website
                dt
                    a(href="https://www.figma.com/file/9gjbtr35pTKLvQlYyYdueY/Smart-Design-process?node-id=0%3A1") Design process
                dd Parts of the design process - Early iterations and paths we diverged from
                dt
                    a(href="https://www.figma.com/file/1TrGsbebPa1EIgcG4NDCOb/Screenshot-archive?node-id=0%3A1") Screenshot archive
                dd File used to house screenshots used as part of the design process

            +c-alert({
                message: `Note that you need Smart approval to access these. We are still working out how this should work exactly. Please contribute to the discussion in <a href="https://github.com/smartcoop/design/issues/113">#113</a>.`
            })

        .u-spacer-bottom-xl
            h3 Fonts
            p The design uses <a href="https://rsms.me/inter/" target="_blank">Inter</a> as its primary font. Inter is a font that is available in Figma by default, and you shouldn't need to install anything to use it.

            p Inter is a variable font family designed for computer screens by <a href="https://rsms.me/" target="_blank">Rasmus Andersson</a>. Inter is available in nine weights with matching italics, as well as a variable font version.

            p Should you need a desktop version, you can download Inter <a href="https://rsms.me/inter/" target="_blank">here</a>.
