extends how-it-works

block append pageVariables
    - var moduleTitle = "Assets and resources"

block subContent

    .c-display
        h2.u-spacer-bottom-xl Assets and resources
        .u-spacer-bottom-xl
            h3 Where to find the design files

            p You can find Smart’s design files on Figma. These are the public links for the files:

            ul
                li
                    a(href="https://www.figma.com/file/Zp551KO9VgmqSIouXQahlA/Smart-Screens-v2?node-id=0%3A1") Screens v2
                    ul
                        li This file is versioned, the most recent version is v2.
                li
                    a(href="https://www.figma.com/file/xzzLf5aoluyutuX6Vhpt47/Smart-Library?node-id=0%3A1") Library
                    ul
                        li Figma style/component library attached to the screens file
                li
                    a(href="https://www.figma.com/file/Yplkarb43Is8M2aBXFPY5l/Smart-Design-System-website?node-id=2%3A349") Design System website
                    ul
                        li The design of this website
                li
                    a(href="https://www.figma.com/file/9gjbtr35pTKLvQlYyYdueY/Smart-Design-process?node-id=0%3A1") Design process
                    ul
                        li Parts of the design process - Early iterations and paths we diverged from

            +c-alert({
                message: `If you encounter a 404, note that you currently need to request permission for these files. We are still working out a strategy to share the Figma files in a good way. Feedback welcome in <a href="https://github.com/smartcoop/design/issues/113">#113</a>.`
            })


        .u-spacer-bottom-xl
            h3 Use the Inter font
            p The SmartCoop Design System uses <a href="https://rsms.me/inter/" target="_blank">Inter</a> as the typeface. This font that can be used for free in your products & projects - print or digital, for both personal and commercial use.
            p Inter is a variable font family designed for computer screens by <a href="https://rsms.me/" target="_blank">Rasmus Andersson</a>. Inter is available in nine weights with matching italics, as well as a variable font version.
            p Inter features a tall x-height to aid in readability of mixed-case and lower-case text. Several OpenType features are provided as well, like contextual alternates that adjusts punctuation depending on the shape of surrounding glyphs, slashed zero for when you need to disambiguate "0" from "o", tabular numbers, etc.
            a(href="https://fonts.google.com/specimen/Inter" target="_blank") Download Inter for free via Google Fonts
