extends how-it-works

block append pageVariables
    - var moduleTitle = "Assets and resources"

block subContent

    .c-display
        h2 Assets and resources
        h3 Where to find the design files
        p You can find Smart Coop’s design files on Figma. These are the public links for the files:
        
        
        ul
            li
                a(href="#") Screens v2
                ul
                    li This file is versioned, the most recent version is v2.
            li
                a(href="#") Library
                ul
                    li Figma style/component library attached to the screens file
            li
                a(href="#") Design process
                ul
                    li Parts of the design process - Early iterations
            li
                a(href="#") Design System website
                ul
                    li The design of this website
