extends ../../index

block append pageVariables
    - var moduleTitle = "Changelog"

block content

    .o-container.o-container--medium
        .o-container-vertical

            article.c-blog-article
                .c-blog-article__header
                    h1.c-d-h1 Smart Coop announces an open design system
                    p September 21, 2021

                .c-blog-article__content
                    .c-display
                        p We're happy to announce we've started work on a design system. In SmartCoop's collaborative spirit we are working in an open source manner. What this project will do is provide a foundation for future SmartCoop applications.
                        p The home for the design system will live at the homepage of this very website. From this website you will be able to read what's new, find the necessary documentation to get started with designing and developing for the SmartCoop context yourself as well as find the right links to be able to contribute.
                        p As an open source project, others can benefit from the design and development discussions that are happening in the open (just like we are benefiting from similarly open sourced projects).

                    .o-container-vertical.o-container-vertical--padding-mini
                        ul.c-avatar-and-text-list
                            li.c-avatar-and-text
                                +c-avatar({})
                                .c-avatar-and-text__text
                                    p Thu
                            li.c-avatar-and-text
                                +c-avatar({})
                                .c-avatar-and-text__text
                                    p Virginie
            