.c-accordion
    .c-accordion__item
        .c-accordion__item-header
            +c-button({skin: 'borderless', layout: 'icon-only', icon: 'chevron-right'}) Chevron
            span.c-accordion__item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

        .c-accordion__item-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .c-accordion__item
        .c-accordion__item-header
            +c-button({skin: 'borderless', layout: 'icon-only', icon: 'chevron-right'}) Chevron
            span.c-accordion__item-title Lorem Ip

        .c-accordion__item-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .c-accordion__item
        .c-accordion__item-header
            +c-button({skin: 'borderless', layout: 'icon-only', icon: 'chevron-right'}) Chevron
            span.c-accordion__item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        .c-accordion__item-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .c-accordion__item
        .c-accordion__item-header
            +c-button({skin: 'borderless', layout: 'icon-only', icon: 'chevron-right'}) Chevron
            span.c-accordion__item-title Lorem ipsum dolor

        .c-accordion__item-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .c-accordion__item
        .c-accordion__item-header
            +c-button({skin: 'borderless', layout: 'icon-only', icon: 'chevron-right'}) Chevron
            span.c-accordion__item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit labore et dolore magna aliqua

        .c-accordion__item-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
