//-
    Mixin Form field - Create a filter pill

mixin c-filter-pill({ counter })
    button.c-filter-pill(type="button")&attributes(attributes)
        span.c-filter-pill__label
            block
        if counter
            span.c-filter-pill__counter= counter
        +icon('caret-down')
