//-
    Mixin Form field - Create a form group, which wraps an input by default

mixin c-form-group({ label = 'Default label', id, type = 'text', value, key = null })
    .o-form-group
        label.o-form-group__label(for=id)= label
        .o-form-group__controls
            if type == 'text'
                +c-input({ id, value })
            if type == 'select'
                +c-select({ id, value, key })
