//-
    Mixin Input - Create an input group with icon before

mixin c-input-group-before({ id, type = "text", placeholder, value, icon })
    .c-input-group
        .c-input-group__prepend
            +icon(icon)
        .c-input-group__input
            +c-input({ id, value, type, placeholder })
