//-
    Mixin Input - Create an input group with icon after

mixin c-input-group-after({ id, type = "text", placeholder, value, icon, text })
    .c-input-group
        .c-input-group__input
            +c-input({ id, value, type, placeholder })
        .c-input-group__append
            if icon
                +icon(icon)
            if text
                span= text
