//-
    Mixin select - Create a native <select> element for usage in forms. The outside is styled, but inside (dropdown itself) is native to OS.

mixin c-select({ id, value = [A, B, C], key })
    .c-select-holder
        select.c-select(id=id)
            each item in value
                if key
                    option= item[key]
                else
                    option= item
