-
  function activeIf(pattern) {
    return pathname.match(pattern) ? "c-side-menu__item--active" : "";
  }

ul.c-side-menu
    li.c-side-menu__item(class=activeIf(/\/account\/user-homepage-with-menu/))
        a.c-side-menu__link(href="#") Home
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Prestation en cours
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Nouvelle prestation
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Simulation
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Formateurs associés
