ul.c-side-menu
    li.c-side-menu__item.c-side-menu__item--active
        a.c-side-menu__link(href="#") Accueil
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Factures
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Factures en cours
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Documents administratifs
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Prestation en cours
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Nouvelles prestations
