.c-toolbar
    .c-toolbar__left
        .c-toolbar__item
            p I am an item on the left
    .c-toolbar__center
        .c-toolbar__center-inner
            .c-toolbar__item
                p I am an item in the middle
    .c-toolbar__right
        .c-toolbar__item
            p I am an item on the right