.c-toolbar
    .c-toolbar__left
        .c-toolbar__item
            p Item left 1
        .c-toolbar__item
            p Item left 2
    .c-toolbar__right
        .c-toolbar__item
            p Item right 1
        .c-toolbar__item
            p Item right 2

