extends /templates/_layouts/master

block append pageVariables
    - var bodyClass = ""
    
block body
    .c-app-layout
        block global-banner-dev
        header.u-position-fixed.u-maximize-width
            +c-global-banner({
                skin: 'warning',
                message: "This is the STAGE environment"
            })(data-toggle="dev-env" data-switch-target="dev-env")
            include /templates/prototypes/_includes/main-header
        main.u-maximize-width.dev-env
            block content