<div class="c-toolbar__item">
    <div class="o-form-group-layout o-form-group-layout--inline u-spacer-left">
        <div class="o-form-group">
            <label class="o-form-group__label" for="sortOrder">Sort by</label>
            <div class="o-form-group__controls">
                <div class="c-select-holder">
                    <select class="c-select" id="sortOrder">
                        <option>Start date ascending</option>
                        <option>Start date descending</option>
                        <option>Client ascending</option>
                        <option>Client descending</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>