extends index

block append pageVariables
    - var moduleTitle = "Changelog"

block content

    .o-container.o-container--medium
        .o-container-vertical
            .c-display
                h1 Changelog
                p This is the development changelog. For the design changelog, please refer to the <a href="/design/assets-and-resources.html">design assets and resources</a> page for more information.

            hr.c-hr

            ul.c-content
                li
                    h3 December 2, 2021
                    ul
                        li Add a mixin for the key value component and update <a href="/development/docs/c-key-value.html">key value list documentation</a>
                        li Implement design for an <a href="/development/trainings/administrative-profile.html">administrative profile screen</a> for an application for trainings and courses
                        li Add file attachment component and add <a href="/development/docs/c-file-attachment.html">file attachment documentation</a>
                li
                    h3 November 30, 2021
                    ul
                        li Add badge component and <a href="/development/docs/c-badge.html">badge documentation</a>
                li
                    h3 November 26, 2021
                    ul
                        li Update and simplify structure of c-form-group mixin by using <code>block</code> to nest different inputs instead of including all the types inside the c-form-group mixin.
                li
                    h3 November 25, 2021
                    ul
                        li Swap out <code>color-gray-30</code> with <code>color-gray-25</code>
                li
                    h3 November 23, 2021
                    ul
                        li Add different states to <a href="/development/docs/c-file-upload.html">file upload documentation</a>
                        li Add <code>link</code> icon
                        li Sync button font weight with designs
                li
                    h3 November 22, 2021
                    ul
                        li Add progress bar component and <a href="/development/docs/c-progress-bar.html">progress bar documentation</a>
                li
                    h3 November 19, 2021
                    ul
                        li Add <a href="/development/docs/c-icon-list.html">icon list documentation</a>
                        li Add icon list component
                li
                    h3 November 18, 2021
                    ul
                        li Add <a href="/development/docs/c-card.html">card documentation</a>
                        li Split up panel component into panel and card component
                li
                    h3 November 17, 2021
                    ul
                        li Add <a href="/development/docs/c-navbar.html">navbar documentation</a>
                        li Improve <a href="/development/docs/c-tabs.html">tabs documentation</a>
                        li Add loader component and <a href="/development/docs/c-loader.html">loader documentation</a>
                li
                    h3 November 16, 2021
                    ul
                        li Make icons in buttons smaller and sync with designs
                li
                    h3 November 4, 2021
                    ul
                        li Update design system website navigation by adding an <a href="/development/example-pages.html">example pages</a> page
                li
                    h3 November 2, 2021
                    ul
                        li Add <a href="/development/design-tests/display-test.html">display test page</a>
                li
                    h3 October 27, 2021
                    ul
                        li Fix rendering issue radio buttons
                        li Add <a href="/development/docs/c-hr.html">horizontal ruler documentation</a>
                li
                    h3 October 22, 2021
                    ul
                        li Add compensation simulation <a href="/development/template-examples/tools-simulation.html">result</a>
                        li Add compensation simulation <a href="/development/template-examples/tools-simulation-loading.html">loading state</a>
                        li Add compensation simulation <a href="/development/template-examples/tools-simulation-empty.html">empty state</a>
                        li Add more options to <code>c-form-group</code> mixin
                        li Add <code>c-radio-button</code> mixin
                        li Improve alert colors
                li
                    h3 October 21, 2021
                    ul
                        li Add <a href="/development/template-examples/tools-contracts-empty.html">empty state</a> for contract list
                        li Add <a href="/development/docs/c-filter-pill.html">filter pill dropdown</a> example
                        li Unify empty state and blank slate component and improve <a href="/development/docs/c-blank-slate.html">blank slate</a> documentation
                        li Add and document <a href="/development/docs/c-spinner.html">spinner</a> component
                        li Add example of <a href="/development/docs/o-form-group.html#component-01-o-form-group">form group with helper</a> tooltip
                        li Add size parameter to <code>c-button</code> mixin
                        li Add <code>print</code> icon
                li
                    h3 October 20, 2021
                    ul
                        li Add <a href="/development/template-examples/tools-contracts.html">contract list</a> view
                        li Document <a href="/development/docs/c-pagination.html">pagination</a> component
                li
                    h3 October 15, 2021
                    ul
                        li Rename templates in overview list on getting started page
                        li Add <a href="/development/docs/c-filter-pill.html">filter pill</a> component
                        li Start <a href="/development/docs/aov-elevation.html">shadow system</a>
                li
                    h3 October 14, 2021
                    ul
                        li Add horizontal scroll to top navigation to make it mobile friendlier
                li
                    h3 October 13, 2021
                    ul
                        li Replace links in top navigation with button elements for items that have sub menus
                        li Improve focus states of buttons (sync with designs)
                        li Sync toolbar title size with designs
                        li Replace <code>c-input-group</code> code used for search inputs with <code>c-input-with-icon</code> component
                        li Add <a href="/development/template-examples/horizontal-form.html">horizontal form</a> template
                li
                    h3 October 12, 2021
                    ul
                        li Add <a href="/development/docs/c-file-upload.html">file upload</a> component
                        li Complete <a href="/development/template-examples/register-form.html">register form</a> page with documents section
                        li Add <a href="/development/docs/c-key-value.html">key value</a> component
                        li Fix duplicate id's in register form
                li
                    h3 October 11, 2021
                    ul
                        li Add new mixins for <a href="/development/docs/c-input-group.html">input groups</a> with icon before and after
                        li Make <a href="/development/template-examples/register-form.html">register form</a> template more complete by adding more fields
                        li Simplify sidebar layout code
                        li Use c-brand mixin for logo in templates
                        li Move design system website specific code out of <code>c-navbar</code> styles
                        li Improve app structure by using header element
                li
                    h3 October 8, 2021
                    ul
                        li We released 1.0 of the design system; with an <a href="/blog/2021/10/08/smart-announces-an-open-design-system.html">introductory blog post</a>, and the release of community files on <a href="https://www.figma.com/@smartcoop">Figma</a>.
                li
                    h3 October 7, 2021
                    ul
                        li Add example template of <a href="/development/template-examples/app-side-menu.html">page with side menu</a>
                        li Improve hide password functionality</a> by making it keyboard accessible and document <a href="/development/docs/c-input-icon.html#component-02-c-input-icon-toggle">password input</a>
                li
                    h3 September 30, 2021
                    ul
                        li Improved sync for tooltip component between design system and dev
                        li Add description to global banner
                li
                    h3 September 23, 2021
                    ul
                        li Implement nicer overview for <a href="/development/component-documentation.html">component documentation</a>
                        li Add and document <a  href="/development/docs/o-card-grid.html">card grid</a>
                        li Implement example of <a href="/development/template-examples/sign-in-form.html">sign in screen</a>
                        li Add and document <a href="/development/docs/c-tabs.html">tabs</a>
                        li Implement example of <a href="/development/docs/c-alert-stack.html">alert stack</a>
                        li Add and document <a href="/development/docs/c-wizard.html">wizard</a>, and add example template
                        li Dialogs: rename “modal” to “dialog” and add AlertDialog component (not tied to specific CSS yet)
                        li Add <a href="/development/docs/c-button-toolbar.html">button toolbar</a> component to group buttons together
                        li Add an example template which shows an <a href="/development/template-examples/app-datagrid.html">index page with the table component</a>
                        li Added <a href="/development/docs/c-global-banner.html">global banner</a> component
                        li Added icons: <code>facebook</code>, <code>twitter</code> and <code>instagram</code>
                        li Implement full-page example of <a href="/development/template-examples/dialog.html">dialog</a>
                        li Implement dropdowns on main menu

                li
                    h3 September 22, 2021
                    ul
                        li Improve structure of design system website, specifically adding a better “Getting started” section as well as grouping related content together
                        li Add <code>c-user-navigation</code> component
                        li Document input groups with prepend and append
                        li Improve main header with <code>c-pill-navigation</code> component, search input and </code>c-user-navigation</code> component
                        li Rename sample-page to app-form

                li
                    h3 September 21, 2021
                    ul
                        li Add accordion component and corresponding javascript
                        li Add blank slate component
                        li Add bordered list component
                        li Document container, grid, form-group, and flex objects
                        li Implement design system website base
                        li Remove sidebar from main template in favor of top menu
                        li Refactor side-menu component to be independent of any sidebar (sidebar currently does not exist anymore)
                        li Add icon: <code>github</code>
                li
                    h3 August 20, 2021
                    ul
                        li Remove missing stylesheet reference which was causing an error
                        li Improve spacing footer docs in styleguide
                        li Document spacer utilities
                        li Merge button skins and types into one document page
                        li Change buttonType prop to type for button mixins
                        li Move type and layout props up in props documentation for buttons
                        li Add Smart favicon
                        li Document semantic colors + add missing secondary colors
                        li Remove table row border from last rows
                li
                    h3 August 3, 2021
                    ul
                        li Add <a href="/development/template-examples/app-form.html">sample page</a>
                        li Add default layout template with sidebar
                        li Document select inputs in styleguide
                        li Add specific styles for textareas
                        li Update font to Cerebri Sans (to be discussed)
                        li Set default icon size to 24px
                        li Small updates to button styles
                        li Add and document <a href="/development/docs/c-sidebar.html">sidebar</a> component in styleguide
                        li Add and document <a href="/development/docs/c-popover.html">popover</a> component in styleguide
                        li Add and document <a href="/development/docs/c-tooltip.html">tooltip</a> component in styleguide
                        li Add and document <a href="/development/docs/c-dialog.html">dialog</a> component in styleguide
                        li Add and document <a href="/development/docs/c-dropdown.html">dropdown</a> component in styleguide
                        li Add and document <a href="/development/docs/c-status-pill.html">status pill</a> component in styleguide
                        li Add and document <a href="/development/docs/c-alert.html">alert</a> component in styleguide
                        li Add icons: <code>circle-check</code>,  <code>circle-error</code>,  <code>circle-help</code>
                li
                    h3 July 29, 2021
                    ul
                        li Add changelog page
                        li Add browser support page
                li
                    h3 July 28, 2021
                    ul
                        li Add Mono icons to repository
                        li Add inputs (toggles) to styleguide
                        li Add inputs (text) to styleguide
                        li Add avatars to styleguide
                        li Add button types to styleguide
                        li Add button skins to styleguide
                        li Add stylesheets for alerts, avatars, buttons, inputs, dialogs, navbars, toolbars, etc.
                        li Add CSS component structure page
                        li Add CSS architecture page
                        li Set up Bedrock
