extends index

block append pageVariables
    - var moduleTitle = "Changelog"

block content

    .o-container.o-container--medium
        .o-container-vertical
            .c-display
                h1 Changelog
                p This is the development changelog. For the design changelog, please refer to the library <a href="https://www.figma.com/file/xzzLf5aoluyutuX6Vhpt47/💯SmartCoop-Library?node-id=415%3A759">Figma file</a>.

            hr.c-hr

            ul.c-content
                li
                    h3 September 22, 2021
                    ul
                        li Improve structure of design system website, specifically adding a better “Getting started” section as well as grouping related content together
                li
                    h3 September 21, 2021
                    ul
                        li Add accordion component and corresponding javascript
                        li Add blank slate component
                        li Add bordered list component
                        li Document container, grid, form-group, and flex objects
                        li Implement design system website base
                        li Remove sidebar from main template in favor of top menu
                        li Refactor side-menu component to be independent of any sidebar (sidebar currently does not exist anymore)
                        li Add icon: <code>github</code>
                li
                    h3 August 20, 2021
                    ul
                        li Remove missing stylesheet reference which was causing an error
                        li Improve spacing footer docs in styleguide
                        li Document spacer utilities
                        li Merge button skins and types into one document page
                        li Change buttonType prop to type for button mixins
                        li Move type and layout props up in props documentation for buttons
                        li Add Smart favicon
                        li Document semantic colors + add missing secondary colors
                        li Remove table row border from last rows
                li
                    h3 August 3, 2021
                    ul
                        li Add <a href="/development/template-examples/app-form.html">sample page</a>
                        li Add default layout template with sidebar
                        li Document select inputs in styleguide
                        li Add specific styles for textareas
                        li Update font to Cerebri Sans (to be discussed)
                        li Set default icon size to 24px
                        li Small updates to button styles
                        li Add and document <a href="/development/docs/c-sidebar.html">sidebar</a> component in styleguide
                        li Add and document <a href="/development/docs/c-popover.html">popover</a> component in styleguide
                        li Add and document <a href="/development/docs/c-tooltip.html">tooltip</a> component in styleguide
                        li Add and document <a href="/development/docs/c-modal-sizes.html">modal</a> component in styleguide
                        li Add and document <a href="/development/docs/c-dropdown.html">dropdown</a> component in styleguide
                        li Add and document <a href="/development/docs/c-status-pill.html">status pill</a> component in styleguide
                        li Add and document <a href="/development/docs/c-alert.html">alert</a> component in styleguide
                        li Add icons: <code>circle-check</code>,  <code>circle-error</code>,  <code>circle-help</code>
                li
                    h3 July 29, 2021
                    ul
                        li Add changelog page
                        li Add browser support page
                li
                    h3 July 28, 2021
                    ul
                        li Add Mono icons to repository
                        li Add inputs (toggles) to styleguide
                        li Add inputs (text) to styleguide
                        li Add avatars to styleguide
                        li Add button types to styleguide
                        li Add button skins to styleguide
                        li Add stylesheets for alerts, avatars, buttons, inputs, modals, navbars, toolbars, etc.
                        li Add CSS component structure page
                        li Add CSS architecture page
                        li Set up Bedrock
