extends index

block append pageVariables
    - var moduleTitle = "Changelog"

block content

    .u-spacer-top.u-spacer-bottom
        .o-container.o-container--medium
            .c-display
                h1 Changelog
                p This is the development changelog. For the design changelog, please refer to the library <a href="#">Figma file</a>.
    
                .u-spacer-top.u-spacer-bottom
                    .u-spacer-bottom-xl
                        h3 21 Sep 2021
                        ul
                            li Add accordion component and corresponding javascript
                            li Add blank slate component
                            li Add bordered list component
                            li Document container, grid, form-group, and flex objects

                    .u-spacer-bottom-xl
                        h3 20 Aug 2021
                        ul
                            li Remove missing stylesheet reference which was causing an error
                            li Improve spacing footer docs in styleguide
                            li Document spacer utilities
                            li Merge button skins and types into one document page
                            li Change buttonType prop to type for button mixins
                            li Move type and layout props up in props documentation for buttons
                            li Add Smart favicon
                            li Document semantic colors + add missing secondary colors
                            li Remove table row border from last rows

                    .u-spacer-bottom-xl
                        h3 3 Aug 2021
                        ul
                            li Add <a href="/sample-page.html">sample page</a>
                            li Add default layout template with sidebar
                            li Document select inputs in styleguide
                            li Add specific styles for textareas
                            li Update font to Cerebri Sans (to be discussed)
                            li Set default icon size to 24px
                            li Small updates to button styles
                            li Add and document <a href="/styleguide/c-sidebar.html">sidebar</a> component in styleguide
                            li Add and document <a href="/styleguide/c-popover.html">popover</a> component in styleguide
                            li Add and document <a href="/styleguide/c-tooltip.html">tooltip</a> component in styleguide
                            li Add and document <a href="/styleguide/c-modal-sizes.html">modal</a> component in styleguide
                            li Add and document <a href="/styleguide/c-dropdown.html">dropdown</a> component in styleguide
                            li Add and document <a href="/styleguide/c-status-pill.html">status pill</a> component in styleguide
                            li Add and document <a href="/styleguide/c-alert.html">alert</a> component in styleguide
                            li Add icons: <code>circle-check</code>,  <code>circle-error</code>,  <code>circle-help</code>

                    .u-spacer-bottom-xl
                        h3 29 Jul 2021
                        ul
                            li Add changelog page
                            li Add browser support page

                    h3 28 Jul 2021
                    ul
                        li Add Mono icons to repository
                        li Add inputs (toggles) to styleguide
                        li Add inputs (text) to styleguide
                        li Add avatars to styleguide
                        li Add button types to styleguide
                        li Add button skins to styleguide
                        li Add stylesheets for alerts, avatars, buttons, inputs, modals, navbars, toolbars, etc.
                        li Add CSS component structure page
                        li Add CSS architecture page
                        li Set up Bedrock
    