extends /templates/_layouts/master

block append pageVariables
    - var moduleTitle = "Home"
    - var bodyClass="o-flex o-flex--vertical u-maximize-height"

block body

    header#header
        .o-container
            .c-navbar.c-navbar--main
                .c-toolbar
                    .c-toolbar__left
                        .c-toolbar__item
                            +c-brand({size: "small"})

                    .c-toolbar__right
                        .c-toolbar__item


                            // Nav for desktop
                            nav.c-design-system-nav
                                +c-button({ layout: 'icon-only', icon: 'menu', skin: 'borderless'})(id="c-design-system-nav-open" class="c-design-system-nav-open") Open menu
                                +c-button({ layout: 'icon-only', icon: 'close', skin: 'borderless'})(id="c-design-system-nav-close" class="c-design-system-nav-close") Close menu

                                .c-design-system-nav__mobile

                                    ul
                                        li
                                            span Design
                                            ul
                                                li
                                                    a(href="/design/how-it-works.html") Design workflow
                                                li
                                                    a(href="/design/in-practice/copywriting.html") Design system in practice
                                        li
                                            span Development
                                            ul
                                                li
                                                    a(href="/development/getting-started.html") Getting started
                                                li
                                                    a(href="/development/package-and-repo-links.html") Package and repo links
                                                li
                                                    a(href="/development/browser-support.html") Browser support
                                                li
                                                    a(href="/development/writing-css/architecture.html") CSS architecture
                                                li
                                                    a(href="/development/writing-css/component-structure.html") CSS component structure
                                        li
                                            span Examples
                                            ul
                                                li
                                                    a(href="/examples/templates.html") Example templates
                                                li
                                                    a(href="/prototypes/index.html") Prototypes
                                                li
                                                    a(href="/examples/design-tests.html") Tests

                                        li
                                            a(href="/development/component-documentation.html") Components
                                        li
                                            a(href="/blog/index.html") Blog
                                        li
                                            a(href="/changelog.html") Changelog

                                .c-design-system-nav__desktop
                                    ul.c-pill-navigation
                                        li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                                            // @todo now we are using menu.js, which is really meant for dropdowns. Make more accessible with aria-haspopup="true" aria-expanded="false", switch with JS?
                                            button(type="button" data-menu="menu1"  data-menu-samewidth="true") Design
                                            ul.c-menu.c-menu--large#menu1
                                                li.c-menu__item
                                                    a.c-menu__label(href="/design/how-it-works.html") Design workflow
                                                li.c-menu__item
                                                    a.c-menu__label(href="/design/in-practice/copywriting.html") Design system in practice
                                        li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                                            button(type="button" data-menu="menu2" data-menu-samewidth="true") Development
                                            ul.c-menu.c-menu--large#menu2
                                                li.c-menu__item
                                                    a.c-menu__label(href="/development/getting-started.html") Getting started
                                                li.c-menu__item
                                                    a.c-menu__label(href="/development/package-and-repo-links.html") Package and repo links
                                                li.c-menu__divider(role="presentational")
                                                li.c-menu__item
                                                    a.c-menu__label(href="/development/browser-support.html") Browser support
                                                li.c-menu__divider(role="presentational")
                                                li.c-menu__item
                                                    a.c-menu__label(href="/development/writing-css/architecture.html") CSS architecture
                                                li.c-menu__item
                                                    a.c-menu__label(href="/development/writing-css/component-structure.html") CSS component structure


                                        li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                                            button(type="button" data-menu="menu3" data-menu-samewidth="true") Templates
                                            ul.c-menu.c-menu--large#menu3
                                                li.c-menu__item
                                                    a.c-menu__label(href="/examples/templates.html") Example templates
                                                li.c-menu__item
                                                    a.c-menu__label(href="/prototypes/index.html") Prototypes
                                                li.c-menu__item
                                                    a.c-menu__label(href="/examples/design-tests.html") Tests

                                        li.c-pill-navigation__item
                                            a(href="/development/component-documentation.html") Components
                                        li.c-pill-navigation__item
                                            a(href="/blog/index.html") Blog
                                        li.c-pill-navigation__item
                                            a(href="/changelog.html") Changelog

    main.o-container.o-container--flex

        block content

            .c-design-system-home-hero.u-padding-vertical-xl
                .o-grid
                    .o-grid-col-bp3-6
                        .o-flex.o-flex.u-spacer-right-xl.o-flex--vertical-center(style="height: 100%;")
                            .c-display.u-spacer-right-xl
                                h1 Build and design with Smart’s Design System
                                p.u-spacer-right-xl Create the best Smart experiences using reusable building blocks, built by and for the community.
                    .o-grid-col-bp3-6
                        .c-design-system-home-illustration
                            img(src="images/illustration-form.png" alt="")

            .o-grid.u-spacer-top-l
                .o-grid-col-bp3-6
                    .c-panel.u-spacer-bottom.u-shadow-50
                        .c-panel__body
                            .c-display
                                h3 Design files
                                p We publish our Figma files publicly for everyone to contribute. Feel free to have a look! 
                            +c-button({ href: '/design/how-it-works.html' }) How it works


                .o-grid-col-bp3-6
                    .c-panel.u-spacer-bottom.u-shadow-50
                        .c-panel__body
                            .c-display
                                h3 HTML/CSS components
                                p View our extensive library of copy-pastable HTML/CSS components.
                            +c-button({ href: '/development/component-documentation.html' }) Go to components
                //
                    .o-grid-col-bp3-4
                        .c-panel.u-spacer-bottom
                            .c-panel__body
                                .c-display
                                    h3 Angular components
                                    p View our extensive library of ready to use Angular components.
                                +c-button({ icon: 'github'}) Go to components

    footer#footer
        .o-container-vertical
            .o-container
                hr.c-hr
                ul.c-bordered-list-horizontal.c-bordered-list-horizontal--muted
                     li: a(href="https://github.com/smartcoop/design")
                         .o-flex
                             .u-spacer-right-s
                                 +icon('github')
                             | Share feedback on GitHub
                         //
                              li: a(href="#") Licensing information
