extends /templates/_layouts/master

block body
    p This is the Bedrock-based component explorer for the Smart design system. The Git repository is <a href="https://github.com/smartcoop/design">on GitHub</a>.

    p Press Ctrl + M to toggle the listing of pages on any page.

    p This file lives at <code>/content/templates/index.pug</code>.
