extends /templates/_layouts/master

block append headerStyles
    style.
        .br-homepage {
            height: 100%;
            display: flex;
            align-items: center;
        }
        .br-homepage-inner {
            max-width: 660px;
            margin: 0 auto;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
        }


block body
    .br-homepage
        .br-homepage-inner
            .c-content
                .u-spacer-bottom
                    img(src="images/logo.svg" alt="Smart")
                .c-design-system-home-illustration
                    img(src="images/illustration-form.png" style="max-width: 534px;")
                h2 Build and design with Smart Coop’s Design System
                p Create the best Smart Coop experiences using reusable building blocks, built by and for the community.