extends /templates/_layouts/master

block body

    nav
        ul.c-pill-navigation
            li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                a(href="#" aria-haspopup="true" aria-expanded="false" data-menu="menu2"  data-menu-samewidth="true") Main item
                ul.c-menu.c-menu--large#menu1
                    li.c-menu__item
                        a.c-menu__label(href="#") Sub item
                    li.c-menu__item
                        a.c-menu__label(href="#") Sub item
                    li.c-menu__item
                        a.c-menu__label(href="#") Sub item
            li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu
                a(href="#" aria-haspopup="true" aria-expanded="false" data-menu="menu2"  data-menu-samewidth="true") Main item
                ul.c-menu.c-menu--large#menu2
                    li.c-menu__item
                        a.c-menu__label(href="#") Sub item
                    li.c-menu__divider(role="presentational")
                    li.c-menu__item
                        a.c-menu__label(href="#") Sub item
                    li.c-menu__item
                        a.c-menu__label(href="#") Sub item
            li.c-pill-navigation__item
                a(href="#") Main item
            li.c-pill-navigation__item
                a(href="#") Main item