extends /templates/_layouts/default

block body
    .u-spacer-l
        .o-container.o-container--medium
            .u-spacer-bottom
                img(src="images/logo.svg" alt="Smart")
            .c-hr
            h1.c-h2 Registration
            .c-content
                p For optimal use of the Smart services, it is highly recommended to attend a Smart session: view our <a href="#">user manual</a>.
            .u-spacer-bottom
                +c-alert({
                    title: "Important",
                    message: `<ul><li>You will receive your personal codes to access your “Smart account” (and to fill in your contracts) by email within 48 working hours of sending your registration documents. Do not hesitate to contact the nearest Smart office in case of emergency.</li><li>Remember to always declare your working days in advance. It is not allowed to backdate your services.</li>`,
                })

            .o-form-group-layout.o-form-group-layout--standard
                .o-grid
                    .o-grid-col-6
                        +c-form-group({ label: 'Name', id: 'tfName'})
                    .o-grid-col-6
                        +c-form-group({ label: 'First name', id: 'tfFirstName'})
                    .o-grid-col-6
                        +c-form-group({ label: 'Gender', id: 'tfGender', type: 'select', value: ['Male','Female','X']})
                    .o-grid-col-6
                        +c-form-group({ label: 'Language', id: 'tfLangue', type: 'select', value: ['Français','Nederlands','Deutsch','Espanol']})
                .c-hr
                h3.c-h3 Adresse officielle
                .o-grid
                    .o-grid-col-8
                        +c-form-group({ label: 'Street', id: 'tfAddressOfficalStreet'})
                    .o-grid-col-2
                        +c-form-group({ label: 'Number', id: 'tfAddressOfficalStreetNo'})
                    .o-grid-col-2
                        +c-form-group({ label: 'Addition', id: 'tfAddressOfficalStreetBuildingAddition'})
                    .o-grid-col-6
                        +c-form-group({ label: 'Postal code', id: 'tfAddressOfficalZipCode'})
                    .o-grid-col-6
                        +c-form-group({ label: 'Country', id: 'tfAddressOfficalCountry', type: 'select', value: contentData.countries.all, key: 'countryName' })
                h3.c-h3 Adresse Courrier
                .o-grid
                    .o-grid-col-8
                        +c-form-group({ label: 'Street', id: 'tfAddressPostalStreet'})
                    .o-grid-col-2
                        +c-form-group({ label: 'Number', id: 'tfAddressPostalStreetNo'})
                    .o-grid-col-2
                        +c-form-group({ label: 'Addition', id: 'tfAddressPostalStreetBuildingAddition'})
                    .o-grid-col-6
                        +c-form-group({ label: 'Postal code', id: 'tfAddressPostalZipCode'})
                    // @todo Fix this bug with the key not being shown correctly
                    .o-grid-col-6
                        +c-form-group({ label: 'Country', id: 'tfAddressPostalCountry', type: 'select', value: contentData.countries.all, key: 'countryName' })

            // @todo enter more data

            //
                N° Gsm: N° tél:
                Email:
                Date de naissance: jour 01 v mois_01 année 2010
                Etat civil: Célibataire
                Ville de naissance: Nationalité: Choisir
                Pays de naissance:
                Numéro de registre national ou inscription © au registre des étrangers:
                N° carte identité:
                Envoyez svp une copie de vote carte d'identité (recto verso) en annexe de votre fiche d'inscription.
                Numéro IBAN de vote compte bancaire personnel:
                Envoyez sp une copie de vote carte bancaire en annexe de vote fiche d'inscription.
                Pourcentage de précompte professionnel à appliquer par défaut: % ®
                Fonction:
                Principale: Autre:
                Discipline(s)/métier(s) que vous souhaitez développer au sein de Smart (étudiant, artiste et chômeur 'est pas une fonction)
                U j'autorise Smart à transmettre mes données à des tiers, à de fins professionnelles uniquement (https://www.autoriteprotectiondonnees.be/) suivant
