/* ==========================================================================
  Component: app layout
   ========================================================================== */

.c-app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.c-app-layout-inner {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.c-app-layout-inner__sidebar {
  width: 100%;
  flex: 0 0 auto;
  padding: 2.4rem;
  overflow: auto;

  @media (min-width: $g-bp3) {
    height: 100%;
    width: 32rem;
  }
}

.c-app-layout-inner__main {
  width: 100%;
  height: 100%;
  flex: 1;
}

.c-app-layout-inner--split-view {
  overflow: auto;
  flex-wrap: wrap;
}

.c-app-layout-inner__split {
  width: 100%;
  flex: 1 0 auto;
  overflow: auto;

  + .c-app-layout-inner__split {
    border-top: 1px solid $color-border;
  }

  @media (min-width: $g-bp3) {
    width: 50%;
    height: 100%;
    + .c-app-layout-inner__split {
      border-top: none;
      border-left: 1px solid $color-border;
    }
  }
}
