/* ==========================================================================
  Component: app layout
   ========================================================================== */

.c-app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  // overflow: hidden;
  main{
    background-color: $color-gray-50;
  }
}

.c-app-layout-inner {
  height: 100%;

  @media (max-width: ($g-bp2 - 1px)) {
    // Make full screen scrollable on mobile, mobile navigation pattern needs to be revised in the future
    overflow-y: auto;
  }

  @media (min-width: $g-bp2) {
    display: flex;
  }
}

.c-app-layout-inner__sidebar {
  top: 6.6rem;
  width: 100%;
  flex: 0 0 auto;
  padding: 2.4rem;
  margin-top: 0;
  border-top-right-radius: .6rem;
  background-color: $color-white;

  @media (min-width: $g-bp2) {
    height: 100%;
    width: 32rem;
  }
}

.c-app-layout-inner__content {
  margin-left: 32rem;
  margin-top: .2rem;
  width: 100%;
  height: 100%;
  flex: 1;
  .c-navbar{
    margin-left: .2rem;
    position: fixed;
    top: 6.4rem;
    height: auto;
    border-top: 2px solid $color-gray-50;
    border-bottom: 2px solid $color-gray-50;
    padding-left: 0;
    &.u-position-fixed + div{
      margin-top: 120px;
    }
    .c-toolbar{
      height: 6.4rem;
      padding-left: 2.4rem;
      border-bottom-left-radius: .6rem;
      border-top-left-radius: .6rem;
      background: white;
    }
  }
  @media (max-width: ($g-bp2 - 1px)) {
    // Make full screen scrollable on mobile, mobile navigation pattern needs to be revised in the future
    .u-scroll-wrapper {
      display: block;
    }
  }
}
