/* ==========================================================================
  c-alert-skins
  ---
  Rules of this file: you CAN'T touch the box model here, just colors.
   ========================================================================== */

/* Component
   ========================================================================== */

.c-alert {
  background: #FFF;
  border-radius: 0.3rem;
  border: 0.1rem solid $color-blue-500;
  position: relative;

  &:before {
    content: '';
    height: calc(100% + .1rem);
    width: 0.4rem;
    border-radius: 0.3rem 0 0 .3rem;
    position: absolute;
    left: -.1rem;
    bottom: -.05rem;
    background: $color-blue-500;
  }

  > .o-svg-icon {
    color: $color-blue-500;
  }
}

.c-alert--success {
  border-color: $color-green-500;

  &:before {
    background: $color-green-500;
  }

  > .o-svg-icon {
    color: $color-green-500;
  }
}

.c-alert--error {
  border-color: $color-red-500;

  &:before {
    background: $color-red-500;
  }

  > .o-svg-icon {
    color: $color-red-500;
  }
}

.c-alert--warning {
  border-color: $color-yellow-500;

  &:before {
    background: $color-yellow-500;
  }

  > .o-svg-icon {
    color: $color-yellow-500;
  }
}
