/* ==========================================================================
  Component: app layout
   ========================================================================== */

.c-app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.c-app-layout-inner {
  height: 100%;

  @media (max-width: ($g-bp2 - 1px)) {
    // Make full screen scrollable on mobile, mobile navigation pattern needs to be revised in the future
    overflow-y: auto;
  }

  @media (min-width: $g-bp2) {
    display: flex;
  }
}

.c-app-layout-inner__sidebar {
  width: 100%;
  flex: 0 0 auto;
  padding: 2.4rem;

  @media (min-width: $g-bp2) {
    height: 100%;
    width: 32rem;
    border-right: 0.1rem solid $color-semantic-border;
  }

  @media (max-width: ($g-bp2 - 1px)) {
    border-bottom: 0.1rem solid $color-semantic-border;
  }
}

.c-app-layout-inner__content {
  width: 100%;
  height: 100%;
  flex: 1;

  @media (max-width: ($g-bp2 - 1px)) {

    // Make full screen scrollable on mobile, mobile navigation pattern needs to be revised in the future
    .u-scroll-wrapper {
      display: block;
    }

    .u-scroll-wrapper-body {
      height: auto;
    }
  }
}
