/* ==========================================================================
  c-avatar-and-text
   ========================================================================== */

.c-avatar-and-text {
  display: flex;
  align-items: center;
  min-width: 0;

  .c-avatar {
    margin-right: 1.2rem;
  }

}

.c-avatar-and-text__text {
  flex: 1;
  min-width: 0;
  margin: 0 .4rem;
}

.c-avatar-and-text__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.c-avatar-and-text__text p,
.c-avatar-and-text__text h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c-avatar-and-text__text h3 {
  margin-bottom: 0.4rem;
}

.c-avatar-and-text--wrap {
  .c-avatar-and-text__text p,
  .c-avatar-and-text__text h3 {
    white-space: normal;
    overflow: auto;
  }
}
