/* ==========================================================================
  Alert skins
  ---
  Rules of this file: you CAN'T touch the box model here, just colors.
   ========================================================================== */

/* Component
   ========================================================================== */

.c-alert {
  background: #FFF;
  border-radius: 0.3rem;
  border: 1px solid $color-gray-200;
}

.c-alert--success {
  background: $color-green-500;
  border-color: $color-green-500;

  .o-svg-icon{
    color: $color-green-500;
  }
}

.c-alert--error {
  background: $color-red-500;
  border-color: $color-red-500;

  .o-svg-icon{
    color: $color-red-500;
  }
}

.c-alert--warning {
  background: $color-orange-500;
  border-color: $color-orange-500;

  .o-svg-icon{
    color: $color-orange-500;
  }
}

.c-alert--loading {
  background: $color-gray-100;
}
