/* ==========================================================================
Component: app layout
========================================================================== */

.c-app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  main{
    background-color: $color-gray-50;
    height: 100%;
    flex: 1;
  }
}

.c-app-layout-inner {
  height: 100%;
  
  @media (max-width: ($g-bp2 - 1px)) {
    // Make full screen scrollable on mobile, mobile navigation pattern needs to be revised in the future
    overflow-y: auto;
  }
  
  @media (min-width: $g-bp2) {
    display: flex;
  }
}

.c-app-layout-inner__sidebar {
  @extend .u-position-fixed;
  width: 100%;
  position: relative;
  top: 2px;
  flex: 0 0 auto;
  padding: 1.8rem;
  margin-top: 0;
  background-color: $color-white;
  height: 100%;
  
  @media (min-width: $g-bp2) {
    top: 6.4rem;
    border-top-right-radius: .6rem;
    width: $g-sidebar-width-m;
  }
  @media (min-width: $g-bp3-m) {
    padding: 2.4rem;
  }
  @media (min-width: $g-bp4) {
    width: $g-sidebar-width-l;
  }
}

.c-app-layout-inner__sidebar + .c-app-layout-inner__content {
  @media (min-width: $g-bp2) {
    margin-left: $g-sidebar-width-m;
    .c-navbar{
      padding-left: 0;
      margin-left: .2rem;
      .c-toolbar{
        border-bottom-left-radius: .6rem;
        border-top-left-radius: .6rem;
      }
      &.main-title{
        left: $g-sidebar-width-m;
      }
    }
  }
  @media (min-width: $g-bp4) {
    margin-left: $g-sidebar-width-l;
    .c-navbar.main-title{
      left: $g-sidebar-width-l;
    }
  }
}

.c-app-layout-inner__content {
  margin-top: .2rem;
  width: 100%;
  height: 100%;
  flex: 1;
  .c-navbar{
    height: auto;
    border-top: 2px solid $color-gray-50;
    border-bottom: 2px solid $color-gray-50;
    
    .c-toolbar{
      // height: 6.4rem;
      background: white;
    }
  }
  @media (min-width: $g-bp2) {
    margin-top: 6.2rem;
    .c-navbar{
      
      &.u-position-fixed.main-title{
        top: 6.2rem;
        & + div{
          margin-top: 12.4rem;
        }
      }
      &.u-position-fixed.collapsing{
        & + div{
          margin-top: 20.4rem;
        }
      }
    }
  }
  @media (min-width: $g-bp3-m) {
    margin-top: 6.2rem;
    .c-navbar{
      padding-left: 0;
      position: fixed;
      .c-toolbar{
        height: 6.2rem;
      }
      &.u-position-fixed.main-title, &.u-position-fixed.collapsing{
        & + div{
          margin-top: 7rem;
        }
      }
    }
  }
}
