/* ==========================================================================
  c-button
 ========================================================================== */

// Border radius
$c-button-border-radius: 2rem !default;

// Sizes (heights)

$c-button-height: 3.6rem !default;
$c-button-height-small: 2.6rem !default;

// Font size

$c-button-font-size: 1.6rem;
$c-button-font-size-small: 1.4rem;

// Line height

$c-button-line-height: 2rem;
$c-button-line-height-small: 1.8rem;

// Horizontal padding (border included)

$c-button-padding-horizontal: 1.6rem !default;
$c-button-padding-horizontal-small: 1rem !default;

// Spacing between icon and label

$c-button-icon-spacing: 0.6rem !default;
$c-button-icon-spacing-small: 0.4rem !default;

/* Default size
   ========================================================================== */

.c-button {
  appearance: none; // Fix for Mobile Safari
  text-decoration: none; // to reset <a> element
  cursor: pointer;
  vertical-align: middle;
  border-radius: $c-button-border-radius;
  padding: (($c-button-height - $c-button-line-height - 0.2rem) / 2) $c-button-padding-horizontal;
  font-size: $c-button-font-size;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  display: inline-flex;
  .o-svg-icon {
    height: $c-button-line-height;
    width: $c-button-line-height;
  }
}

a.c-button, button.c-button {
  display: block;
  @media (min-width: $g-bp2) {
    display: inline-flex;
    justify-content: center;
  }
}

button.c-button {
  appearance: none;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input.c-button {
  height: 3.6rem;
}

.c-button .c-button__content {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  pointer-events: none;
}

.c-button__label {
  line-height: $c-button-line-height;
  white-space: nowrap;
}

.o-svg-icon + .c-button__label {
  margin-left: $c-button-icon-spacing;
}

.c-button__label + .o-svg-icon {
  margin-left: $c-button-icon-spacing;
}

.c-button:not(.c-button--icon) .o-svg-icon:first-child {
  margin-left: -0.1rem;
}

.c-button:not(.c-button--icon) .o-svg-icon:last-child {
  margin-right: -0.1rem;
}

// Different spacing for carets
.c-button:not(.c-button--icon) [class*='o-svg-icon-arrows-caret']:last-child {
  margin-left: 0;
  margin-right: -1.5rem;
}

/* Small size
   ========================================================================== */

.c-button--small {
  font-size: $c-button-font-size-small;
  padding: (($c-button-height-small - $c-button-line-height-small) / 2)
    $c-button-padding-horizontal-small;

  .c-button__label {
    line-height: $c-button-line-height-small;
  }

  .o-svg-icon {
    height: $c-button-line-height-small;
    width: $c-button-line-height-small;
  }

  .o-svg-icon + .c-button__label,
  .c-button__label + .o-svg-icon {
    margin-left: $c-button-icon-spacing-small;
  }

  &.c-button--icon {
    padding: ($c-button-height-small - $c-button-line-height-small) / 2 ;
  }

  &:not(.c-button--icon) .o-svg-icon:first-child {
    margin-left: -0.6rem;
  }

  &:not(.c-button--icon) .o-svg-icon:last-child {
    margin-right: -0.6rem;
  }
}

/* Icon-only Button
    ========================================================================== */

.c-button--icon {
  padding: (($c-button-height - $c-button-line-height - 0.4rem) / 2) (($c-button-height - $c-button-line-height - 0.2rem) / 2);

  &.c-button--small {
    padding: ($c-button-height-small - $c-button-line-height-small) / 2;
  }
}

/* Block button
    ========================================================================== */

.c-button--block {
  @media (min-width: $g-bp2) {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}

/* Link button
    ========================================================================== */

.c-button--link {
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  text-decoration: none;
  border-color: transparent;
  border-radius: 0;
  background: none;
  &:hover,
  &:active,
  &:hover svg *,
  &:active svg * {
    color: darken($color-red-600, 15%);
  }
}

a.link--sup:not(.c-button){
  color: $color-blue-600;
  border-bottom: none;
  sup{
    border-bottom: .1rem solid rgba($color-blue-600,.33);
  }
  &:hover{
    border-bottom: none;
    sup{
      border-bottom: .1rem solid $color-blue-600;
    }
  }
}

/* Focus button borderless (align to grid on right and left)
    ========================================================================== */

@media (min-width: $g-bp2) {
  .c-button{ // .c-button--left / .c-button--right
    &--left{
      &.c-button--borderless{
        &:first-child{
          transition: all .05s ease;
          &:focus{
            padding: (($c-button-height - $c-button-line-height - 0.2rem) / 2) $c-button-padding-horizontal/2 !important;
            margin-left: -$c-button-padding-horizontal/2;
          }
        }
      }
    }
    &--right{
      &.c-button--borderless{
        &:last-child{
          transition: all .05s ease;
          &:focus{
            padding: (($c-button-height - $c-button-line-height - 0.2rem) / 2) $c-button-padding-horizontal/2 !important;
            margin-right: -$c-button-padding-horizontal/2;
          }
        }
      }
    }
  }
}
