/* ==========================================================================
  Component: Button Skins
  ---
  Rules of this file: you CAN'T touch the box model here, just colors.
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-button-text-color: $g-text-color !default;
$c-button-hover-border-color: $color-gray-300 !default;
$c-button-outline-color: $color-blue-400 !default;
$c-button-focus-ring-color: $color-red-600 !default;
$c-button-link-color: $color-red-600 !default;

.c-button {
  border: 2px solid transparent;
}


/* Primary
   ========================================================================== */

.c-button--primary, .c-button--highlights {
  background: $color-gray-900;
  border-color: $color-gray-900;
  color: #fff;

  svg * {
    fill: currentColor;
  }

  &:hover,
  &.c-button--hover {
    background: $color-black;
    border-color: $color-black;
  }

  &:active,
  &.c-button--active {
    border-color: $color-black;
    background: $color-black;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Secondary
   ========================================================================== */

.c-button--secondary {
  border: 2px solid rgba(0, 0, 0, .12);
  background: transparent;
  color: $color-semantic-body-text;
  transition: all .2s ease;

  svg * {
    fill: $color-semantic-icon;
  }

  &:hover,
  &.c-button--hover {
    background: rgba(0, 0, 0, .65);
    border-color: transparent;
    color: $color-gray-900;
    color: $color-white;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-gray-50;
    border-color: $color-gray-500;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &.c-button--icon{
    border: none;
    border: 2px solid $color-black;
  }
}

/* Warning
   ========================================================================== */

.c-button--warning {
  border-color: $color-yellow-600;
  background: $color-yellow-600;
  color: $color-yellow-900;

  svg * {
    fill: $color-yellow-900;
  }

  &:hover,
  &.c-button--hover {
    background: $color-yellow-600;
    border-color: $color-yellow-650;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-yellow-650;
    border-color: $color-yellow-650;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &[disabled]{
    background: $color-yellow-150;
    border-color: $color-yellow-150;
    color: $color-yellow-600;
    cursor: not-allowed;
  }
}


/* Danger
   ========================================================================== */

.c-button--danger {
  border-color: $color-red-600;
  background: $color-red-600;
  color: #FFF;

  &:hover,
  &.c-button--hover {
    background: $color-red-700;
    border-color: $color-red-700;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-red-700;
    border-color: $color-red-700;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
  
  &[disabled]{
    background: $color-red-150;
    border-color: $color-red-150;
    color: $color-red-400;
    cursor: not-allowed;
  }
}

/* Danger secondary
   ========================================================================== */

.c-button--danger-secondary {
  border: 1px solid $color-red-600;
  background: #fff;
  color: $color-red-600;

  svg * {
    fill: currentColor;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-50;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-gray-50;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Shared disabled state for primary and secondary buttons
   ========================================================================== */

*[disabled] .c-button--primary,
*[disabled] .c-button--secondary,
.c-button--primary[disabled],
.c-button--secondary[disabled],
.c-button--primary:disabled,
.c-button--secondary:disabled,
.c-button--disabled {
  background: $color-gray-100;
  border-color: $color-gray-100;
  color: $color-semantic-disabled;
  pointer-events: none;
  cursor: not-allowed;
  
  svg * {
    fill: $color-semantic-disabled;
  }
  
}


/* Shared loading state for primary and secondary buttons
   ========================================================================== */

.c-button--primary,
.c-button--secondary {
  &.c-button--loading {
    background: $color-gray-100;
    border-color: $color-gray-100;
    color: $color-semantic-disabled;
    pointer-events: none;
    position: relative;

    .c-button__content {
      visibility: hidden;
    }

    .c-loader {
      position: absolute;
      left: calc(50% - 1.5rem);
      top: calc(50% - 0.8rem)
    }
  }
}


/* Borderless
   ========================================================================== */

// Shared between regular and inverse version
.c-button--borderless,
.c-button--borderless-i,
.c-button--borderless-muted {
  border-color: transparent;
  background: transparent;
  // transition: all .15s ease;

  &:not(.c-button--icon) {
    padding-left: 0;
    padding-right: 0;
  }

  svg * {
    fill: currentColor;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
    background: transparent;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.c-button.c-button--borderless-i {
  color: #fff;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-red-600;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-semantic-disabled;

    svg * {
      fill: $color-semantic-disabled;
    }
  }
}

.c-button--borderless {
  color: $color-semantic-link;
  font-weight: 600;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
    background: transparent;
    text-decoration: underline;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-gray-900;
    background: transparent;
  }

  &:focus {
    color: $color-gray-900;
    background: transparent;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-semantic-disabled;
    cursor: not-allowed;

    svg * {
      fill: $color-semantic-disabled;
    }
  }
}

.c-button--borderless-muted {
  color: $color-semantic-muted-text;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
    background: transparent;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-gray-900;
    background: transparent;
  }

  &:focus {
    color: $color-gray-900;
    background: transparent;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-semantic-disabled;

    svg * {
      fill: $color-semantic-disabled;
    }
  }
}

