/* ==========================================================================
  c-brand
   ========================================================================== */

.c-brand {
  text-align: left;
  padding: 0;
  margin-right: 0.8rem;
  display: block;
  height: 4.8rem;
  img {
    display: block;
    height: 100%;
  }
  a {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
}


.c-brand--small {
  height: 3.6rem;
}

.c-brand--xsmall {
  height: 2.6rem;
  margin-top: -4px;
}
