/* ==========================================================================
  Component: Button Skins
  ---
  Rules of this file: you CAN'T touch the box model here, just colors.
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-button-text-color: $g-text-color !default;
$c-button-hover-border-color: $color-gray-300 !default;
$c-button-outline-color: $color-blue-400 !default;
$c-button-focus-ring-color: $color-red-600 !default;
$c-button-link-color: $color-red-600 !default;

.c-button {
  border: 1px solid transparent;
}

/* Primary
   ========================================================================== */

.c-button--primary {
  background: #000;
  border-color: #000;
  color: #fff;

  svg * {
    fill: currentColor;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-650;
    border-color: $color-gray-800;
  }

  &:active,
  &.c-button--active {
    border-color: $color-gray-650;
    background: $color-gray-800;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Secondary
   ========================================================================== */

.c-button--secondary {
  border: 2px solid $color-semantic-body-text;
  background: #fff;
  color: $color-semantic-body-text;

  svg * {
    fill: $color-semantic-icon;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-50;
    border-color: $color-gray-900;
    color: $color-gray-900;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-gray-50;
    border-color: $color-gray-500;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Danger
   ========================================================================== */

.c-button--danger {
  border-color: $color-red-600;
  background: $color-red-600;
  color: #FFF;

  &:hover,
  &.c-button--hover {
    background: $color-red-700;
    border-color: $color-red-700;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-red-700;
    border-color: $color-red-700;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Danger secondary
   ========================================================================== */

.c-button--danger-secondary {
  border: 1px solid $color-red-600;
  background: #fff;
  color: $color-red-600;

  svg * {
    fill: currentColor;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-50;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-gray-50;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Shared disabled state for primary and secondary buttons
   ========================================================================== */

*[disabled] .c-button--primary,
*[disabled] .c-button--secondary,
.c-button--primary[disabled],
.c-button--secondary[disabled],
.c-button--primary:disabled,
.c-button--secondary:disabled,
.c-button--disabled {
  background: $color-gray-100;
  border-color: $color-gray-100;
  color: $color-semantic-disabled;
  pointer-events: none;

  svg * {
    fill: $color-semantic-disabled;
  }

}


/* Shared loading state for primary and secondary buttons
   ========================================================================== */

.c-button--primary,
.c-button--secondary {
  &.c-button--loading {
    background: $color-gray-100;
    border-color: $color-gray-100;
    color: $color-semantic-disabled;
    pointer-events: none;
    position: relative;

    .c-button__content {
      visibility: hidden;
    }

    .c-loader {
      position: absolute;
      left: calc(50% - 1.5rem);
      top: calc(50% - 0.8rem)
    }
  }
}


/* Borderless
   ========================================================================== */

// Shared between regular and inverse version
.c-button--borderless,
.c-button--borderless-i,
.c-button--borderless-muted {
  border-color: transparent;
  background: transparent;

  &:not(.c-button--icon) {
    padding-left: 0;
    padding-right: 0;
  }

  svg * {
    fill: currentColor;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
    background: transparent;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    pointer-events: none;
  }
}

.c-button.c-button--borderless-i {
  color: #fff;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-red-600;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-semantic-disabled;

    svg * {
      fill: $color-semantic-disabled;
    }
  }
}

.c-button--borderless {
  color: $color-semantic-link;
  font-weight: 600;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
    background: transparent;
    text-decoration: underline;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-gray-900;
    background: transparent;
  }

  &:focus {
    color: $color-gray-900;
    background: transparent;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-semantic-disabled;

    svg * {
      fill: $color-semantic-disabled;
    }
  }
}

.c-button--borderless-muted {
  color: $color-semantic-muted-text;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
    background: transparent;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-gray-900;
    background: transparent;
  }

  &:focus {
    color: $color-gray-900;
    background: transparent;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-semantic-disabled;

    svg * {
      fill: $color-semantic-disabled;
    }
  }
}
