/* ==========================================================================
  Component: Button Skins
  ---
  Rules of this file: you CAN'T touch the box model here, just colors.
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-button-text-color: $g-text-color !default;
$c-button-hover-border-color: $color-gray-300 !default;
$c-button-outline-color: $color-gray-900 !default;
$c-button-focus-ring-color: $color-red-500 !default;
$c-button-link-color: $color-red-500 !default;

.c-button {
  transition: 0.18s ease-in;
  transition-property: background, border;
  border: 1px solid transparent;
}

/* Primary
   ========================================================================== */

.c-button--primary {
  background: #000;
  border-color: #000;
  color: #fff;

  svg * {
    fill: currentColor;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-800;
    border-color: $color-gray-800;
  }

  &:active,
  &.c-button--active {
    border-color: $color-gray-800;
    background: $color-gray-800;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Secondary
   ========================================================================== */

.c-button--secondary {
  border: 1px solid $color-gray-500;
  background: #fff;
  color: $color-text;

  svg * {
    fill: $color-icon;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-50;
    border-color: $color-gray-500;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-gray-50;
    border-color: $color-red-500;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Danger
   ========================================================================== */

.c-button--danger {
  border-color: $color-red-500;
  background: $color-red-500;
  color: #FFF;

  &:hover,
  &.c-button--hover {
    background: $color-red-800;
    border-color: $color-red-800;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-red-800;
    border-color: $color-red-800;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Danger secondary
   ========================================================================== */

.c-button--danger-secondary {
  border: 1px solid $color-red-500;
  background: #fff;
  color: $color-red-500;

  svg * {
    fill: currentColor;
  }

  &:hover,
  &.c-button--hover {
    background: $color-gray-50;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    background: $color-gray-50;
    outline: none;
  }

  &:focus {
    outline: $c-button-outline-color auto 1px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* Shared disabled state for primary and secondary buttons
   ========================================================================== */

.c-button--primary,
.c-button--secondary {

  &[disabled],
  &:disabled,
  &.c-button--disabled {
    background: $color-gray-100;
    border-color: $color-gray-100;
    color: $color-disabled;
    pointer-events: none;

    svg * {
      fill: $color-disabled;
    }
  }
}

/* Borderless
   ========================================================================== */

// Shared between regular and inverse version
.c-button--borderless,
.c-button--borderless-i,
.c-button--borderless-muted {
  border-color: transparent;
  background: transparent;

  &:not(.c-button--icon) {
    padding-left: 0;
    padding-right: 0;
  }

  svg * {
    fill: currentColor;
  }

  &:focus {
    outline: none;
    background: transparent;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    pointer-events: none;
  }
}

.c-button.c-button--borderless-i {
  color: #fff;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-red-500;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-disabled;

    svg * {
      fill: $color-disabled;
    }
  }
}

.c-button--borderless {
  color: $color-text;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
    background: transparent;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-red-500;
    background: transparent;
  }

  &:focus {
    color: $color-red-500;
    background: transparent;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-disabled;

    svg * {
      fill: $color-disabled;
    }
  }
}

.c-button--borderless-muted {
  color: $color-muted;

  &:hover,
  &.c-button--hover {
    color: $color-gray-900;
    background: transparent;
  }

  &:active,
  &:active:focus,
  &.c-button--active {
    color: $color-red-500;
    background: transparent;
  }

  &:focus {
    color: $color-red-500;
    background: transparent;
  }

  &[disabled],
  &:disabled,
  &.c-button-disabled {
    color: $color-disabled;

    svg * {
      fill: $color-disabled;
    }
  }
}
