/* ==========================================================================
  Component: Checkbox and Radio
  ---
  Custom styling for checkboxes and radio buttons.
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-checkbox-input-border-color: $color-semantic-input-border !default;

$c-checkbox-input-border: 1px solid $c-checkbox-input-border-color !default;
$c-radio-input-border: 1px solid $c-checkbox-input-border-color !default;

$c-checkbox-input-border-radius: 0.3rem !default;

// Pixel unit to avoid rounding rendering2px
$c-checkbox-size: 20px !default;
$c-checkbox-small-size: 16px !default;
$c-radio-size: 20px !default;
$c-radio-dot-size: $c-radio-size / 2 !default;

$c-checkbox-icon-size: 20px !default;

$c-checkbox-background-color: #FFF !default;
$c-radio-background-color: #FFF !default;

$c-checkbox-spacing: 12px !default;
$c-radio-spacing: 12px !default;

$c-checkbox-spacing-inline: 16px !default;
$c-radio-spacing-inline: 16px !default;

$c-checkbox-checked-color: $color-blue-600 !default;
$c-radio-checked-color: $color-blue-600 !default;

/* Spacing/Grouping
   ========================================================================== */

.o-form-group .c-checkbox,
.o-form-group .c-radio,
.c-checkbox-group .c-checkbox,
.c-radio-group .c-radio {
  padding: 0.8rem 0;
}

/* Labels
   ========================================================================== */

.c-checkbox,
.c-radio {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  label {
    display: flex;
    flex: 1 1 auto;
    line-height: $c-checkbox-size;
    width: 100%;
    color: $color-semantic-body-text;
    font-size: $g-base-font-size;
  }
}

/* Shared styles
   ========================================================================== */

.c-checkbox input[type='checkbox'],
.c-radio input[type='radio'] {
  flex: none;
  -webkit-appearance: none; // Only disable appearance on webkit, Firefox can't properly restyle checkboxes
  vertical-align: top;
  position: relative;

  &:before {
    content: '';
    position: absolute;
  }
}

.c-checkbox input[type='checkbox']:checked,
.c-checkbox input[type='checkbox'][data-indeterminate]:checked,
.c-radio input[type='radio']:checked {
  border-color: $c-checkbox-checked-color;

  &:before {
    opacity: 1;
  }
}

/* Custom focus outline
   ========================================================================== */

.c-checkbox input[type='checkbox']:focus,
.c-checkbox input[type='checkbox']:active,
.c-radio input[type='radio']:active,
.c-radio input[type='radio']:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($c-checkbox-input-border-color, .5);
  border-color: $c-checkbox-input-border-color;
}

/* Checkbox specific
   ========================================================================== */

.c-checkbox input[type='checkbox'] {
  background: $c-checkbox-background-color;
  border: $c-checkbox-input-border;
  border-radius: $c-checkbox-input-border-radius;
  height: $c-checkbox-size;
  width: $c-checkbox-size;
  margin: 0 $c-checkbox-spacing 0 0;
  top: -1px;

  &:before {
    width: $c-checkbox-size;
    height: $c-checkbox-size;
    left: ($c-checkbox-size - $c-checkbox-icon-size - 2px) / 2;
    top: ($c-checkbox-size - $c-checkbox-icon-size - 2px) / 2;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11.69 4.675l-.443.424L6.77 9.575 4.752 7.558l-.442-.422L3.445 8l.423.442 2.46 2.46.442.423.442-.423 4.92-4.92.423-.442-.865-.865z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    opacity: 0;
  }

  &[data-indeterminate]:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3E%3Cpath id='Rectangle' d='M12,8c0,-0.552 -0.448,-1 -1,-1l-6,0c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1l6,0c0.552,0 1,-0.448 1,-1Z' style='fill:%23fff;'/%3E%3C/svg%3E") no-repeat;
  }

}

.c-checkbox input[type='checkbox'][disabled][data-indeterminate]:checked:before  {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3E%3Cpath id='Rectangle' d='M12,8c0,-0.552 -0.448,-1 -1,-1l-6,0c-0.552,0 -1,0.448 -1,1c0,0.552 0.448,1 1,1l6,0c0.552,0 1,-0.448 1,-1Z' style='fill:%23B3B3B3;'/%3E%3C/svg%3E") no-repeat;
}

.c-checkbox input[type='checkbox']:checked,
.c-checkbox input[type='checkbox'][data-indeterminate]:checked {
  background-color: $c-checkbox-checked-color;
}

*[disabled] .c-checkbox input[type='checkbox'],
*[disabled] .c-checkbox input[type='checkbox']:disabled,
.c-checkbox input[type='checkbox'][disabled] {
  border-color: $c-checkbox-input-border-color;
  background-color: $color-semantic-background;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &:checked:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11.69 4.675l-.443.424L6.77 9.575 4.752 7.558l-.442-.422L3.445 8l.423.442 2.46 2.46.442.423.442-.423 4.92-4.92.423-.442-.865-.865z' fill='%23B3B3B3'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  }
}


/* Radio specific
   @todo document disabled state
   ========================================================================== */

.c-radio input[type='radio'] {
  background: $c-radio-background-color;
  border: $c-radio-input-border;
  border-radius: 100%;
  height: $c-radio-size;
  width: $c-radio-size;
  margin: 0 $c-radio-spacing 0 0;
}

.c-radio input[type='radio']:checked,
.c-radio input[type='radio'][disabled] {
  &:before {
    background: $c-radio-checked-color;
    height: $c-radio-dot-size;
    width: $c-radio-dot-size;
    top: ($c-radio-size - $c-radio-dot-size - 2px) / 2;
    left: ($c-radio-size - $c-radio-dot-size - 2px) / 2;
    border-radius: 100%;
  }
}

*[disabled] .c-radio input[type='radio'],
.c-radio input[type='radio'][disabled] {
  border-color: $c-checkbox-input-border-color;
  background: $color-gray-50;
  pointer-events: none;

  &:before {
    background: $color-gray-300;
  }

  &:checked:before {
    background: $c-radio-input-border;
  }
}

/* Inline checkbox and Radio
   ========================================================================== */

.c-radio-group--inline {
  .c-radio {
    display: inline-block;
    height: $c-radio-size;
    margin-right: $c-radio-spacing-inline;
  }
}

.c-checkbox-group--inline {
  .c-checkbox {
    display: inline-block;
    height: $c-checkbox-size;
    margin-right: $c-checkbox-spacing-inline;
  }
}

/* Checkbox / Radio without label
   @todo document this
   ========================================================================== */

.c-checkbox--no-label {
  display: inline-block;

  input[type='checkbox'] {
    margin: 0;
  }
}

.c-radio--no-label {
  display: inline-block;

  input[type='radio'] {
    margin: 0;
  }
}

/* Checkbox Subgroup
   ========================================================================== */

.c-checkbox-subgroup {
  margin: 0.8rem 0 0 2.4rem;
}
