/* ==========================================================================
  Component: c-panel
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-card-padding: 2.4rem !default;
$c-card-border-radius: 0.4rem !default;
$c-card-border-color: $color-gray-150 !default;

/* Component
   ========================================================================== */

.c-card {
  display: block;
  color: $g-text-color;
  text-decoration: none;
  position: relative;
  height: 100%;
  border: .1rem solid $c-card-border-color;
  border-radius: $c-card-border-radius;
  background-color: #fff;
}

a.c-card:hover {
  border-color: $color-gray-300;
  background: $color-gray-25;
}

.c-card--background-gray {
  background: $color-gray-50;
}

.c-card__title {
  color: $color-header;
  font-size: 1.8rem;
  font-weight: 500;
}

.c-card__body {
  padding: $c-card-padding;
}

.c-card__body--with-actions {

  @media (min-width: $g-bp2) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.c-card__content {
  flex: 1;
}

.c-card__actions {
  display: flex;
  align-items: center;

  .c-button-toolbar {
    margin-left: auto;
  }

  @media (max-width: $g-bp2) {
    margin-bottom: 1.6rem;
  }
}
