/* ==========================================================================
  Shared styles between c-display and c-content
   ========================================================================== */

/* Tables
   ========================================================================== */

.c-display,
.c-content {

  table {
    width: 100%;
    margin: 1.5rem 0;
  }

  table td,
  table th {
    padding: 0.8rem;
  }

  table th {
    border-bottom: 0.2rem solid $color-gray-200;
    font-weight: 500;
    text-align: left;
  }

  table th[scope="row"] {
    border-bottom: .1rem solid $color-gray-200;
    border-right: .2rem solid $color-gray-200;
  }

  table td {
    border-bottom: 1px solid $color-gray-100;
  }

  table tr:last-child td,
  table tr:last-child th[scope="row"] {
    border-bottom: none;
  }
}

/* Code blocks
   ========================================================================== */

.c-display,
.c-content {

  // Code block styling

  pre {
    background: $color-gray-50;
    padding: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    overflow: auto;
  }

  pre,
  code {
    font-family: $g-code-font-family;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  code {
    background: $color-gray-50;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 85%;
    color: $color-semantic-body-text;
  }

}

/* Block and inline quotes
   ========================================================================== */

.c-display,
.c-content {

  blockquote {
    font-style: italic;
    padding-left: 1.5rem;
    margin-left: 0.2rem;
    border-left: .4rem solid $color-gray-100;
  }

  .c-block-quote--enable-auto-quotes p:first-child:before {
    content: open-quote;
  }

  .c-block-quote--enable-auto-quotes p:last-of-type:after {
    content: close-quote;
  }

  blockquote cite {
    text-transform: uppercase;
    font-style: normal;
    font-size: 85%;
    letter-spacing: .1rem;
  }

  strong {
    font-weight: 500;
  }

  .c-button {
    text-decoration: none;
  }

  // Inline quotes

  * {
    quotes: "“""”";
  }

  *[lang="fr"] * {
    quotes: "«""»";
  }

  *[lang="de"] * {
    quotes: "»""«";
  }

  q:before {
    content: open-quote;
  }

  q:after {
    content: close-quote;
  }

}

/* Definition list
   ========================================================================== */

.c-display,
.c-content {
  dl {
    margin: 3.2rem 0;

    dt {
      font-weight: 500;
      margin: 0 0 0.8rem;

      a {
        // Keep link styles if description term is a link
        font-weight: 400;
      }
    }

    dd {
      margin: 0 0 3.2rem 3.2rem;
    }
  }
}

/* Superscript and subscript
   ========================================================================== */

.c-display,
.c-content {

  sup,
  sub {
    font-size: 1.2rem;
    line-height: 0;
    position: relative;
  }

  sup {
    top: -1rem;
  }

  sub {
    bottom: -.6rem;
  }
}
