/* ==========================================================================
  c-display
  ---
  Usage: wrap a .c-display class around content to turn it into rich text.
  Similar to .c-content, but meant for a reading context.

   ========================================================================== */

.c-display {
  font-size: 1.8rem; // Redefine base font size (in .c-content it derives from the body element)
  line-height: 1.72;  // Redefine base line height, so elements like p and li can derive it.
}

.c-d-h1, .c-d-h2, .c-d-h3, .c-d-h4,
.c-display h1,
.c-display h2,
.c-display h3,
.c-display h4 {
  color: $g-headings-color;
}

.c-d-h1, .c-display h1,
.c-d-h2, .c-display h2,
.c-d-h3, .c-display h3,
.c-d-h4, .c-display h4 {
  font-family: $g-headings-font-family;
  font-weight: $g-display-headings-font-weight;
}

.c-d-h1, .c-display h1 {
  font-size: 3.8rem;
  margin: 0 0 3.8rem;
  line-height: 1.25;
}

.c-d-h2, .c-display h2 {
  font-size: 3rem;
  margin: 0 0 3rem;
  line-height: 1.36;
}

.c-d-h3, .c-display h3 {
  font-size: 2.6rem;
  margin: 0 0 1.2rem;
  line-height: 1.36;
}

.c-d-h4, .c-display h4 {
  font-size: 2.2rem;
  margin: 0 0 2.2rem;
  line-height: 1.36;
}


.c-d-body-1, .c-display p {
  font-size: 1.8rem;
  margin: 1.4rem 0;
}

.c-d-body-2, .c-display p small {
  font-size: 1.6rem;
  margin: 1.6rem 0;
  line-height: 1.72;
}

.c-display figure {
  margin: 1.8rem 0;
}

.c-display figcaption {
  color: $color-muted;
}

.c-display {

  p {
    margin: 1.8rem 0;
  }

  a {
    text-decoration: none;
    color: $color-blue-500;
    border-bottom: .1rem solid rgba($color-blue-500,.33);
  }

  ul, ol {
    padding-left: 3.2rem;
    margin: 1.8rem 0;
    ul, ol {
      margin: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
  
  pre {
    background: $color-gray-50;
    padding: 1.5rem;
    margin: 0 0 1rem;
    font-size: 75%;
    white-space: pre-wrap;
  }

  pre, code {
    font-family: $g-code-font-family;
  }

  code {
    font-size: 85%;
    background: $color-gray-50;
    padding: 0.4rem;
    border-radius: 0.2rem;
    color: $color-red-500;
  }

}