/* ==========================================================================
  c-display
  ---
  Usage: wrap a .c-display class around content to turn it into rich text.
  Similar to .c-content, but meant for a reading context.

   ========================================================================== */

.c-display {
  font-size: 1.8rem; // Redefine base font size (in .c-content it derives from the body element)
  line-height: 1.72;  // Redefine base line height, so elements like p and li can derive it.
}

.c-d-h1, .c-d-h2, .c-d-h3, .c-d-h4,
.c-display h1,
.c-display h2,
.c-display h3,
.c-display h4 {
  color: $g-headings-color;
}

.c-d-h1, .c-display h1,
.c-d-h2, .c-display h2,
.c-d-h3, .c-display h3,
.c-d-h4, .c-display h4 {
  font-family: $g-headings-font-family;
}

.c-d-h1, .c-display h1 {
  font-size: 3.8rem;
  margin: 4.8rem 0 3.2rem;
  line-height: 1.25;
  font-weight: 700;
}

.c-d-h2, .c-display h2 {
  font-size: 3rem;
  margin: 4.8rem 0 2.4rem;
  line-height: 1.36;
  font-weight: 600;
}

.c-d-h3, .c-display h3 {
  font-size: 2.6rem;
  margin: 3.2rem 0 1.8rem;
  line-height: 1.36;
  font-weight: 600;
}

.c-d-h4, .c-display h4 {
  font-size: 2.2rem;
  margin: 2.4rem 0 1.6rem;
  line-height: 1.36;
  font-weight: 600;
}

.c-d-h1:first-child,
.c-d-h2:first-child,
.c-d-h3:first-child,
.c-d-h4:first-child,
.c-display h1:first-child,
.c-display h2:first-child,
.c-display h3:first-child,
.c-display h4:first-child {
  margin-top: 0;
}

.c-d-body-1 {
  font-size: 1.8rem;
  margin: 1.8rem 0;
}

.c-d-body-2 {
  font-size: 1.6rem;
  margin: 1.6rem 0;
  line-height: 1.72;
}

.c-display {

  p {
    margin: 1.8rem 0;
  }

  small {
    font-size: 1.6rem;
    margin: 1.6rem 0;
    line-height: 1.72;
  }


  .c-sidenote {
    color: $color-semantic-muted-text;
    display: block;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 1.6rem 0;

    @media (min-width: $g-bp4) {
      float: right;
      clear: right;
      width: 32rem;
      margin: 0 -32rem 0 0;
      padding: 0 2.4rem;
      position: relative;
      vertical-align: baseline;
    }
  }

  a {
    text-decoration: none;
    color: $color-blue-600;
    border-bottom: .1rem solid rgba($color-blue-600,.33);
  }

  ul, ol {
    padding-left: 3.2rem;
    margin: 1.8rem 0;
    ul, ol {
      margin: 0;
    }
    h1, h2, h3, h4, h5{
      margin-left: -3rem;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  pre {
    margin: 1.6rem 0;
  }

  figure {
    margin: 3.2rem 0;
  }

  figure img {
    border: .1rem solid $color-gray-100;
  }

  figcaption {
    color: $color-semantic-muted-text;
    font-size: 1.4rem;
  }

  hr {
    margin: 3.2rem 0;
    border: none;
    border-bottom: 1px solid $color-gray-150;
  }

}
