/* ==========================================================================
  c-file-upload
   ========================================================================== */

.c-file-upload {
  background: transparent;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .c-progress-bar {
    width: 60%;
  }
}

.c-file-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.0001;
}

.c-file-upload input[type="file"]:focus:not([disabled]) ~ .c-file-upload__content {
  outline: 0;
  border-color: transparent;
  box-shadow: inset 0 0 0 0.1rem $color-blue-500;
}

.c-file-upload input[type="file"]:hover:not([disabled]) ~ .c-file-upload__content {
  background-color: $color-gray-30;
}


.c-file-upload--gray-30 .c-file-upload__content {
  background-color: $color-gray-30;
}

.c-file-upload--error .c-file-upload__content {
  border-color: $color-error;
}

.c-file-upload__content {
  border: 0.1rem dashed $color-gray-300;
  border-radius: .3rem;
  width: 100%;
  padding: 3rem;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-height: 12rem;
}

.c-file-upload__status {
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;

  span + .o-svg-icon {
    margin-left: 0.4rem;
  }
}


