/* ==========================================================================
  c-filter-pill-list
   ========================================================================== */

.c-filter-pill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .c-filter-pill-list__item + .c-filter-pill-list__item {
    margin-left: 0.8rem;
  }
}
