/* ==========================================================================
  c-filter-pill-list
   ========================================================================== */

   .c-filter-pill-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
    .c-filter-pill-list__item + .c-filter-pill-list__item {
      margin-left: 0.8rem;
    }
  }
  


/* ==========================================================================
  c-filter-pill
   ========================================================================== */

.c-filter-pill {
  border-radius: 2.4rem;
  padding: 0.5rem 0.8rem 0.5rem 1.2rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.1rem solid transparent;
  width: fit-content;
  border: 0.1rem solid $color-gray-200;
  background: $color-gray-25;

  .o-svg-icon {
    width: 0.8rem;
    height: 1.6rem;
    color: $color-gray-600;
  }

}

.c-filter-pill:active,
.c-filter-pill-list__item .c-popover[data-show] ~ .c-filter-pill {
  border-color: $color-blue-400;
  background: $color-blue-50;
}

.c-filter-pill__label {
  line-height: 1;
  color: $color-semantic-body-text;
}

.c-filter-pill__counter {
  font-size: 1.2rem;
  line-height: 1;
  background-color: $color-blue-600;
  color: #fff;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
}

.c-filter-pill__label + .o-svg-icon {
  margin-left: 0.6rem;
}
