.c-figure {
  margin: 1.8rem 0;
}

.c-figure__figcaption {
  color: $color-semantic-muted-text;
}

.c-figure--boxed {
  background: $color-gray-25;
  padding: 3rem;
  border-radius: .3rem;
  img {
    @media (min-width: $g-bp3) {
      max-width: 62rem;
    }
    display: block;
    margin: 0 auto 1.2rem;
  }
}
