/* ==========================================================================
  Component: Global banner
   ========================================================================== */

.c-global-banner {
  padding: 1.2rem 2.4rem;
  position: relative;
  min-height: 5.6rem;
  display: flex;
  align-items: center;
  
  &.c-global-banner--default {
    background-color: $color-blue-500;

    .c-global-banner__label {
      color: $color-white;
    }

    .c-button--icon,
    .o-svg-icon {
      color: $color-white;
    }
  }
  &.c-global-banner--warning {
    background-color: $color-warning;

    .o-svg-icon {
      color: $color-icon;
    }
  }

  .o-svg-icon {
    flex-shrink: 0;
  }

  .c-button--icon {
    position: absolute;
    right: 1.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2.4rem;
  }
}

.c-global-banner__label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1.6rem;
}