/* ==========================================================================
  c-header
   ========================================================================== */

.c-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $g-c-global-header-z;
}
