/* ==========================================================================
  Input With Icon
   ========================================================================== */

.c-input-with-icon {
  display: block;
  position: relative;
  color: $color-gray-650;

  .o-svg-icon {
    position: absolute;
    top: 0.9rem;
    width: 1.8rem;
    height: 1.8rem;
    left: 0.8rem;
  }

  .c-input:first-child {
    padding-right: 3rem;
  }

  .c-input:last-child {
    padding-left: 3rem;
  }

  .c-input + .o-svg-icon {
    right: 0.8rem;
    left: auto;
  }

  .c-input + .o-svg-icon + .o-svg-icon {
    right: 0.8rem;
    left: auto;
  }

  // Specific situation for password show/hide toggle
  .c-input-with-icon__toggle {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.6rem;
    width: 2.4rem;
    height: 2.4rem;
    right: 0.4rem;
    padding: 0.3rem;

    .o-svg-icon {
      position: initial;
    }
  }

  .c-input[type="password"] ~ .c-input-with-icon__toggle .o-svg-icon-eye-off,
  .c-input[type="text"] ~ .c-input-with-icon__toggle .o-svg-icon-eye {
    display: none;
  }
}

.c-input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  right: 0;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius:10px;
  background: $color-gray-100 url(../images/close.svg) no-repeat 50% 50%;
  &:before {
    content: 'x';
    color: red;
  }
}