/* ==========================================================================
  Component: Key value list
   ========================================================================== */

.c-key-value {
  .c-key-value-item + .c-key-value-item {
    margin-top: 2.4rem;
  }
}

.c-key-value-item__key {
  padding: 0.4em 0;
  color: $color-text;
  font-weight: 500;
}

.c-key-value-item__value {
  a {
    text-decoration: none;
    color: $color-blue-500;
    border-bottom: .1rem solid rgba($color-blue-500,.33);
  }
}

.c-key-value--horizontal {
  .c-key-value-item {
    display: flex;
    align-items: center;
  }

  .c-key-value-item__key {
    width: 45%;
    margin-bottom: 0;
  }

  .c-key-value-item + .c-key-value-item {
    margin-top: 0.4rem;
  }
}
