/* ==========================================================================
  Component: list
  ---
  List styling
   ========================================================================== */

/* Component
   ========================================================================== */

.c-list {
  width: 100%;
  background-color: $color-gray-50;
  padding: 0;
}

.c-list__header {
  border-bottom: 2px solid $color-gray-50;
  .c-list__item {
    &:first-child{
      border-top-left-radius: $g-border-radius-medium;
      border-top-right-radius: $g-border-radius-medium;
    }
    padding: 1rem 0;
    .c-list__item--cell{
      color: $color-black;
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}

.c-list__body {
  width: 100%;
  
}

.c-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex: 1 1 auto;
  padding: .5rem 0;
  background-color: white;
  border-radius: $g-border-radius-small;
  margin-left: 0;
  margin-right: 0;
  
  .mod-6{
    width: calc(50% - 1.2rem);
    margin-left: 0; margin-right: 0;
    align-items: center;

  }

  &--cell{
    &.small{
      font-size: 1.4rem;
    }
  }

  &+.c-list__item{
    border-top: 2px solid $color-gray-50;
  }

}

.c-list--pajamas .c-list__body{
  .c-list__item:nth-child(odd){
    background-color: $color-gray-25;
  }
}

.c-list--scattered{
  .c-list__header{    
    display: none;
  }
  .c-list__item{
    padding: 2rem 2rem;
    margin-bottom: 1.5rem;

    .title{
      @extend .c-h5;
      margin-bottom: 0;
    }

    .mod-6{
      width: calc(50% - 2.4rem);
      display: block !important;
      &:first-child{
        .c-list__item--cell{
          width: 100%;
        }
      }
      .c-list__item--cell{
        &:last-child{
          font-weight: bold;
        }
      }
      &+.mod-6{
        width: calc(50% - 2.4rem);
        display: flex !important;
        .c-list__item--cell{
          width: 25%;
          &:first-child{
            width: 32%;
          }
          &:last-child{
            width: 43%;
          }
        }
      }
    }
  }
  .c-list__item + .c-list__item{
    margin-top: 1.5rem;
  }
}

@media (min-width: ($g-bp3)) {
  .c-list {
    &__item{
      &--cell{
        &.align-right{ 
          // good practire for actions at the end
          text-align: right;
        }
      }
    }
  }
}
@media (max-width: ($g-bp3-m)) {
  .c-list {
    width: 100%;
    background-color: $color-gray-50;
    
  }
}