/* ==========================================================================
  Component: main layout
   ========================================================================== */

.c-main-layout {
  display: flex;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}
