/* ==========================================================================
   Component: Menu
   ---
  Dropdown menu
   ========================================================================== */

/* Variables
   ========================================================================== */

$g-c-menu-z: 60 !default;

/* Component
      ========================================================================== */

.c-menu {
  background: #fff;
  border: 1px solid $color-gray-200;
  border-radius: 0.3rem;
  filter: drop-shadow(0 0 0.5rem rgba(33, 33, 33, 0.25));
  color: $g-text-color;
  min-width: 10rem;
  opacity: 0;
  padding: 0.4rem 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: $g-c-menu-z;
}

.c-menu--large {
  min-width: 22rem;
}

.c-menu.c-menu--visible.js-no-action {
  position: static;
}

.c-menu--visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.c-menu__item {
  display: flex;
  position: relative;
  align-items: center;
}

.c-menu__item--nowrap {
  white-space: nowrap;
}

.c-menu__label {
  padding: 0.8rem 1.6rem;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .c-avatar,
  .o-svg-icon {
    margin-right: $g-spacer-unit;
  }

  // Hover state
  &:hover {
    background-color: $color-gray-50;
  }

  &:focus {
    box-shadow: inset 0 0 0 0.2rem $color-blue-200;
  }
}

.c-menu__divider {
  border-top: 0.1rem solid $color-gray-200;
  display: block;
  margin-top: 0.4rem;
  padding-top: 0.4rem;
}

// Styling for items not used in a dropdown, ie as a list item
*:not(.c-menu)>.c-menu__item {
  min-height: $g-bar-size-medium;
  border-bottom: 1px solid $color-gray-200;
  padding-left: 0;
  padding-right: 0;

  &:last-child {
    border-bottom: 0;
  }

  &--selected::after {
    right: 0.6rem;
  }
}
