/* ==========================================================================
   Component: Menu
   ---
  Dropdown menu
   ========================================================================== */

/* Variables
   ========================================================================== */

$g-c-menu-z: 60 !default;

/* Component
      ========================================================================== */

.c-menu {
  background: #fff;
  border-radius: $g-border-radius-medium;
  filter: drop-shadow(0 0 0.5rem rgba(33, 33, 33, 0.25));
  color: $g-text-color;
  min-width: 14rem;
  opacity: 0;
  padding: 0.4rem 0;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: $g-c-menu-z;
  right: 0;
  top: -4px !important;
  &:after{
    border-radius: 2px 2px 2px 12px;
    content: '';
    position: absolute;
    right: 14px;
    top: -6px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transform: rotate(-45deg);
    clear: both;
  }
  &[data-popper-placement="bottom-start"] {
    &:after{
      right: auto;
      left: 22px;
    }
  }
  @media (min-width: $g-bp3) {
    top: 0 !important;
    &:after{
      right: 18px;
   }
  }
}

.c-menu--large {
  min-width: 21rem;
}

.c-menu--xxlarge {
  min-width: 26rem;
}

.c-menu.c-menu--visible.js-no-action {
  position: static;
}

.c-menu--visible {
  right: auto;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.c-menu__item {
  display: flex;
  position: relative;
  align-items: center;
}

.c-menu__item--nowrap {
  white-space: nowrap;
}

.c-menu__label {
  padding: 0.8rem 1.6rem;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .c-avatar + span,
  .o-svg-icon + span,
  span + .o-svg-icon {
    margin-left: $g-spacer-unit;
  }
}

a.c-menu__label{
  // Links only
  cursor: pointer;
  &:hover {
    background-color: $color-gray-50;
  }
  &:focus {
    box-shadow: inset 0 0 0 0.2rem $color-blue-50;
  }
}

.c-menu__label--2-lines {
  flex-direction: column;
  align-items: start;
}

.c-menu__subline {
  font-size: 1.4rem;
  color: $color-black;
  font-weight: 600;
  margin-top: 0.2rem;
}

.c-menu__info {
  padding: 0.8rem 1.6rem;
  color: inherit;
}

.c-menu__divider {
  border-top: 0.1rem solid $color-semantic-border;
  display: block;
  margin-top: 0.4rem;
  padding-top: 0.4rem;
}

.c-menu__item--danger {
  color: $color-semantic-error;

  .c-menu__label:focus {
    box-shadow: inset 0 0 0 0.2rem $color-red-150;
  }
}

// Styling for items not used in a dropdown, ie as a list item
*:not(.c-menu)>.c-menu__item {
  min-height: $g-bar-size-medium;
  border-bottom: 1px solid $color-semantic-border;
  padding-left: 0;
  padding-right: 0;

  &:last-child {
    border-bottom: 0;
  }

  &--selected::after {
    right: 0.6rem;
  }
}
