/* ==========================================================================
  Component: navbar
  ---
  A container for navigational elements
   ========================================================================== */

.c-navbar {
  height: $g-bar-size-regular;
  &.main-title{
    box-shadow: 0 3px 2px transparentize($color-gray-50, .60);
    @media (min-width: $g-bp1) {
      right: 0;
      left: 0;
    }
  }
  .c-toolbar{
    padding: 0 1.8rem;
  }

  &.collapsing{
    .c-toolbar{
      display: block;
      height: auto;
    }
    .c-toolbar__left {
      flex-wrap: wrap;
      .c-toolbar__item {
        &+.c-toolbar__item{
          margin-bottom: 1.4rem;
        }
        &:first-child {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
    .c-toolbar__right {
      justify-content: flex-start;
      .c-toolbar__item{
        margin-left: 0;
        margin-right: 1.6rem;
      }
    }
  }

  &.main-title{
    .c-toolbar{
      padding: 1.2rem 1.8rem;
    }
    
  }
}

@media (min-width: $g-bp3-m) {
  .c-navbar {
    &.collapsing{
      .c-toolbar__left {
        .c-toolbar__item {
          &+.c-toolbar__item{
            margin-bottom: 0;
          }
          &:first-child {
            width: auto;
            margin-bottom: 0;
          }
        }
      }
      .c-toolbar__right {
        justify-content: flex-end;
        .c-toolbar__item{
          margin-left: 1.6rem;
          margin-right: 0;
        }
      }
    }
    &.main-title{
      .c-toolbar {
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        height: $g-bar-size-regular;
      }
      
    }
  }
}


@media (min-width: $g-bp3-m) {
  .c-navbar {
    .c-toolbar, &.main-title .c-toolbar {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}


header .c-navbar, header.c-navbar{
  border-top: 4px solid $color-red-600;
  background-color: $color-white;
  border-bottom: 2px solid $color-gray-50;
  .c-toolbar{
    height: 6rem;
  }
}

.c-navbar--entry {
  padding: 4rem 2.4rem;
  height: auto;
}

.c-navbar--entry {
  padding: 4rem 2.4rem;
  height: auto;
}

.c-navbar--unpadded {
  padding: 0;
}

.c-navbar--auto {
  height: auto;
}

.c-navbar--white {
  background: #FFF;
}

.c-navbar--bg-alt {
  background: $color-gray-50;
}

.c-navbar--fixed {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $g-c-global-navbar-z;
  border-bottom: 1px solid $color-semantic-border;
}



.c-navbar--scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  z-index: 61;

  .c-toolbar__left,
  .c-toolbar__right {
    z-index: initial; // Fix safari bug menu z-index
  }

  .c-toolbar {
    flex: 1 0 auto;
    width: auto;
  }

  .c-toolbar__item {
    position: unset; // Fix bug menu z-index (to appear outside of navbar, an absolute positioned element's closest positioned ancestors must also be an ancestor of the element with overflow: hidden).
  }
}

/* Bordered equivalents
   ========================================================================== */

.c-navbar--bordered-top {
  border-top: 0.1rem solid $color-semantic-border;
}

/* Sizes
   ========================================================================== */

.c-navbar--small{
  height: $g-bar-size-small;
}

.c-navbar--medium {
  height: $g-bar-size-medium;
}

.c-navbar--large {
  height: $g-bar-size-large;
}
