/* ==========================================================================
  Component: navbar
  ---
  A container for navigational elements
   ========================================================================== */

.c-navbar {
  padding: 0 2.4rem;
  height: $g-bar-size-regular;
  width: 100%;
}

.c-navbar--unpadded {
  padding: 0;
}

.c-navbar--auto {
  height: auto;
}

.c-navbar--white {
  background: #FFF;
}

.c-navbar--bg-alt {
  background: $color-gray-50;
}

.c-navbar--fixed {
  position: sticky;
  top: 0;
  left: 0;
  z-index: $g-c-global-navbar-z;
  border-bottom: 1px solid $color-border;
}

.c-navbar--main {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1.6rem;

  .c-toolbar__right {
    z-index: 61;
  }

  @media (min-width: $g-bp3) {
    margin: 3.2rem 0;
    height: $g-bar-size-large;
  }
}

.c-navbar--app {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  z-index: 61;

  .c-toolbar__left,
  .c-toolbar__right {
    z-index: initial; // Fix safari bug menu z-index
  }

  .c-toolbar {
    flex: 1 0 auto;
    width: auto;
  }

  .c-toolbar__item {
    position: unset; // Fix bug menu z-index (to appear outside of navbar, an absolute positioned element's closest positioned ancestors must also be an ancestor of the element with overflow: hidden).
  }
}

/* Bordered equivalents
   ========================================================================== */

.c-navbar--bordered-top {
  border-top: 0.1rem solid $color-border;
}

.c-navbar--bordered-bottom {
  border-bottom: 0.1rem solid $color-border;
}

/* Sizes
   ========================================================================== */

.c-navbar--small {
  height: $g-bar-size-medium;
}

.c-navbar--large {
  height: $g-bar-size-large;
}
