/* ==========================================================================
    Component: Progress bar
    ---
    Progress bar that changes width AND color using a CSS variable
    By Lea verou - http://dabblet.com/gist/9ef99ce3555ba569c24c7532ef37dc9a
   ========================================================================== */


.c-progress-bar {
  display: flex;
  width: 100%;
  height: 0.4rem;
  background-color: $color-gray-200;
  border-radius: .3rem;
  overflow: hidden;

  &:before {
    content: "";
    width: calc(var(--value) * 100%);
    background: $color-blue-600;
    animation: fillBar 250ms linear 1;
  }
}

@keyframes fillBar {
  form {
    width: 0%;
  }

  to {
    width: var(--value);
  }
}

.c-progress-bar--success {
  &:before {
    background: $color-semantic-success;
  }
}
