/* ==========================================================================
  Component Custom select
  ---
  Styles for a custom select dropdown
   ========================================================================== */

/* Component
   ========================================================================== */

.c-select-custom {
  color: $color-semantic-body-text;
  appearance: none;
  text-align: left;
  background: $c-input-bg-color; // We use properties from textfield here
  border: 1px solid $c-input-border-color;
  border-radius: $c-input-border-radius; // We use properties from textfield here
  position: relative;
  height: 3.6rem;
  font-size: inherit;
  display: flex;
  align-items: center;
  padding: 0.8rem 2.8rem 0.8rem 0.8rem;
  width: 100%;
  overflow: auto;
  @include textfield-focus;

  &:after {
    pointer-events: none;
    content: ' ';
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.25rem);
    width: 0;
    height: 0;
    border-width: 1rem;
    border: 0.5rem solid $color-gray-600;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.c-select-custom__value {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .c-avatar + span,
  .o-svg-icon + span,
    span + .o-svg-icon {
      margin-left: $g-spacer-unit;
    }
}


// Widths
.c-select-custom--w-xsmall { width: 6.4rem; }
.c-select-custom--w-small { width: 12rem; }
.c-select-custom--w-medium { width: 20rem; }
.c-select-custom--w-large { width: 44rem; }
