/* ==========================================================================
  c-side-menu
  ========================================================================== */

.c-side-menu {
  border: 0.1rem solid $color-semantic-border;
  border-radius: 0.3rem;
}

.c-side-menu + .c-side-menu {
  margin-top: 2.4rem;
}

.c-side-menu__item + .c-side-menu__item {
  border-top: 0.1rem solid $color-semantic-border;
}

.c-side-menu__link {
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  color: $color-semantic-body-text;
  align-items: center;
  display: flex;
  position: relative;

  &:hover,
  &:focus {
    background: $color-gray-25;
  }

  &:focus {
    z-index: 2;
  }
}

.c-side-menu__item--active {
  > .c-side-menu__link {
    background: #fff;
    color: $color-gray-900;

    &:before {
      content: '';
      height: calc(100% + 0.2rem);
      width: 0.5rem;
      position: absolute;
      left: -0.1rem;
      top: -0.1rem;
      bottom: -0.1rem;
      background: $color-red-600;
    }
  }
}


.c-side-menu__item:first-child {
  .c-side-menu__link {
    border-radius: 0.3rem 0.3rem 0 0;
  }

  &.c-side-menu__item--active .c-side-menu__link:before {
    @media (min-width: $g-bp2) {
      border-top-left-radius: 0.3rem;
    }
  }
}

.c-side-menu__item:last-child {
  .c-side-menu__link {
    border-radius: 0 0 0.3rem 0.3rem;
  }

  &.c-side-menu__item--active .c-side-menu__link:before {
      border-bottom-left-radius: 0.3rem;
  }
}
