/* ==========================================================================
  Component: Status Pill
   ========================================================================== */

/* Component
   ========================================================================== */

.c-status-pill {
  border-radius: 2.4rem;
  padding: 0.2rem 1rem 0.2rem .8rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0.1rem solid transparent;
}

.c-status-pill__circle {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.8rem;
}

.c-status-pill__circle + .c-status-pill__label {
  margin-left: 0.6rem;
}

/* Skins
   ========================================================================== */

.c-status-pill--default {
  border: 0.1rem solid $color-gray-200;
  background: $color-gray-25;

  .c-status-pill__circle {
    background: $color-gray-650;
  }
}

.c-status-pill--pending {
  border-color: $color-blue-400;
  background: $color-blue-50;

  .c-status-pill__circle {
    background: $color-blue-600;
  }
}

.c-status-pill--danger {
  border: 0.1rem solid $color-red-150;
  background: $color-red-50;

  .c-status-pill__circle {
    background: $color-red-600;
  }
}

.c-status-pill--success {
  border: 0.1rem solid $color-green-300;
  background: $color-green-50;

  .c-status-pill__circle {
    background: $color-green-500;
  }
}

.c-status-pill--warning {
  border: 0.1rem solid $color-yellow-500;
  background: $color-yellow-50;

  .c-status-pill__circle {
    background: $color-yellow-800;
  }
}

.c-status-pill--client {
  border: 0.1rem solid $color-beige-50;
  background: $color-beige-50;
  color: $color-beige-900;
  font-weight: bold;

  .c-status-pill__circle {
    background: $color-beige-900;
  }
}
