/* ==========================================================================
   c-table-of-content
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-table-of-content-item-color: $color-semantic-header-text !default;
$c-table-of-content-item-color-number: $color-gray-500 !default;
$c-table-of-content-item-active-text-color: $color-semantic-body-text !default;
$c-table-of-content-item-active-color-light: $color-blue-50 !default;
$c-table-of-content-item-active-color-dark: $color-blue-700 !default;


$c-table-of-content-active-border-width: 0.3rem !default;
$c-table-of-content-padding-all: 3.2rem !default;
$c-table-of-content-border-radius: 1rem !default;




/* Component
   ========================================================================== */

.c-table-of-content-navigation {
  background-color: $color-white;
  padding: 0 $c-table-of-content-padding-all;
  border-radius: $c-table-of-content-border-radius;
  min-width: 45%;

  .c-table-of-content__nav {
    &.sticky-element{
      align-self: flex-start;
      position: sticky;
      // top: 3rem;
      top: 0;
    }
    list-style: none;
    display: inline-block;
    position: relative;
    padding-left: 0;
    margin: 0; //(((((

  
  .current-state{
    display: block;
    position: absolute;
    background-color: $c-table-of-content-item-active-color-light;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    border-radius: .4rem;
    transition: top .4s ease, width .4s ease;
  }
 
  li {
    counter-increment: li;
    z-index: 11;
    position: relative;
      
      &:before{
        content:"";
        display: none;
      }
      
      a{
        width: 100%;
        text-decoration: none;
        font-weight: 500;
        display: inline-block;
        padding: .3rem 1.4rem .3rem 2rem;
        transition: all .3s ease;
        color: $c-table-of-content-item-active-text-color;

        &:not(.c-button){
          border-bottom: 0;
        }
        &:before{
          content:  counter(li) ".  ";
          position: relative;
          display: inline-block;
          color: $c-table-of-content-item-color-number;
          width: 1.8rem;
          left: -.8rem;
          font-weight: 400;
        }
      }

      & + li {
        margin-top: 1rem;
      }
    }

    &.relativeWidth li a{
      width: auto;
    }
  }

  .c-table-of-content__nav__item {
  
  
    &:hover {
        text-decoration: underline !important;
    }
  
    &:focus {
      color: $c-table-of-content-item-color;
    }
  
    &:focus:not(:focus-visible) {
      outline: none;
    }
  
    &[aria-selected="true"] {
      color: $c-table-of-content-item-color;
      position: relative; // makes box-shadow to be on top of the global border
      font-weight: 500;
      &:before{
        font-weight: 500;
        color: $c-table-of-content-item-color;
      }
  
    }
  }
}


.c-table-of-content__content__item{
  &.active{
    p:first-child{
      color: $c-table-of-content-item-active-color-dark;
      transition: color .15s ease;
      margin-top: 0; //(((((

    }
  }
}