/* ==========================================================================
  Component: table
  ---
  Table styling
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-table-background-color: #FFF !default;
$c-table-border-color: $color-gray-50 !default;
$c-table-row-odd-color: $color-gray-50 !default;
$c-table-row-selected-color: #FFF !default;
$c-table-row-selected-bg: $color-semantic-primary !default;
$c-table-padding-all: 3.2rem !default;
$c-table-border-radius: $g-border-radius-medium !default;

/* Component
   ========================================================================== */

.c-table {
  width: 100%;
  // padding: $c-table-padding-all;
  border-radius: $c-table-border-radius;

  tr{
    background-color: $color-white;
  }
  
  thead tr{
    background-color: $color-white;
    color: $color-black;
  }

  th, td {
    text-align: left;
  }

  td,
  th {
    text-align: left;
    padding: 0.8rem 0;
    vertical-align: middle;
    position: relative;
  }

  th {
    font-weight: 500;
  }

}

.c-table--styled {

  th {
    font-weight: 500;
    height: 5.6rem;
    border-bottom: 2px solid $color-gray-50;
    vertical-align: middle;
  }

  // Styles for table row headers
  tbody th {
    background: none;
    vertical-align: middle;
    height: inherit;
  }
  tbody tr:last-child th {
    border: none;
  }

  thead th {
    &:first-child{
      border-top-left-radius: $g-border-radius-small;
    }
    &:last-child{
      border-top-right-radius: $g-border-radius-small;
    }
  }

  tfoot td,
  tfoot th {
    border-top: 2px solid $c-table-border-color;
    border-bottom: none;
    font-weight: 500;
  }

  td {
    border-bottom: 0.1rem solid $c-table-border-color;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  td,
  th {
    text-align: left;
    padding: 1.2rem 1.6rem;
    position: relative;
  }

  td .c-button,
  th .c-button {
    margin-bottom: -0.8rem;
    margin-top: -0.8rem;
  }

  td input[type=checkbox]{
    margin: 0 auto;
  }
}

.c-table--big {
  border-collapse: separate;
  border-spacing: 0 1.2rem;
  td {
    border-bottom: none;
    padding: 1.8rem 2rem;
  }
  thead th {
    border: none;
    padding: .5rem 2rem;
    height: 2rem;
    &:first-child{
      border-top-left-radius: $g-border-radius-medium;
      border-bottom-left-radius: $g-border-radius-medium;
    }
    &:last-child{
      border-top-right-radius: $g-border-radius-medium;
      border-bottom-right-radius: $g-border-radius-medium;
    }
  }
  tbody tr td {
    &:first-child{
      border-top-left-radius: $g-border-radius-medium;
      border-bottom-left-radius: $g-border-radius-medium;
    }
    &:last-child{
      border-top-right-radius: $g-border-radius-medium;
      border-bottom-right-radius: $g-border-radius-medium;
    }
  }

}


.c-table--nowrap {
  th,
  td {
    white-space: nowrap;
  }
}

.c-table--align-middle {
  td {
    vertical-align: middle;
  }
}

.c-table__row--selected {
  td {
    background-color: $color-gray-100;
    border-color: $color-gray-300;
  }

}

.c-table--striped {
  tbody tr:nth-child(even) {
    background: $c-table-row-odd-color;
  }
}

.c-table--no-margin {
  margin: 0;
}

.c-table--horizontal {
  th {
    width: 18rem;
  }
}

.c-table--header-bg {
  th {
    background: $color-gray-25;
  }
}


/* Invisible table structure
   ========================================================================== */

.c-table.c-table--invisible {
  border: 0;
  width: 100%;

  tr th,
  tr td {
    border: 0;
    padding-left: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

/* Table column widths
   ========================================================================== */

$tableColCount: 16;
$i: 1;

@while $i < $tableColCount {
  .o-table-col-#{$i} {
    width: #{$i / $tableColCount * 100%};
  }

  $i: $i + 1;
}

/* Responsive table
   Adapted from Bootstrap 4
   ========================================================================== */

.c-table-responsive {

  border: 1px solid $c-table-border-color;
  border-radius: 0.3rem;

  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

  // Prevent double border on horizontal scroll due to use of `display: block;`
  > .c-table--bordered {
    border: 0;
  }
}

/* Panel + table context
   ========================================================================== */

.c-panel .c-table {
  background: #FFF;
  tr td {
    padding: 1.6rem;
  }
  tr td:first-child {
    padding-left: 2.4rem;
  }
  tr td:last-child {
    padding-right: 2.4rem;
  }
  tr th:first-child {
    padding-left: 2.4rem;
  }
  tr th:last-child {
    padding-right: 2.4rem;
  }
}
