/* ==========================================================================
  Component: Toolbar-title
  ========================================================================== */

.c-toolbar-title {
  font-size: 2rem;
  font-weight: 500;
}

.c-toolbar-title--small {
  font-size: 1.6rem;
}
