/* ==========================================================================
  c-wizard
 ========================================================================== */

.c-wizard {  
  ul {
    display: flex;
  }

  &.c-wizard--bordered {
    border-bottom: .1rem solid $color-semantic-border;
  }
}

.c-wizard li {
  position: relative;
  height: 6.4rem;
  margin-right: 1.6rem;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: $g-bp3) {
    margin-right: 2.4rem;
  }
}

.c-wizard__item {
  color: $color-semantic-muted-text;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  padding: 0;
  height: 6.1rem;
  width: 100%;

  &:hover,
  &:focus {
    color: $color-black;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: transparent;
    height: .3rem;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

.c-wizard__indicator {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background: $color-gray-100;
  border: 0.2rem solid $color-gray-100;
  color: $color-semantic-icon;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.c-wizard__label {
  display: none;

  @media screen and (min-width: $g-bp3) {
    display: block;
    margin-left: .8rem;
  }
}

.c-wizard--complete {
  color: $color-semantic-muted-text;

  .c-wizard__indicator {
    background: $color-semantic-success;
    border-color: $color-semantic-success;

    &:before {
      content: "";
      position: absolute; 
      width: 2.4rem;
      height: 2.4rem;
      left: -0.2rem;
      top: -0.2rem;
      border-radius: 100%;
      background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath fill='none' d='M0 0h16v16H0z'/%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11.69 4.675l-.443.424L6.77 9.575 4.752 7.558l-.442-.422L3.445 8l.423.442 2.46 2.46.442.423.442-.423 4.92-4.92.423-.442-.865-.865z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E")
        no-repeat;
    }
  }
}


.c-wizard--active {
  color: $color-semantic-body-text;

  &:after {
    background-color: $color-black;
  }

  .c-wizard__indicator {
    background: $color-black;
    border-color: $color-black;
    color: $color-white;
  }
}
