.dynamic-dashboard--grid{
    display: grid;
    grid-gap: 2.4rem;
    grid-auto-columns: 1fr;
    & > div{
        grid-row: 1;
    }
    @media (max-width: $g-bp4) {
        & >  div + div + div{
            grid-row: 2;
            grid-column: 1 / span 2;
        }
    }
    @media (max-width: $g-bp3) {
        & > div{
            grid-row: 1;
            grid-column: 1 / span 2;
        }
        & > div + div{
            grid-row: 2;
        }
        & >  div + div + div{
            grid-row: 3;
        }
    }

    @media (max-width: $g-bp2) {
        & > div:first-child{
            grid-row: 1;
            grid-column: inherit;
        }
        & > div + div{
            grid-row: 1;
            grid-column: inherit;
        }
        & >  div + div + div{
            grid-row: 2;
        }
    }

    @media (max-width: $g-bp1-m) {
        & > div:first-child{
            grid-row: 1;
            grid-column: 1 / span 2;
        }
        & > div + div{
            grid-row: 2;
            grid-column: 1 / span 2;
        }
        & >  div + div + div{
            grid-row: 3;
        }
    }
   
}