/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Base
 ========================================================================== */

$color-white: #FFFFFF;
$color-gray-25: #F9F9F9;
$color-gray-50: #F2F2F2;
$color-gray-100: #E5E5E5;
$color-gray-150: #D9D9D9;
$color-gray-200: #CCCCCC;
$color-gray-300: #B3B3B3;
$color-gray-400: #999999;
$color-gray-500: #808080;
$color-gray-650: #595959;
$color-gray-800: #333333;
$color-gray-900: #1A1A1A;
$color-black: #000000;


/* Primary colors
 ========================================================================== */

$color-red-800: #B32D3B;
$color-red-500: #FF4054;
$color-red-200: #FFB0B9;

/* Secondary colors
 ========================================================================== */

$color-green-500: #00A57D;
$color-blue-500: #1267FB;
$color-blue-700: #154EB1;
$color-blue-200: #8AB5FF;
$color-yellow-500: #F0F096;

/* Semantic colors
 ========================================================================== */

$color-primary: #FF4054;
$color-header: #000000;
$color-text: #333333;
$color-icon: #595959;
$color-muted: #808080;
$color-input-border: #D4D4D4;
$color-border: #E5E5E5;
$color-disabled: #999999;
$color-background: #F2F2F2;
$color-background-light: #F6F6F6;
$color-error: #FF4054;
$color-success: #00A57D;
$color-warning: #F4C95D;
$color-link: #1267FB;

