/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Grays
 ========================================================================== */

$color-gray-50: #F2F2F2;
$color-gray-100: #E5E5E5;
$color-gray-150: #D9D9D9;
$color-gray-200: #CCCCCC;
$color-gray-300: #B3B3B3;
$color-gray-400: #999999;
$color-gray-500: #808080;
$color-gray-600: #666666;
$color-gray-700: #4D4D4D;
$color-gray-800: #333333;
$color-gray-900: #1A1A1A;

/* Primary colors
 ========================================================================== */

$color-red-800: #B32D3B;
$color-red-500: #FF4054;
$color-red-200: #FFB0B9;


/* Secondary colors
 ========================================================================== */

$color-green-500: #00A57D;
$color-orange-500: #FF8700;
$color-blue-500: #1267FB;
