/* ==========================================================================
  u-bg
  Background
   ========================================================================== */

.u-bg-white {
  background: #FFF;
}

.u-bg-gray-25 {
  background:  $color-gray-25;
}

.u-bg-gray-50 {
  background:  $color-gray-50;
}
