/* ==========================================================================
  Utility: spacing

  t = tiny
  l = large
  xl = extra large

   ========================================================================== */

/* Variables
     ========================================================================== */

$g-spacer-unit: 0.8rem !default;

/* All sides
     ========================================================================== */

.u-spacer-xs {
  margin: $g-spacer-unit / 2 !important;
}

.u-spacer-s {
  margin: $g-spacer-unit !important;
}

.u-spacer {
  margin: $g-spacer-unit * 2 !important;
}

.u-spacer-l {
  margin: $g-spacer-unit * 3 !important;
}

.u-spacer-xl {
  margin: $g-spacer-unit * 4 !important;
}

.u-spacer-auto {
  margin: auto;
}

/* Left side only
     ========================================================================== */

.u-spacer-left-xs {
  margin-left: $g-spacer-unit / 2 !important;
}

.u-spacer-left-s {
  margin-left: $g-spacer-unit !important;
}

.u-spacer-left {
  margin-left: $g-spacer-unit * 2 !important;
}

.u-spacer-left-l {
  margin-left: $g-spacer-unit * 3 !important;
}

.u-spacer-left-xl {
  margin-left: $g-spacer-unit * 4 !important;
}

.u-spacer-left-auto {
  margin-left: auto;
}

/* Right side only
     ========================================================================== */

.u-spacer-right-xs {
  margin-right: $g-spacer-unit / 2 !important;
}

.u-spacer-right-s {
  margin-right: $g-spacer-unit !important;
}

.u-spacer-right {
  margin-right: $g-spacer-unit * 2 !important;
}

.u-spacer-right-l {
  margin-right: $g-spacer-unit * 3 !important;
}

.u-spacer-right-xl {
  margin-right: $g-spacer-unit * 4 !important;
}

.u-spacer-right-auto {
  margin-right: auto;
}

/* Top side only
     ========================================================================== */

.u-spacer-top-xs {
  margin-top: $g-spacer-unit / 2 !important;
}

.u-spacer-top-s {
  margin-top: $g-spacer-unit !important;
}

.u-spacer-top {
  margin-top: $g-spacer-unit * 2 !important;
  &--bp2{
    margin-top: $g-spacer-unit * 2 !important;
    @media (min-width: $g-bp2) {
      margin-top: 0 !important;
    }
  }
}

.u-spacer-top-l {
  margin-top: $g-spacer-unit * 3 !important;
}

.u-spacer-top-xl {
  margin-top: $g-spacer-unit * 4 !important;
}

.u-spacer-top-auto {
  margin-top: auto;
}

/* Bottom side only
     ========================================================================== */

.u-spacer-bottom-xs {
  margin-bottom: $g-spacer-unit / 2 !important;
}

.u-spacer-bottom-s {
  margin-bottom: $g-spacer-unit !important;
}

.u-spacer-bottom {
  margin-bottom: $g-spacer-unit * 2 !important;
  &--bp2-x{
    margin-bottom: 0 !important;
    @media (min-width: $g-bp2) {
      margin-bottom: $g-spacer-unit * 2 !important;
    }
  }
}

.u-spacer-bottom-l {
  margin-bottom: $g-spacer-unit * 3 !important;
}

.u-spacer-bottom-xl {
  margin-bottom: $g-spacer-unit * 4 !important;
}

.u-spacer-bottom-auto {
  margin-bottom: auto !important;
}

/* All padding sides
     ========================================================================== */

.u-padding-xs {
  padding: $g-spacer-unit / 2 !important;
}

.u-padding-s {
  padding: $g-spacer-unit !important;
}

.u-padding {
  padding: $g-spacer-unit * 2 !important;
}

.u-padding-l {
  padding: $g-spacer-unit * 3 !important;
}

.u-padding-xl {
  padding: $g-spacer-unit * 4 !important;
}

.u-spacer-auto {
  padding: auto !important;
}

/* Top and Bottom padding only
     ========================================================================== */

.u-padding-vertical-xs {
  padding-top: $g-spacer-unit / 2 !important;
  padding-bottom: $g-spacer-unit / 2 !important;
}

.u-padding-vertical-s {
  padding-top: $g-spacer-unit !important;
  padding-bottom: $g-spacer-unit !important;
}

.u-padding-vertical {
  padding-top: $g-spacer-unit * 2 !important;
  padding-bottom: $g-spacer-unit * 2 !important;
}

.u-padding-vertical-l {
  padding-top: $g-spacer-unit * 3 !important;
  padding-bottom: $g-spacer-unit * 3 !important;
}

.u-padding-vertical-xl {
  padding-top: $g-spacer-unit * 4 !important;
  padding-bottom: $g-spacer-unit * 4 !important;
}

/* Left and Right padding only
     ========================================================================== */

.u-padding-horizontal-xs {
  padding-left: $g-spacer-unit / 2 !important;
  padding-right: $g-spacer-unit / 2 !important;
}

.u-padding-horizontal-s {
  padding-left: $g-spacer-unit !important;
  padding-right: $g-spacer-unit !important;
}

.u-padding-horizontal {
  padding-left: $g-spacer-unit * 2 !important;
  padding-right: $g-spacer-unit * 2 !important;
}

.u-padding-horizontal-l {
  padding-left: $g-spacer-unit * 3 !important;
  padding-right: $g-spacer-unit * 3 !important;
}

.u-padding-horizontal-xl {
  padding-left: $g-spacer-unit * 4 !important;
  padding-right: $g-spacer-unit * 4 !important;
}


/* Bottom padding only
     ========================================================================== */

.u-padding-bottom-xs {
  padding-bottom: $g-spacer-unit / 2 !important;
}

.u-padding-bottom-s {
  padding-bottom: $g-spacer-unit !important;
}

.u-padding-bottom {
  padding-bottom: $g-spacer-unit * 2 !important;
}

.u-padding-bottom-l {
  padding-bottom: $g-spacer-unit * 3 !important;
}

.u-padding-bottom-xl {
  padding-bottom: $g-spacer-unit * 4 !important;
}


/* Breakpoint based utilities
   ========================================================================== */

@media (min-width: $g-bp3) { //900
  .u-spacer-right-bp3 {
    padding-right: $g-spacer-unit * 2 !important;
  }
  .u-spacer-top-0-bp3 {
    margin-top: 0 !important;
  }
}
/* Resets
   ========================================================================== */

  .u-m-0 {
    margin: 0 !important;
  }
  
  .u-m-t-0 {
    margin-top: 0 !important;
  }
  
  .u-m-b-0 {
    margin-bottom: 0 !important;
  }
  
  .u-m-r-0 {
    margin-right: 0 !important;
  }
  
  .u-m-l-0 {
    margin-left: 0 !important;
  }
  
  .u-p-0 {
    padding: 0 !important;
  }
  
  .u-p-l-0 {
    padding-left: 0 !important;
  }
  
  .u-p-r-0 {
    padding-right: 0 !important;
  }