---
title: Browser support
category: Development documentation
order: 1
---

.c-content(style="max-width: 85rem;")
    h1 Browser support

    .u-spacer-top.u-spacer-bottom
        p The Smart design system is targeting the same browser support as <a href="https://v11.angular.io/guide/browser-support">Angular 11</a>, see table below.

        table
            thead
                tr
                    th Browser
                    th Supported versions
            tbody
                tr
                    td Chrome
                    td latest
                tr
                    td Firefox
                    td latest and extended support release (ESR)
                tr
                    td Edge
                    td 2 most recent major versions
                tr
                    td IE
                    td 11
                tr
                    td Safari
                    td 2 most recent major versions
                tr
                    td iOS
                    td 2 most recent major versions
                tr
                    td Android
                    td Q (10.0), Pie (9.0), Oreo (8.0), Nougat (7.0)
