---
title: Changelog
category: Development documentation
order: 1
---

.c-content(style="max-width: 85rem;")
    h1 Changelog

    .u-spacer-top.u-spacer-bottom

        h3 28 Jul 2021
        ul
            li Add Mono icons to repository
            li Add inputs (toggles) to styleguide
            li Add inputs (text) to styleguide
            li Add avatars to styleguide
            li Add button types to styleguide
            li Add button skins to styleguide
            li Add stylesheets for alerts, avatars, buttons, inputs, modals, navbars, toolbars, etc.
            li Add CSS component structure page
            li Add CSS architecture page
            li Set up Bedrock
