---
title: CSS component structure
category: Development documentation
order: 2
---

.c-content
    h1 CSS component structure

    .u-spacer-top.u-spacer-bottom

        p Here's a starting point for a new component:

        .c-code
            pre.
                 /* ==========================================================================
                    My component name
                    ========================================================================== */

                 /* Variables
                    ========================================================================== */

                 /* Component
                    ========================================================================== */

        p Note the first level and second level block comment. Check Necolas's <a href="https://github.com/necolas/idiomatic-css#3-comments">Idiomatic CSS repo</a> for more information.

        p Here's what the component would look like a bit further down the line:

        .c-code
            pre.
                 /* ==========================================================================
                    Custom component
                    ---
                    Does something custom
                    ========================================================================== */

                 /* Variables
                    ========================================================================== */

                 $c-custom-bg: #FFF !default;

                 /* Component
                    ========================================================================== */

                 .c-custom {
                   background: $c-custom-bg;
                 }

                 .c-custom--modifier {
                   background: #000;
                 }

                 .c-custom__child {
                   // Code for child
                 }

                 .c-custom__child--modifier {
                   // Code for child with modifier
                 }

        h3 SCSS formatting

        p We use 2 spaces and no tabs. Please see the <code>.editorconfig</code> file in the repository for more specifics. It is helpful to download an editorconfig plugin for your editor. Please see <a href="https://editorconfig.org/">editorconfig.org</a>.
