ul.c-filter-pill-list
    li.c-filter-pill-list__item
        +c-filter-pill({}) Label
    li.c-filter-pill-list__item
        +c-filter-pill({counter: '2'}) Label
    li.c-filter-pill-list__item
        +c-filter-pill({}) Label
