extends /templates/_layouts/master

block append pageVariables
    - var bodyClass = 'u-bg-gray-25'

block body

    header.o-container-vertical
        .o-container
            +c-brand({size: "small"})

    main.o-container-vertical
        .o-container.o-container--small
            .c-panel
                .c-panel__body

                    form
                        h3.c-h2 Sign in
                        .o-form-group-layout.o-form-group-layout--standard
                            .o-form-group
                                label.o-form-group__label Email
                                .o-form-group__controls
                                    input.c-input(type="email")

                            .o-form-group
                                label.o-form-group__label(for="passwordId") Password
                                .o-form-group__controls
                                    .c-input-with-icon
                                        input.c-input#passwordId(type="password")
                                        button.c-input-with-icon__toggle(data-password-toggle)
                                            +icon('eye')
                                            +icon('eye-off')

                            .o-form-group
                                a.c-button.c-button--primary.c-button--block(href="#")
                                    .c-button__content
                                        .c-button__label Sign in

                            p.c-or
                                span or

                            .o-form-group
                                a.c-button.c-button--secondary.c-button--block(href="#")
                                    .c-button__content
                                        .c-button__label Register your account
                            .o-form-group.u-ta-center

            .c-content.u-text-center.u-spacer-top-l
                a.u-text-muted(href="#") Forgot password

    footer#footer
        .o-container-vertical
            .o-container
                hr.c-hr

                .c-toolbar.c-toolbar--auto
                    .c-toolbar__left
                        .c-toolbar__item
                            .o-flex.o-flex--vertical-center
                                span.u-spacer-right-s Don't have an account yet?
                                a.u-text-muted(href="") Sign up
                    .c-toolbar__right
                        ul.c-bordered-list-horizontal.c-bordered-list-horizontal--muted
                            li: a.u-text-muted(href="#") Footer link
                            li: a.u-text-muted(href="#") Footer link
