div.o-flex.o-flex--vertical-center
    p#ref.u-m-t-0.u-m-b-0.u-text-bold SmartBE-050-623
    +c-button({skin: 'primary', layout: 'icon-only', icon: 'copy', size: 'small'})(data-action="copy" data-action-trad="copied" data-copy-content="#ref" data-tooltip="tooltip-2" data-tooltip-placement="left" class="u-spacer-left-xs") Copier la référence client
    .c-tooltip#tooltip-2(role="tooltip")
        span Copy to clipboard
        .c-tooltip__arrow(data-popper-arrow)