extends /templates/_layouts/default

block append pageVariables
    - var moduleTitle = "Tools - Contracts"

block content

    .c-navbar.c-navbar--bordered-bottom
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                        h2.c-toolbar__title Contracts to be validated
            if !isEmpty
                .c-toolbar__right
                    .u-spacer-left
                        +c-button({skin: 'primary', icon: 'add'}) Add item
    if !isEmpty
        .u-position-relative
            .c-navbar.c-navbar--scrollable.c-navbar--bordered-bottom
                .c-toolbar
                    .c-toolbar__left
                        .c-toolbar__item
                            ul.c-filter-pill-list
                                li.c-filter-pill-list__item
                                    +c-filter-pill({counter: '1'})(data-popover="startDateFilter" data-popover-placement="bottom-start") Start date

                                    .c-popover(role="popover" id="startDateFilter")
                                        h4.c-h4 Start date
                                        .u-padding-vertical-s
                                            .o-form-group-layout.o-form-group-layout--standard
                                                .o-form-group
                                                    label.o-form-group__label.u-sr-accessible(for="filterCriteriaStartDate") Criteria
                                                    .o-form-group__controls.o-form-group__controls--full-width
                                                        +c-select( { id: 'filterCriteriaStartDate', value: ['Equal to', 'Not equal to', 'After', 'After or equal to', 'Before', 'Before or equal to']})
                                                .o-form-group
                                                    +c-input-group-after({ id: 'startDate', icon: 'calendar'})
                                        .c-toolbar.c-toolbar--auto
                                            .c-toolbar__right
                                                .c-toolbar__item
                                                    .c-button-toolbar
                                                        +c-button({}) Reset
                                                        +c-button({skin: 'primary'}) Apply filter

                                li.c-filter-pill-list__item
                                    +c-filter-pill({}) Client
                                li.c-filter-pill-list__item
                                    +c-filter-pill({}) Description
                    .c-toolbar__right
                        .c-toolbar__item
                            .o-form-group-layout.o-form-group-layout--inline.u-spacer-left
                                .o-form-group
                                    label.o-form-group__label(for="sortOrder") Sort by
                                    .o-form-group__controls
                                        +c-select({ id: 'sortOrder', value: ['Start date ascending', 'Start date descending', 'Client ascending', 'Client descending']})

    .u-scroll-wrapper-body
        if isEmpty
            .o-flex.o-flex--center.u-maximize-height
                .u-spacer-l
                    .c-blank-slate
                        +c-avatar({icon: 'document', size: 'large'})
                        p.u-text-muted.c-body-1 There are no items yet.
                        +c-button({skin: 'primary', icon: 'add'}) Add item
        else
            .u-spacer-l
                .o-card-grid.small-up-1
                    each val in [1,2,3,4,5,6,7,8,9,10]
                        +c-contract-card({
                                title: 'Amet minim mollit',
                                ref: '2021.NET.000000',
                                month: 'September 2021',
                                days: ['10','12','13'],
                                client: 'Client name',
                                status: 'Pending',
                                amount: "1000"

                        })


    if !isEmpty
        .u-position-relative
            .c-navbar.c-navbar--scrollable.c-navbar--bordered-top
                .c-toolbar
                    .c-toolbar__left
                        .c-toolbar__item
                            p.c-body-2.u-text-muted 1 - 10 of 248 items
                    .c-toolbar__right
                        .c-toolbar__item
                            nav.c-pagination(aria-label='Page navigation')
                                ul.c-pagination__nav
                                    li.c-pagination__item
                                        +c-button({ href: '#', layout: 'icon-only', icon: 'chevron-left', skin: 'borderless'})(disabled)
                                    li.c-pagination__item.c-pagination__item--active
                                        a.c-pagination__link(href='#') 1
                                    li.c-pagination__item
                                        a.c-pagination__link(href='#') 2
                                    li.c-pagination__item
                                        a.c-pagination__link(href='#') 3
                                    li.c-pagination__item
                                        a.c-pagination__link(href='#') 4
                                    li.c-pagination__item
                                        a.c-pagination__link(href='#') 5
                                    li.c-pagination__item
                                        span.c-pagination__dots ...
                                    li.c-pagination__item
                                        a.c-pagination__link(href='#') 250
                                    li.c-pagination__item
                                        +c-button({ href: '#', layout: 'icon-only', icon: 'chevron-right', skin: 'borderless'})
