extends /templates/_layouts/default

block append pageVariables
    - var moduleTitle = "Tools - Simulation"
    - var state = "filled"
    - var data = contentData.simulation

block content

    .c-navbar.c-navbar--bordered-bottom
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                    h2.c-toolbar__title Simulation

    .u-scroll-wrapper-body
        form.o-grid
            .o-grid-col-bp3-6
                .u-spacer-l
                    if state == "error"
                        .u-spacer-bottom-l
                            +c-alert({
                                skin: 'error',
                                message: 'The simulation form couldn\'t be submitted, please correct the errors below.'
                            })
                    .c-panel
                        .c-panel__content
                            - var input = {}
                            - if (state == "filled") input = data.input
                            .o-form-group-layout.o-form-group-layout--horizontal
                                include /templates/_includes/simulation-form-fields

                    .u-spacer-top
                        .c-toolbar
                            .c-toolbar__right
                                .c-toolbar__item
                                    .c-button-toolbar
                                        input.c-button.c-button--secondary(type="reset" value="Reset")
                                        input.c-button.c-button--primary(type="submit" value="Calculate")


            .o-grid-col-bp3-6
                if (state == "empty" || state == "error")
                    .o-flex.o-flex--vertical.o-flex--center.u-maximize-height
                        .u-spacer-l
                            .c-blank-slate
                                +c-avatar({icon: 'document', size: 'large'})
                                p.u-text-muted.c-body-1 Fill in the form to view a calculation
                else if (state == "loading")
                    .o-flex.o-flex--vertical.o-flex--center.u-maximize-height
                        .u-spacer-l
                            .o-flex.o-flex--vertical.o-flex--center
                                .c-loader
                                p.u-text-muted.c-body-1 Calculating simulation...

                else if (state == "filled")
                    include /templates/partials/simulation-result
