<ul class="c-side-menu">
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/account/user-homepage-with-menu.html">Home</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/account/contracts.html">Contracts</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/account/expenses.html">Invoices</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/account/funding.html">Documents</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/account/funding.html">Activities and projects</a>
    </li>
</ul>