ul.c-icon-list--horizontal
    li.c-icon-list__item
        +icon('email')
        span email@smart.coop
    li.c-icon-list__item
        +icon('call')
        span +32 000 00 00 00
    li.c-icon-list__item
        +icon('tag')
        span Tag
