//- This is the main content for the empty, grid, and list view of contracts.
//- See the following files for example usage:
//-   development/tools/contracts-empty.pug
//-   development/tools/contracts-grid.pug
//-   development/tools/contracts.pug


.c-navbar.c-navbar--white.c-navbar--fixed.c-navbar--bordered-bottom.c-navbar--scrollable
    .c-navbar-scroll-wrapper
        .c-toolbar
            .c-toolbar__left
                .c-toolbar__item
                        h2.c-toolbar__title Contracts
                if view != "empty"
                    include /templates/prototypes/tools/_includes/contracts-filter

            .c-toolbar__right
                if view == "list"
                    include /templates/prototypes/tools/_includes/contracts-sort
                if view != "empty"
                    include /templates/prototypes/tools/_includes/contracts-switch
                .c-toolbar__item
                    +c-button({skin: 'primary', icon: 'add'}) Add item


if view == "empty"
    .o-flex.o-flex--center.u-maximize-height
        .u-spacer-l
            .c-blank-slate
                +c-avatar({icon: 'document', size: 'large'})
                p.u-text-muted.c-body-1 There are no items yet.
                +c-button({skin: 'primary', icon: 'add'}) Add item
if view == "grid"
    include /templates/prototypes/tools/_includes/contracts-grid
if view == "list"
    include /templates/prototypes/tools/_includes/contracts-list


if view != "empty"
    include /templates/prototypes/tools/_includes/contracts-pagination
