
.c-toolbar__item
    .c-button-toolbar.c-button-toolbar--compact
        +c-button({ skin: (view == "list"? 'primary' : 'secondary'), icon: 'three-rows', layout: 'icon-only', href: '/development/tools/contracts.html'}) List view
        +c-button({ skin: (view == "grid"? 'primary' : 'secondary'), icon: 'table', layout: 'icon-only', href: '/development/tools/contracts-grid.html'}) Grid view
