extends ../index

block append pageVariables
    - var moduleTitle = "Blog"

block content

    .o-container.o-container--medium
        .o-container-vertical

                h1.c-d-h1 Blog

                ul.c-blog-article-list
                    li
                        article.c-blog-article
                            header.c-blog-article__header
                                h2.c-d-h2: a(href="/blog/2021/11/25/smart-design-system-figma-library-1-1-released.html") Smart Design System Figma Library 1.1 released
                                p November 25, 2021

                            .c-blog-article__content
                                .c-display
                                    p Hi there, this is Johan. I'm a designer working on the design system for Smart from Belgium.
                                    p With this blog post I'd like to give an update on Smart's open design system, and more specifically on the new Figma library that we just released.

                                +c-button({ href: "/blog/2021/11/25/smart-design-system-figma-library-1-1-released.html"}) Read more

                    li
                        article.c-blog-article
                            header.c-blog-article__header
                                h2.c-d-h2: a(href="/blog/2021/10/08/smart-announces-an-open-design-system.html") Smart announces an open design system
                                p October 8, 2021

                            .c-blog-article__content
                                .c-display
                                    p We're happy to announce we, at Smart Belgium, have started to work on a design system for the web applications of the Smart group. For the first time, but surely not the last, we've decided to make this project open source and available on GitHub. We believe this matches the collaborative values of Smart and will enable various parties of the Smart ecosystem to benefit from it.
                                +c-button({ href: "/blog/2021/10/08/smart-announces-an-open-design-system.html"}) Read more

                //
                    hr.c-hr

                    .c-toolbar
                        //
                            .c-toolbar__left
                                .c-toolbar__item
                                    +c-button({ icon: "chevron-left"}) Previous page
                        .c-toolbar__right
                            .c-toolbar__item
                                +c-button({ icon: "chevron-right", layout: "text-icon"  }) Next page