extends ../index

block append pageVariables
    - var moduleTitle = "Changelog"

block content

    .o-container.o-container--medium
        .o-container-vertical
            
                h1.c-d-h1 Blog

                ul.c-blog-article-list
                    li
                        article.c-blog-article
                            header.c-blog-article__header
                                h2.c-d-h2: a(href="/blog/2021/09/this-is-a-title.html") This is a title...
                                p September 21, 2021

                            .c-blog-article__content
                                .c-display
                                    p This is a post... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    li
                        article.c-blog-article
                            header.c-blog-article__header
                                h2.c-d-h2: a(href="/blog/2021/09/this-is-a-title.html") Smart Coop announces an open design system 
                                p September 21, 2021

                            .c-blog-article__content
                                .c-display
                                    p We're happy to announce we've started work on a design system. In SmartCoop's collaborative spirit we are working in an open source manner. What this project will do is provide a foundation for future SmartCoop applications.
                                    p The home for the design system will live at the homepage of this very website. From this website you will be able to read what's new, find the necessary documentation to get started with designing and developing for the SmartCoop context yourself as well as find the right links to be able to contribute.
                                    p As an open source project, others can benefit from the design and development discussions that are happening in the open (just like we are benefiting from similarly open sourced projects).


                // @todo perhaps simply hide button when it is not relevant instead of disabling
                .c-toolbar
                    .c-toolbar__left
                        .c-toolbar__item
                            +c-button({ icon: "chevron-left"})(disabled) Previous page
                    .c-toolbar__right
                        .c-toolbar__item
                            +c-button({ icon: "chevron-right", layout: "text-icon"  }) Next page