extends /templates/_layouts/master
//- Note:
//-   I believe with need a different master.pug for the prototype pages
//-   where for instance there is no prototype.css or prototype.js.
//- Also, do we really need to repeat the u-maximize-height on both html
//- and body ?

block append pageVariables
    - var moduleTitle = "Empty page"
