extends /templates/development/getting-started

block append pageVariables
    - var moduleTitle = "Prototype pages"

block subContent

    .c-display


        h2 Prototypes

        h3 Account

        p These pages try to imagine what Account could be.

        ul
            li: a(href="/prototypes/account/super-user-homepage.html") Super User homepage
            li: a(href="/prototypes/account/with-menu.html") Super User homepage (with menu)
            li: a(href="/prototypes/account/as-member.html") Select a member
            li: a(href="/prototypes/account/as-member-search.html") Select a member (search)
            li: a(href="/prototypes/account/as-client.html") Select a client
            li: a(href="/prototypes/account/as-client-search.html") Select a client (search)

        h3 Old Desk

        p These pages try to imagine what Old Desk could look like.

        ul
            li: a(href="/prototypes/old-desk/advisor/empty.html") Empty
            li: a(href="/prototypes/old-desk/advisor/activities.html") Activities
            li: a(href="/prototypes/old-desk/advisor/invoices.html") Quotes and invoices
            li: a(href="/prototypes/old-desk/advisor/contracts.html") Contracts
            li: a(href="/prototypes/old-desk/advisor/expenses.html") Expenses
            li: a(href="/prototypes/old-desk/advisor/funding.html") Funding
            li: a(href="/prototypes/old-desk/advisor/members.html") Members
            li: a(href="/prototypes/old-desk/advisor/archives.html") Archives
            li: a(href="/prototypes/old-desk/contract-draft.html") Contract (draft)
            li: a(href="/prototypes/old-desk/contract-create-1.html") Contract (step 1)
            li: a(href="/prototypes/old-desk/contract-create-2.html") Contract (step 2)
            li: a(href="/prototypes/old-desk/contract-create-3.html") Contract (step 3)
            li: a(href="/prototypes/old-desk/contract-create-4.html") Contract (step 4)
            li: a(href="/prototypes/old-desk/contract-create-5.html") Contract (step 5)

        h3 New Desk

        p These pages try to imagine what New Desk could look like.

        ul
            li: a(href="/prototypes/new-desk/advisor/contracts-covid-19.html") Contracts in COVID-19 period
            li: a(href="/prototypes/new-desk/detachment-search.html") Detachment in France (list)
            li: a(href="/prototypes/new-desk/detachment-item.html") Detachment in France (item)
