.c-dialog-backdrop.c-dialog-backdrop--visible(style="position:absolute;z-index:0;")

.c-dialog.c-dialog--medium(role="dialog" aria-labelledby="dialogTitle-02")
    .c-dialog__push
    .c-dialog__header.c-dialog__header--bordered
        .c-toolbar.c-toolbar--spaced
            .c-toolbar__left
                .c-toolbar__item
                    h2#dialogTitle-02.c-dialog__title Dialog title
            .c-toolbar__item
                button.c-button.c-button--borderless.c-button--icon(data-dialog-close aria-label="Close dialog")
                    .c-button__content
                        +icon('close')

    .c-dialog__body
        .u-spacer-l
            .o-form-group-layout.o-form-group-layout--horizontal

                .o-form-group
                    label.o-form-group__label(for="nameId") Name
                    .o-form-group__controls
                        input.c-input(type="email" value="John Doe" id="nameId")

                .o-form-group
                    label.o-form-group__label(for="emailId") Email address
                    .o-form-group__controls
                        input.c-input(type="email" value="user@name.com" id="emailId")

                .o-form-group
                    label.o-form-group__label(for="selectId") Preference
                    .c-select-holder
                        select.c-select(id="selectId")
                            option Option A
                            option Option B
                            option Option C

    .c-dialog__footer.c-dialog__footer--bordered
        .c-toolbar.c-toolbar--spaced
            .c-toolbar__left
                .c-toolbar__item
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        button.c-button.c-button--secondary(data-dialog-close)
                                .c-button__content
                                    .c-button__label Cancel
                        button.c-button.c-button--primary(data-dialog-close)
                                .c-button__content
                                    .c-button__label Save
    .c-dialog__push
