.c-dialog-backdrop.c-dialog-backdrop--visible(style="position:absolute;z-index:0;")

.c-dialog.c-dialog--small(role="dialog" aria-labelledby="dialogTitle-02")
    .c-dialog__push
    .c-dialog__body
        .u-spacer-l.u-spacer-bottom-auto
            h3.c-h3 Dialog title
            p.u-p-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    .c-dialog__footer
        .c-toolbar.c-toolbar--spaced
            .c-toolbar__right
                .c-toolbar__item
                    .c-button-toolbar
                        button.c-button.c-button--secondary(data-dialog-close)
                                .c-button__content
                                    .c-button__label Cancel
                        button.c-button.c-button--primary(data-dialog-close)
                                .c-button__content
                                    .c-button__label Save
    .c-dialog__push