nav.c-tabs
    ul
        li
            a.c-tabs__item(href="#section1") Item
        li
            a.c-tabs__item(href="#section2") Item
        li
            a.c-tabs__item(href="#section3") Item
        li
            a.c-tabs__item(href="#section4") Item
        li
            a.c-tabs__item(href="#section5") Item

    .c-tabs__section#section1
        p a tab
    .c-tabs__section#section2
        p another tab
    .c-tabs__section#section3
        p a third tab
    .c-tabs__section#section4
        p a fourth tab
    .c-tabs__section#section5
        p a fifth tab
