a.c-card(href="#")
    .c-card__body
        .c-avatar-and-text
            +c-avatar({size: 'medium' })
            .c-avatar-and-text__text
                h4.c-avatar-and-text__title Team member
                p.u-text-muted Role