a.c-card(href="#")
    .c-card__body
        .c-avatar-and-text
            .c-avatar.c-avatar--medium JD
            .c-avatar-and-text__text
                h4.c-h4 Team member
                p.u-text-muted Subline
