.c-card
    .c-card__body
        h4.c-card__title Card title
        p.u-text-muted Subtitle
    .c-card__actions
        .c-button-toolbar
            +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless' }) Edit
            +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless' }) Delete

