ol.c-list.c-list--pajamas
    .c-list__header
        li.c-list__item.o-grid
            .mod-6.o-grid
                .c-list__item--cell.o-grid-col-bp3-1 ID
                .c-list__item--cell.o-grid-col-bp3-5 Formateur
            .mod-6.o-grid
                .c-list__item--cell.o-grid-col-bp3-2 Modifications
                .c-list__item--cell.o-grid-col-bp3-1 Status
                .c-list__item--cell.o-grid-col-bp3-3
    .c-list__body
            li.c-list__item.o-grid
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-1.small 00337D-99
                    .c-list__item--cell.o-grid-col-bp3-5 Frederick.meganck@smart.coop
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-2 10/17/2022
                    .c-list__item--cell.o-grid-col-bp3-1
                        +c-status-pill({skin: 'pending'}) User
                    .c-list__item--cell.align-right.o-grid-col-bp3-3
                        +c-button({ layout: 'icon-only', icon: 'add', skin: 'borderless'}) Add more
                        +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless'}) Delete
                        +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless'}) Edit
            li.c-list__item.o-grid
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-1.small 00337D-99
                    .c-list__item--cell.o-grid-col-bp3-5 Frederick.meganck@smart.coop
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-2 10/17/2022
                    .c-list__item--cell.o-grid-col-bp3-1
                        +c-status-pill({skin: 'pending'}) User
                    .c-list__item--cell.align-right.o-grid-col-bp3-3
                        +c-button({ layout: 'icon-only', icon: 'add', skin: 'borderless'}) Add more
                        +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless'}) Delete
                        +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless'}) Edit
            li.c-list__item.o-grid
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-1.small 00337D-99
                    .c-list__item--cell.o-grid-col-bp3-5 Frederick.meganck@smart.coop
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-2 10/17/2022
                    .c-list__item--cell.o-grid-col-bp3-1
                        +c-status-pill({skin: 'pending'}) User
                    .c-list__item--cell.align-right.o-grid-col-bp3-3
                        +c-button({ layout: 'icon-only', icon: 'add', skin: 'borderless'}) Add more
                        +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless'}) Delete
                        +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless'}) Edit
            li.c-list__item.o-grid
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-1.small 00337D-99
                    .c-list__item--cell.o-grid-col-bp3-5 Frederick.meganck@smart.coop
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-2 10/17/2022
                    .c-list__item--cell.o-grid-col-bp3-1
                        +c-status-pill({skin: 'pending'}) User
                    .c-list__item--cell.align-right.o-grid-col-bp3-3
                        +c-button({ layout: 'icon-only', icon: 'add', skin: 'borderless'}) Add more
                        +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless'}) Delete
                        +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless'}) Edit
            li.c-list__item.o-grid
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-1.small 00337D-99
                    .c-list__item--cell.o-grid-col-bp3-5 Frederick.meganck@smart.coop
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-2 10/17/2022
                    .c-list__item--cell.o-grid-col-bp3-1
                        +c-status-pill({skin: 'pending'}) User
                    .c-list__item--cell.align-right.o-grid-col-bp3-3
                        +c-button({ layout: 'icon-only', icon: 'add', skin: 'borderless'}) Add more
                        +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless'}) Delete
                        +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless'}) Edit
            li.c-list__item.o-grid
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-1.small 00337D-99
                    .c-list__item--cell.o-grid-col-bp3-5 Frederick.meganck@smart.coop
                .mod-6.o-grid
                    .c-list__item--cell.o-grid-col-bp3-2 10/17/2022
                    .c-list__item--cell.o-grid-col-bp3-1
                        +c-status-pill({skin: 'pending'}) User
                    .c-list__item--cell.align-right.o-grid-col-bp3-3
                        +c-button({ layout: 'icon-only', icon: 'add', skin: 'borderless'}) Add more
                        +c-button({ layout: 'icon-only', icon: 'delete', skin: 'borderless'}) Delete
                        +c-button({ layout: 'icon-only', icon: 'edit', skin: 'borderless'}) Edit