nav.c-wizard
    ul
        li
            a.c-wizard__item.c-wizard--complete(href="#")
                .c-wizard__indicator
                .c-wizard__label Step 1
        li
            a.c-wizard__item.c-wizard--active(href="#")
                .c-wizard__indicator 2
                .c-wizard__label Step 2
        li
            a.c-wizard__item(href="#")
                .c-wizard__indicator 3
                .c-wizard__label Step 3
        li
            a.c-wizard__item(href="#")
                .c-wizard__indicator 4
                .c-wizard__label Step 4
        li
            a.c-wizard__item(href="#")
                .c-wizard__indicator 5
                .c-wizard__label Step 5