extends /templates/_layouts/master

block append pageVariables
    - var moduleTitle = "Contract type - New contract"
    - var bodyClass = "c-body"

block body
    .c-app-layout-alt
        main.c-app-layout-alt__main
            .c-app-layout-inner
                .c-app-layout-inner__content
                    .c-navbar.c-navbar--white.c-navbar--fixed-top.c-navbar--scrollable.c-navbar--bordered-bottom
                        .c-navbar-scroll-wrapper
                            .c-toolbar
                                .c-toolbar__left
                                    .c-toolbar__item
                                        a.c-button.c-button--icon.c-button--borderless(href="/prototypes/index.html")
                                            .c-button__content
                                                +icon('arrow-left')
                                                .u-sr-accessible Back
                                    .c-toolbar__item
                                        h2.c-toolbar__title New contract
                                .c-toolbar__left
                                    .c-toolbar__item
                                        nav.c-wizard
                                            ul
                                                li
                                                    a.c-wizard__item.c-wizard--complete(href="contract-create-1.html")
                                                        .c-wizard__indicator
                                                        .c-wizard__label General info
                                                li
                                                    a.c-wizard__item(href="contract-create-2.html")
                                                        .c-wizard__indicator 2
                                                        .c-wizard__label Location and dates
                                                li
                                                    a.c-wizard__item(href="contract-create-3.html")
                                                        .c-wizard__indicator 3
                                                        .c-wizard__label Function and risks
                                                li
                                                    a.c-wizard__item.c-wizard--active(href="#")
                                                        .c-wizard__indicator 4
                                                        .c-wizard__label Contract type
                                                li
                                                    a.c-wizard__item(href="contract-create-5.html")
                                                        .c-wizard__indicator 5
                                                        .c-wizard__label Confirm
                                .c-toolbar__right
                                    .c-toolbar__item
                                        .c-button-toolbar
                                            +c-button({icon: 'arrow-left'}) Back
                                            +c-button({skin: 'primary', layout: 'text-icon', icon: 'arrow-right'}) Next


                    .o-container-vertical
                        .o-container.o-container--medium
                            .o-form-group-layout.o-form-group-layout--horizontal
                                .o-form-group
                                    label.o-form-group__label Contract type
                                    .o-form-group__controls
                                        .c-radio-group
                                            .c-radio
                                                label
                                                    input(type="radio" name="radio1")
                                                    | Artistic contract, paid based on duration
                                                p.c-form-help-text.u-spacer-left-xl Your work will be covered by an employment contract.
                                            .c-radio
                                                label
                                                    input(type="radio" name="radio1")
                                                    | Other type of contract
                                                p.c-form-help-text.u-spacer-left-xl Contrat artistique au cachet, contrat d'engagement artistique 1er bis, contrat étudiant

                                hr.c-hr

                                .o-form-group
                                    label.o-form-group__label Is your fiscal residence abroad
                                    .o-form-group__controls
                                        .c-radio-group.c-radio-group--inline
                                            .c-radio
                                                label
                                                    input(type="radio" name="radio1")
                                                    | Yes
                                            .c-radio
                                                label
                                                    input(type="radio" name="radio1")
                                                    | No
                                            p.c-form-help-text
                                                | State if you are a Belgian fiscal resident or foreigner.
                                                |
                                                a.c-link(href="#") Learn more about fiscal residence


                                hr.c-hr

                                .o-form-group
                                    label.o-form-group__label(for="domain") Withholding rate
                                    .o-form-group__controls.o-form-group__controls--full-width
                                        +c-select( { id: 'domain', value: ['Select a rate', '11.11%', '21%']})
                                        p.c-form-help-text
                                            | The selected rate is the one you entered on your registration form. You can change the rate by using the dropdown.
                                            |
                                            a.c-link(href="#") Learn more about withholding rate


                                .o-form-group
                                    .u-spacer-left-auto
                                        +c-button({skin: 'primary', layout: 'text-icon', icon: 'arrow-right'}) Next
