extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Contract"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar.u-position-fixed
            include /templates/prototypes/old-desk/_includes/side-menu

        .c-app-layout-inner__content
            .u-scroll-wrapper
                .c-navbar.u-position-fixed.main-title
                    .c-toolbar
                        .c-toolbar__left
                            .c-toolbar__item
                                h2.c-toolbar__title
                                    | Contract:
                                    |
                                    span.u-text-muted 2022.NET.012345
                            .c-toolbar__item
                                +c-status-pill({skin: 'pending'}) Draft
                        .c-toolbar__right
                            .c-button-toolbar
                                +c-button({icon: 'edit'}) Edit


                .u-scroll-wrapper-body
                    .u-spacer-xl
                        .c-panel
                            .c-panel__body 
                                .u-spacer-bottom-l
                                    +c-alert({title: 'Contract saved', message: 'This contract has been first saved on 2022-01-02. Last update on 2022-01-02.'})

                                include /templates/prototypes/old-desk/_includes/contract-confirm
