extends /templates/_layouts/master

block append pageVariables
    - var moduleTitle = "Dashboard"
    - var bodyClass = "u-maximize-height u-overflow-hidden"

block body
    .c-app-layout(class=fullScroll? "u-scroll" : "")
        main.u-maximize-width(class=!fullScroll? "u-scroll-wrapper" : "")
            .c-navbar.c-navbar--bordered-bottom
                .c-toolbar
                    .c-toolbar__left
                        .c-toolbar__item
                            a.c-button.c-button--icon.c-button--borderless(href="/prototypes/index.html")
                                .c-button__content
                                    +icon('arrow-left')
                                    .u-sr-accessible Back
                        .c-toolbar__item
                            h2.c-toolbar__title New contract
                    .c-toolbar__left
                        .c-toolbar__item
                            nav.c-wizard
                                ul
                                    li
                                        a.c-wizard__item.c-wizard--complete(href="contract-create-1.html")
                                            .c-wizard__indicator
                                            .c-wizard__label General info
                                    li
                                        a.c-wizard__item(href="contract-create-2.html")
                                            .c-wizard__indicator 2
                                            .c-wizard__label Location and dates
                                    li
                                        a.c-wizard__item(href="contract-create-3.html")
                                            .c-wizard__indicator 3
                                            .c-wizard__label Function and risks
                                    li
                                        a.c-wizard__item(href="contract-create-4.html")
                                            .c-wizard__indicator 4
                                            .c-wizard__label Contract type
                                    li
                                        a.c-wizard__item.c-wizard--active(href="#")
                                            .c-wizard__indicator 5
                                            .c-wizard__label Confirm
                    .c-toolbar__right
                        .c-toolbar__item
                            .c-button-toolbar
                                +c-button({icon: 'arrow-left'}) Back

            .u-scroll-wrapper-body
                .o-container
                    .o-container-vertical
                        .o-container.o-container--medium
                            .u-spacer-bottom
                                +c-alert({
                                    skin: 'warning',
                                    title: 'Please review and save your form to complete it.',
                                    message: 'Before saving your form, it is possible to edit it and simulate your compensation.'
                                })

                            include /templates/prototypes/old-desk/_includes/contract-confirm
                            .u-spacer-top
                                .c-toolbar
                                    .c-toolbar__right
                                        .c-toolbar__item
                                            .c-button-toolbar
                                                +c-button({icon: 'save', skin: 'primary'}) Save
                                                +c-button({icon: 'edit'}) Edit
                                                +c-button({icon: 'bills'}) Simulate salary
