extends templates

block append pageVariables
    - var moduleTitle = "Design tests"

block subContent

    .c-display
        h2 Design tests

        p These tests are mostly used as “design unit tests” to see if the system is functioning correctly. If you are not actively developing the design system, feel free to ignore this.

        ul
            li: a(href="/templates/design-tests/figure-figcaption.html") Figure/figcaption
            li: a(href="/templates/design-tests/video.html") Responsive video and images
            li: a(href="/templates/design-tests/quotations.html") Quotations
            li: a(href="/templates/design-tests/tables.html") Tables in content
            li: a(href="/templates/design-tests/type-test.html") Type test
            li: a(href="/templates/design-tests/display-test.html") Display test
