extends ../index

block append pageVariables
    - var moduleTitle = "Templates"

block content

    .o-container-vertical
        h1.c-d-h1 Templates

        .o-grid
            .o-grid-col-bp3-3
                .u-spacer-bottom
                    .u-spacer-right-bp3
                        ul.c-side-menu
                            li.c-side-menu__item(class=pathname.match(/examples\/templates/) ? "c-side-menu__item--active" : "")
                                a.c-side-menu__link(href="/examples/templates.html") Example templates
                            li.c-side-menu__item(class=pathname.match(/prototypes\/index/) ? "c-side-menu__item--active" : "")
                                a.c-side-menu__link(href="/prototypes/index.html") Prototypes
                            li.c-side-menu__item(class=pathname.match(/examples\/design-tests/) ? "c-side-menu__item--active" : "")
                                a.c-side-menu__link(href="/examples/design-tests.html") Design tests

            .o-grid-col-bp3-9
                block subContent
                    .c-display

                        h2 Example templates

                        p You can reference the following example templates to see how to use the components in practice.

                        +c-status-pill({skin: 'success'}) Uptodate 
                        ul  

                            h4 Simulation 
                            li: a(href="/prototypes/tools/simulation-empty.html") Compensation simulation (empty)
                            li: a(href="/prototypes/tools/simulation-error.html") Compensation simulation (error)
                            li: a(href="/prototypes/tools/simulation-loading.html") Compensation simulation (loading)
                            li: a(href="/prototypes/tools/simulation-enhanced.html") Compensation simulation (enhanced with htmx)
                            li: a(href="/prototypes/tools/simulation-enhanced-alpine.html") Compensation simulation (enhanced with alpine)

                            h4 Curu
                            li: a(href="/examples/template-examples/terms-and-conditions.html") Terms and conditions
                            li: a(href="/examples/template-examples/terms-and-conditions--acceptation.html") Terms and conditions (Acceptation)
                            li: a(href="/examples/template-examples/terms-and-conditions--after-acceptation.html") Terms and conditions (After Acceptation)
                            li: a(href="/examples/template-examples/terms-and-conditions--blocage.html") Terms and conditions (After Acceptation)
                            
                            h4 Login
                            li: a(href="/examples/template-examples/sign-in-form.html") Sign in form
                            li: a(href="/examples/template-examples/account-recovery.html") Account recovery
                            li: a(href="/examples/template-examples/account-recovery-valid-process-done.html") Account recovery, what's happening next ?

                            h4 Dashboard
                            li: a(href="/prototypes/account/dashboard.html") Dashboard without communication
                            li: a(href="/prototypes/account/dashboard-curu.html") Dashboard with curu
                            li: a(href="/prototypes/account/dashboard-curu-communication.html") Dashboard with curu and communication
                            li: a(href="/prototypes/account/dashboard-12-01.html") Dashboard with communication from 14 december to 15 january

                        h2 To archive
                        +c-status-pill({skin: 'warning'}) Depreciated 

                        ul

                            h4 Switch view in CFA
                            li: a(href="/examples/template-examples/formateurs.html") Formateurs
                            li: a(href="/examples/template-examples/formations.html") Formations

                            h4 Old pages

                            li: a(href="/examples/template-examples/register-form.html") Register form
                            li: a(href="/examples/template-examples/contact-form.html") Contact form
                            li: a(href="/examples/template-examples/horizontal-form.html") Horizontal form
                            li: a(href="/examples/template-examples/app-datagrid.html") Application index page with datagrid
                            li: a(href="/examples/template-examples/app-form.html") Application form
                            li: a(href="/examples/template-examples/wizard.html") Application form with wizard
                            li: a(href="/examples/template-examples/global-banner.html") Application form with global banner
                            li: a(href="/examples/template-examples/app-side-menu.html") Application form with side menu
                            li: a(href="/examples/template-examples/dialog.html") Dialog example
                            li: a(href="/examples/template-examples/404.html") Application 404 error
