.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        .c-input-with-icon
            +icon('search')
            input.c-input(type="text" placeholder="Enter your search term...")
