.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        .c-input-with-icon
            input.c-input(type="password")
            button.c-input-with-icon__toggle(data-password-toggle)
                +icon('eye')
                +icon('eye-off')
