.o-grid
    .o-grid-col-3.c-card.c-card__banner(data-gradient style="--bckg-color: black; --title-color: #FFBC1A; --background: url('../images/banner-december-2022.jpg'); --gradient-step-1-pos: 20%; --gradient-step-1-opacity: 0.85; --gradient-step-2-pos: 80%; --gradient-step-2-opacity: 0.25; --gradient-color: 0, 0, 0;")
            .c-card__banner--text
                .wrap
                    p.sub-title Smart vous<br> souhaite de
                    p.main-title.c-h3 joyeuses fêtes<br> de fin d'années
    .o-grid-col-3.c-card.c-card__banner(data-gradient style="--bckg-color: #00A57; --title-color: #FFBC1A; --background: url('../images/banner-december-2022-1.png'); --gradient-step-1-pos: 5%; --gradient-step-1-opacity: 0.35; --gradient-step-2-pos: 80%; --gradient-step-2-opacity: 0.25; --gradient-color: 0, 165, 125;")
            .c-card__banner--text
                .wrap
                    p.sub-title Smart vous<br> souhaite de
                    p.main-title.c-h3 joyeuses fêtes<br> de fin d'années
    .o-grid-col-3.c-card.c-card__banner(data-gradient style="--bckg-color: black; --title-color: #FF4054; --background: url('../images/banner-december-2022-1.png'); --gradient-step-1-pos: 20%; --gradient-step-1-opacity: 0.45; --gradient-step-2-pos: 80%; --gradient-step-2-opacity: 0.25; --gradient-color: 0, 0, 0;")
            .c-card__banner--text
                .wrap
                    p.sub-title Smart vous<br> souhaite de
                    p.main-title.c-h3 joyeuses fêtes<br> de fin d'années