<h1>Manfred Design</h1>
<ul class="c-side-menu">
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/activity/index.html">Dashboard</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/activity/invoices.html">Quotes and invoices</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/activity/contracts.html">Contracts</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/activity/expenses.html">Expenses</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/activity/funding.html">Funding</a>
    </li>
</ul>