<ul class="c-side-menu">
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/activities.html">Activities</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/invoices.html">Quotes and invoices</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/contracts.html">Contracts</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/expenses.html">Expenses</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/funding.html">Financement</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/new-desk/advisor/contracts-covid-19.html">Contracts in COVID-19 period</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/members.html">Members</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="/prototypes/old-desk/advisor/archives.html">Archives</a>
    </li>
</ul>