<ul class="c-side-menu">
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Dashboard</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Quotes and invoices</a>
    </li>
    <li class="c-side-menu__item c-side-menu__item--active">
        <a class="c-side-menu__link" href="#">Contracts</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Expenses</a>
    </li>
    <li class="c-side-menu__item">
        <a class="c-side-menu__link" href="#">Financement</a>
    </li>
</ul>