.o-form-group-layout.o-form-group-layout--standard

    .o-form-group
        label.o-form-group__label(for="defaultFormNameId") Name
        .o-form-group__controls
            input.c-input(type="email" value="John Doe" id="defaultFormNameId")

    .o-form-group
        label.o-form-group__label(for="defaultFormEmailId") Email address
        .o-form-group__controls
            input.c-input(type="email" value="user@name.com" id="defaultFormEmailId")

    .o-form-group
        label.o-form-group__label(for="defaultFormpasswordId") Password
        .o-form-group__controls
            .c-input-with-icon
                input.c-input(type="password" id="defaultFormpasswordId")
                button.c-input-with-icon__toggle(data-password-toggle)
                    +icon('eye')
                    +icon('eye-off')

    .o-form-group
        .o-form-group__label.o-form-group__label--with-helper
            label(for="defaultFormSelectId") Preference
            +c-button({ size: 'small', layout: 'icon-only', icon: 'circle-help', skin: 'borderless-muted' })(type="button" data-tooltip="preference-tooltip" data-tooltip-placement="right") Show info
            .c-tooltip(role="tooltip" id="preference-tooltip")
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .c-tooltip__arrow(data-popper-arrow)
        .c-select-holder
            select.c-select(id="defaultFormSelectId")
                option Option A
                option Option B
                option Option C

    .o-form-group
        input.c-button.c-button--primary(type="submit" value="Save")
