extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Formateurs"
    - var view = "list"

block content
    .c-app-layout-inner
        .c-app-layout-inner__sidebar.u-position-fixed
            include /templates/prototypes/partials/side-menu-cfa

        .c-app-layout-inner__content
            include /templates/prototypes/partials/main-title-filters-formateurs

            .o-container.o-container--large
                .o-container-vertical--padding-small.u-position-relative
                    table.c-table.c-table--styled.js-data-table
                        thead
                            tr
                                th ID
                                th Formateur
                                th Modifications
                                th Status
                                th
                                    // Actions
                        tbody
                            each item, index in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                                tr
                                    td 00337D-9900337D-99
                                    td someone@smart.coop
                                    td 10/17/2022
                                    td
                                        +c-status-pill({skin: 'success'}) Super user
                                    td
                                        .c-button-toolbar
                                            +c-button({skin: 'borderless', icon: 'options-horizontal', layout: 'icon-only'})(data-menu-placement="bottom-end" data-menu="dropdownMenu-"+index) More options

                                            ul.c-menu(id="dropdownMenu-"+index)
                                                li.c-menu__item
                                                    a.c-menu__label(href="#")
                                                        +icon('edit')
                                                        span Edit
                                                li.c-menu__item
                                                    a.c-menu__label(href="#")
                                                        +icon('delete')
                                                        span Delete
                                                li.c-menu__item
                                                    a.c-menu__label(href="#")
                                                        +icon('add')
                                                        span Add more