extends /templates/_layouts/master

block append pageVariables
    - var bodyClass = 'u-bg-gray-25'

block body

    header.o-container-vertical.c-navbar.c-navbar--white.c-navbar--entry
        .o-container.o-container--small
            .o-grid
                .o-grid-col-6
                    +c-brand({size: "small"})
                .o-grid-col-6
                    ul.c-pill-navigation
                        li.c-pill-navigation__item.c-pill-navigation__item--has-child-menu.u-spacer-left-auto
                            button(type="button" data-menu="lang-switch"  data-menu-samewidth="true") Français
                            ul.c-menu.c-menu--large#lang-switch
                                li.c-menu__item
                                    a.c-menu__label(href="/fr") Français
                                li.c-menu__item
                                    a.c-menu__label(href="/nt") Nederlands
    main.o-container-vertical
        .o-container.o-container--small
            h3.c-h2.u-spacer-bottom-xl Connectez-vous
            .c-panel.u-shadow-50
                .c-panel__body.u-padding-vertical-l
                    form
                        .o-form-group-layout.o-form-group-layout--standard
                            .o-form-group
                                label.o-form-group__label Adresse email ou nom d'utilisateur
                                .o-form-group__controls
                                    input.c-input(type="email")

                            .o-form-group
                                label.o-form-group__label(for="passwordId") Mot de passe
                                .o-form-group__controls
                                    .c-input-with-icon
                                        input.c-input#passwordId(type="password")
                                        button.c-input-with-icon__toggle(data-password-toggle)
                                            +icon('eye')
                                            +icon('eye-off')

                            .o-form-group.u-flex.u-flex--twins
                                a.c-button.c-button--primary(href="#")
                                    .c-button__content
                                        .c-button__label Se connecter
                                
                                a.c-button.c-button--borderless(href="/examples/template-examples/account-recovery.html")
                                    .c-button__content
                                        .c-button__label.u-text-right Nom d'utilisateur ou mot de passe oublié ?

                            p.c-or
                                span or

                            .o-form-group
                                a.c-button.c-button--borderless.c-button--block(href="#")
                                    .c-button__content
                                        .c-button__label Register your account