.c-blank-slate
    +c-avatar({icon: 'document', size: 'large'})
    p.u-text-muted.c-body-1 There are no items yet.
    +c-button({icon: 'add'}) Add item

.c-blank-slate.c-blank-slate--bg-alt
    +c-avatar({icon: 'document', size: 'large'})
    p.u-text-muted.c-body-1 There are no items yet.
    +c-button({icon: 'add'}) Add item
