extends /templates/_layouts/master

block append pageVariables
    - var moduleTitle = "Type test"

block body
    div(style="padding: 40px;")
        .c-content
            h1 Quotations test
            p This page tests usage of quotes.

        .o-grid
            .o-grid-col-6
                .c-content
                    p English quote: he said <q>Hey</q>
                    p French quote: <span lang="fr">Il a dit <q>Bonjour!</q></span>
                    p Block quote (only supports paragraph content)

                    // In this example, quotes are enabled by an automatic class
                    blockquote.c-block-quote--enable-auto-quotes
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        cite Person who said it
                    // In this example quotes are set manually
                    blockquote
                        p “Lorem ipsum dolor sit amet, consectetur adipisicing elit:
                        ul
                             li Sed do eiusmod tempor incididunt ut labore et
                             li Dolore magna aliqua. Ut enim ad minim veniam
                             li quis nostrud exercitation ullamco laboris
                        p consectetur adipisicing elit”

                .c-display
                    p English quote: he said <q>Hey</q>
                    p French quote: <span lang="fr">Il a dit <q>Bonjour!</q></span>
                    p Block quote (only supports paragraph content)

                    // In this example, quotes are enabled by an automatic class
                    blockquote.c-block-quote--enable-auto-quotes
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        cite Person who said it
                    // In this example quotes are set manually
                    blockquote
                        p “Lorem ipsum dolor sit amet, consectetur adipisicing elit:
                        ul
                             li Sed do eiusmod tempor incididunt ut labore et
                             li Dolore magna aliqua. Ut enim ad minim veniam
                             li quis nostrud exercitation ullamco laboris
                        p consectetur adipisicing elit”

