extends /templates/_layouts/master

block append pageVariables
    - var moduleTitle = "Type test"

block body
    div(style="padding: 40px;")
        .c-content

            h1 Responsive images and video
            p This page tests responsive images and video (that keeps its aspect ratio).
            
             .c-video-wrapper.c-video-wrapper--aspect-16-9
                iframe(width='560' height='315' src='https://www.youtube.com/embed/kevqiiYNFrc' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
