.c-error-page
    span.c-error-page__code 500
    h4.c-error-page__title Internal server error
    p.c-error-page__desc Please try again later or contact us

    .c-button-toolbar
        +c-button({ href: '#' }) Contact
