div(style="position: relative; width: 100%; height: 100%; min-height: 220px;")
    ul.c-alert-stack(style="position: absolute;")
        li.c-alert.c-alert--dark
            +icon('circle-check', 'o-svg-icon--green')
            .c-alert__body
                p Item added.
