.c-empty-state
    p.u-text-muted.c-body-1 There are no items yet.
    +c-button({skin: 'primary', icon: 'add'}) Add item

.c-empty-state.c-empty-state--bg-alt
    p.u-text-muted.c-body-1 There are no items yet.
    +c-button({skin: 'primary', icon: 'add'}) Add item
