extends ../../index

block append pageVariables
    - var moduleTitle = "Copywriting - Design system in practice"

block content

    .o-container-vertical

        h1.c-d-h1 Design system in practice

        .o-grid

            .o-grid-col-bp3-3
                .u-spacer-bottom
                    ul.c-side-menu
                        li.c-side-menu__item(class=pathname.match(/design\/in-practice\/copywriting/) ? "c-side-menu__item--active" : "")
                            a.c-side-menu__link(href="/design/in-practice/copywriting.html") Copywriting

                        li.c-side-menu__item(class=pathname.match(/design\/in-practice\/icon-workflow/) ? "c-side-menu__item--active" : "")
                            a.c-side-menu__link(href="/design/in-practice/icon-workflow.html") Icon workflow

            .o-grid-col-bp3-9
                block subContent
                    .c-display
                        .u-spacer-bottom-xl
                            h3 Copywriting
                        .u-spacer-bottom-xl
                            h4 Languages used
                            p Languages commonly used by Smart:
                            table
                                tbody
                                    tr
                                        td French
                                        td Swedish
                                    tr
                                        td Dutch
                                        td German
                                    tr
                                        td English
                                        td Spanish
                                    tr
                                        td Italian
                                        td Hungarian
                            p Make sure to put the correct language on the <code>html</code> tag e.g.
                            pre
                                code &lt;html lang="en"&gt;
                        .u-spacer-bottom-xl
                            h4 Quotes
                            p In most languages, quotes are handled by using “ and ” characters. But in French we use “les guillemets” (« and »). If you use an inline quotation element (<code>q</code>) or a blockquote, this is handled automatically for you.
                        .u-spacer-bottom-xl
                            h4 Currency usage
                            p In French, the €-sign is placed after the value (e.g. 25€). In English and Dutch the euro sign is in front of the value.
                        .u-spacer-bottom-xl
                            h4 Spelling &amp; capitalisation
                            p When using, English we use UK spelling as opposed to US spelling.
                        .u-spacer-bottom-xl
                            h4 Title casing
                            p We don’t use title casing. Titles are not title cased.