div(style="height: 200px;")
    +c-button({icon: 'caret-down', layout: 'text-icon'})(data-menu="dropdownMenu3") Open dropdown
ul.c-menu(id="dropdownMenu3")
    li.c-menu__item
        a.c-menu__label(href="#") Item A
    li.c-menu__item
        a.c-menu__label(href="#") Item B - Lorem ipsum dolor sit amet, consectetur adipisicing elit
    li.c-menu__item
        a.c-menu__label(href="#") Item C
    li.c-menu__divider(role="presentation")
    li.c-menu__item
        a.c-menu__label(href="#") Extra Item
