ul.c-side-menu
    li.c-side-menu__item.c-side-menu__item--active
        a.c-side-menu__link(href="#")
            +icon('home')
            .c-sidebar-item__label Item
    li.c-side-menu__item
        a.c-side-menu__link(href="#")
            +icon('document')
            .c-sidebar-item__label Item
    li.c-side-menu__item
        a.c-side-menu__link(href="#")
            +icon('bills')
            .c-sidebar-item__label Item


