ul.c-side-menu
    li.c-side-menu__item.c-side-menu__item--active
        a.c-side-menu__link(href="#") Item
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Item
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Item
