extends master

block body
    .c-main-layout
        include /templates/_includes/main-header
        main.u-scroll-wrapper.u-maximize-width
            block content

    block modals

    block alerts
