extends master

block append pageVariables
    - var bodyClass = "u-maximize-height u-overflow-hidden"

block body
    .c-app-layout
        include /templates/_includes/main-header
        main.u-scroll-wrapper.u-maximize-width
            block content

    block dialogs

    block alerts
