extends master

block append pageVariables
    - var bodyClass = "u-maximize-height"

block body
    .c-app-layout(class=fullScroll? "u-scroll-vertical" : "")
        block global-banner-stage
        header.u-position-fixed.u-maximize-width
            include /templates/prototypes/_includes/main-header
        main.u-maximize-width(class=!fullScroll? "u-scroll-wrapper" : "")
            block content
