
.u-spacer-bottom
    +c-alert({
        title: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })

.u-spacer-bottom
    +c-alert({
        skin: 'error',
        title: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })
.u-spacer-bottom
    +c-alert({
        skin: 'warning',
        title: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })
.u-spacer-bottom
    +c-alert({
        skin: 'success',
        title: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })
