
.u-spacer-bottom
    +c-alert({
        message: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })

.u-spacer-bottom
    +c-alert({
        skin: 'error',
        message: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })
.u-spacer-bottom
    +c-alert({
        skin: 'warning',
        message: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })
.u-spacer-bottom
    +c-alert({
        skin: 'success',
        message: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit.'
    })
