
.u-spacer-bottom
    +c-alert({
        title: 'Lorem ipsum dolor sit amet.',
        message: 'Nam eget hendrerit massa, a consequat turpis. Duis cursus dui quis blandit mattis. Etiam condimentum metus ut risus facilisis lobortis.',
        isLight: true
    })

.u-spacer-bottom
    +c-alert({
        skin: 'error',
        title: 'Lorem ipsum dolor sit amet.',
        message: 'Nam eget hendrerit massa, a consequat turpis. Duis cursus dui quis blandit mattis. Etiam condimentum metus ut risus facilisis lobortis.',
        isLight: true
    })
.u-spacer-bottom
    +c-alert({
        skin: 'warning',
        title: 'Lorem ipsum dolor sit amet.',
        message: 'Nam eget hendrerit massa, a consequat turpis. Duis cursus dui quis blandit mattis. Etiam condimentum metus ut risus facilisis lobortis.',
        isLight: true
    })
.u-spacer-bottom
    +c-alert({
        skin: 'success',
        title: 'Lorem ipsum dolor sit amet.',
        message: 'Nam eget hendrerit massa, a consequat turpis. Duis cursus dui quis blandit mattis. Etiam condimentum metus ut risus facilisis lobortis.',
        isLight: true
    })
