.c-navbar.u-position-fixed.main-title
    .c-toolbar
        .c-toolbar__left
            .c-toolbar__item
                h1.c-toolbar__title= moduleTitle
        .c-toolbar__right
            .c-toolbar__item
                p.text-muted Version 1.2. - <strong>18 janvier 2023</strong>