.c-navbar.u-position-fixed.main-title
    .c-toolbar
        .c-toolbar__left
            .c-toolbar__item
                h1.c-toolbar__title= moduleTitle
        .c-toolbar__right
            .c-toolbar__item
            .o-form-group.o-flex.o-flex--vertical-center
                label.o-form-group__label.u-spacer-right(for="selectId") Filtrer par année
                .o-form-group__controls
                    .c-select-holder
                        select.c-select(id="selectId")
                            option 2020
                            option 2021
                            option 2022
                            option 2023
                            option 2024