ul.c-side-menu
    li.c-side-menu__item.c-side-menu__item--active
        a.c-side-menu__link(href="#") Home
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Prestation en cours
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Nouvelle prestation
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Simulation
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Vos documents
    li.c-side-menu__item
        a.c-side-menu__link(href="#") Formateurs associés