extends /templates/prototypes/_layouts/default

block append pageVariables
    - var moduleTitle = "Detachments"
    - var view = "list"

block content

    .u-position-relative
        .c-navbar.c-navbar--scrollable
            .c-toolbar
                .c-toolbar__left
                    .c-toolbar__item
                        a.c-button.c-button--icon.c-button--borderless(href="/prototypes/index.html")
                            .c-button__content
                                +icon('arrow-left')
                                .u-sr-accessible Back
                    .c-toolbar__item
                            h2.c-toolbar__title Detachments in France
                    .c-toolbar__item
                        ul.c-filter-pill-list
                            li.c-filter-pill-list__item
                                .c-popover(role="popover" id="startDateFilter")
                                    h4.c-h4 Reference
                                    .u-padding-vertical-s
                                        .o-form-group-layout.o-form-group-layout--standard
                                            .o-form-group
                                                label.o-form-group__label.u-sr-accessible(for="filterCriteriaStartDate") Criteria
                                                .o-form-group__controls.o-form-group__controls--full-width
                                                    +c-select( { id: 'filterCriteriaStartDate', value: ['Equal to', 'Not equal to', 'After', 'After or equal to', 'Before', 'Before or equal to']})
                                            .o-form-group
                                                +c-input-group-after({ id: 'startDate', icon: 'calendar'})
                                    .c-toolbar.c-toolbar--auto
                                        .c-toolbar__right
                                            .c-toolbar__item
                                                .c-button-toolbar
                                                    +c-button({}) Reset
                                                    +c-button({skin: 'primary'}) Apply filter

                                +c-filter-pill({})(data-popover="startDateFilter" data-popover-placement="bottom-start") Reference

                            li.c-filter-pill-list__item
                                +c-filter-pill({}) Employee
                            li.c-filter-pill-list__item
                                +c-filter-pill({}) Advisor
                            li.c-filter-pill-list__item
                                +c-filter-pill({}) Status A1
                            li.c-filter-pill-list__item
                                +c-filter-pill({}) Status DPD
                            li.c-filter-pill-list__item
                                +c-filter-pill({}) Month
                            li.c-filter-pill-list__item
                                +c-filter-pill({}) Year

    .u-scroll-wrapper-body
        block contracts

        .c-navbar.c-navbar--scrollable.c-navbar--bordered-top
            .c-toolbar
                .c-toolbar__left
                    .c-toolbar__item
                        p.c-body-2.u-text-muted
                            | 1 - 10 of 18 items
                .c-toolbar__right
                    .c-toolbar__item
                        nav.c-pagination(aria-label='Page navigation')
                            ul.c-pagination__nav
                                li.c-pagination__item
                                    +c-button({ href: '#', layout: 'icon-only', icon: 'chevron-left', skin: 'borderless'})(disabled)
                                li.c-pagination__item.c-pagination__item--active
                                    a.c-pagination__link(href='#') 1
                                li.c-pagination__item
                                    a.c-pagination__link(href='#') 2
                                li.c-pagination__item
                                    +c-button({ href: '#', layout: 'icon-only', icon: 'chevron-right', skin: 'borderless'})
