.c-button-toolbar.c-button-toolbar--compact
    button.c-button.c-button--icon.c-button--secondary
        +icon('actions/add')
        .u-sr-accessible
            | Add
    button.c-button.c-button--icon.c-button--secondary
        +icon('status/dot')
        .u-sr-accessible
            | Reset
    button.c-button.c-button--icon.c-button--secondary
        +icon('actions/remove')
        .u-sr-accessible
            | Remove
