.c-button-toolbar.c-button-toolbar--compact
    button.c-button.c-button--icon.c-button--secondary
        +icon('add')
        .u-sr-accessible
            | Add
    button.c-button.c-button--icon.c-button--secondary
        +icon('edit')
        .u-sr-accessible
            | Edit
    button.c-button.c-button--icon.c-button--secondary
        +icon('remove')
        .u-sr-accessible
            | Remove
