.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        .c-input-group
            .c-input-group__prepend
                +icon('search')
            input.c-input(type="text" placeholder="Search ...")

