.o-form-group-layout.o-form-group-layout--standard
    .o-form-group
        label.o-form-group__label(for="textFieldId") Label
        .c-file-upload
            input(type="file")
            .c-file-upload__content
                .u-spacer-bottom
                    +c-button({ icon: 'attachment'}) Upload document
                p Drag your file here or click the button to select a file
