.c-file-upload
    input(type="file" disabled)
    .c-file-upload__content
        .c-file-upload__status
            span Upload complete
            +icon('circle-check', 'o-svg-icon--green')
        .c-progress-bar.c-progress-bar--success(style="--value: 1")
